<template>
  <div>
    <div class="columns project-columns">
      <template v-for="(e, index) in projects">
        <template v-if="index == projectOpen">
          <div class="column in-8">
            <img :src="$imagekit(e.image.path)" class="image-box" />
            <div class="column is-12 project-section-box">
              <span v-for="(proj, i) in projects" class="project-section" @click="open_job(i)">
                <template v-if="i == activeSection">
                  <img :src="section_active">
                </template>
                <template v-else>
                  <img :src="section">
                </template>
              </span>
            </div>
          </div>
          <div class="column in-4">
            <div class="project-bg">
              <img :src="projectBg">
            </div>
            <div class="project-info">
              <h4>{{e.title}}</h4>
              <div class="project-body" v-html="e.body"></div>
              <div class="project-links">
                <img :src="prev" class="prev-project" @click="prev_project(index)">
                <img :src="next" class="next-project" @click="next_project(index)">
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    projects: Array,
  },

  data() {
    return {
      projectOpen: 0,
      next: require("~/assets/img/about_us/next.png"),
      prev: require("~/assets/img/about_us/prev.png"),
      projectBg: require("~/assets/img/about_us/project_bg.png"),
      section: require("~/assets/img/about_us/section.png"),
      section_active: require("~/assets/img/about_us/section_active.png"),
      activeSection: 0,
    };
  },

  methods: {
    next_project(project) {
      let projectsTotal = this.projects.length;
      if (project + 1 >= projectsTotal) {
        this.projectOpen = 0;
      } else {
        this.projectOpen = project + 1;
      }
    },
    prev_project(project) {
      let projectsTotal = this.projects.length;
      if (project - 1 < 0) {
        this.projectOpen = projectsTotal - 1;
      } else {
        this.projectOpen = project - 1;
      }
    },
    open_job(job) {
      this.projectOpen = job;
      this.activeSection = job;
    },
  },

};
</script>
