<template>
	<div>
		<div class="columns employee-columns">
			<template v-for="(e, index) in employees">
				<template v-if="index == employeeOpen">
					<div class="column in-4">
						<div class="employee-info">
							<h4>{{e.title}}</h4>
							<div class="employee-body" v-html="e.body"></div>
							<div class="employee-links">
								<img :src="prev" class="prev-employee" @click="prev_employee(index)">
								<img :src="next" class="next-employee" @click="next_employee(index)">
							</div>
						</div>
					</div>
					<div class="column in-8">
						<img :src="e.image.path" class="employee-image">
					</div>	
				</template>
			</template>	
		</div>
	</div>
</template>
<script>
	export default {
	  props: {
	    employees: Array
	  },
	  data() {
	  	return {
	  		employeeOpen: 0,
	  		next: require("~/assets/img/about_us/next.png"),
	  		prev: require("~/assets/img/about_us/prev.png")
	  	}
	  },
	  methods: {
	  	next_employee(employee) {
	  		let employeesTotal = this.employees.length
	  		if (employee + 1 >= employeesTotal) {
	  			this.employeeOpen = 0
	  		}else {
	  			this.employeeOpen = employee + 1
	  		}
	  	},
	  	prev_employee(employee) {
	  		let employeesTotal = this.employees.length
	  		if (employee - 1 < 0) {
	  			this.employeeOpen = employeesTotal - 1
	  		}else {
	  			this.employeeOpen = employee - 1
	  		}
	  	}
	  }
	}
</script>
