<template>
	<div>
		<div class="columns jobs-columns">
			<template v-for="(j, index) in jobs">
				<template v-if="index == jobOpen">
					<div class="column in-4">
						<div class="jobs-info">
							<h4>{{j.title}}</h4>
							<div class="jobs-body" v-html="j.body"></div>
							<div class="jobs-link">
								<a :href="j.link">{{ j.link_title }}</a>
							</div>
						</div>
					</div>
					<div class="column in-8">
						<div class="job-bg">
							<img :src="jobBg">
						</div>
						<div class="job-images">
							<div v-for="image in j.images" class="job-image-box" :style="{backgroundImage: `url(${image.path})`}">
								
							</div>
						</div>
						<div class="columns">
							<div class="column is-6 job-section-box">
								<span v-for="(sec, i) in jobs" class="job-section" @click="open_job(i)">
									<template v-if="i == activeSection">
										<img :src="section_active">
									</template>
									<template v-else>
										<img :src="section">
									</template>
								</span>
							</div>
							<div class="column is-6">
								<div class="job-links">
									<img :src="prev" class="prev-job" @click="prev_job(index)">
									<img :src="next" class="next-job" @click="next_job(index)">
								</div>		
							</div>
						</div>
					</div>
				</template>
			</template>	
		</div>
	</div>
</template>
<script>
	export default {
	  props: {
	    jobs: Array
	  },
	  data() {
	  	return {
	  		jobOpen: 0,
	  		next: require("~/assets/img/about_us/next.png"),
	  		prev: require("~/assets/img/about_us/prev.png"),
	  		jobBg: require("~/assets/img/about_us/job_bg.png"),
	  		section: require("~/assets/img/about_us/section.png"),
	  		section_active: require("~/assets/img/about_us/section_active.png"),
	  		activeSection: 0
	  	}
	  },
	  methods: {
	  	next_job(job) {
	  		let jobsTotal = this.jobs.length
	  		if (job + 1 >= jobsTotal) {
	  			this.jobOpen = 0
	  			this.activeSection = this.jobOpen;
	  		}else {
	  			this.jobOpen = job + 1
	  			this.activeSection = this.jobOpen;
	  		}
	  	},
	  	prev_job(job) {
	  		let jobsTotal = this.jobs.length
	  		if (job - 1 < 0) {
	  			this.jobOpen = jobsTotal - 1
	  			this.activeSection = this.jobOpen;
	  		}else {
	  			this.jobOpen = job - 1
	  			this.activeSection = this.jobOpen;
	  		}
	  	},
	  	open_job(job) {
	  		this.jobOpen = job;
	  		this.activeSection = job;
	  	}
	  }
	}
</script>
