.br-input {
  background-color: white;
  position: relative;
  display: flex;
  transition: box-shadow .3s ease, border-color .3s ease;
  border: 1px solid $ui-grey-alt-2;
  padding: 27px 11px 7px 15px;
  &--disabled {
    &, * {
      cursor:  not-allowed;
    }
  }
  &:not(&--disabled) {
    &, input, label {
      cursor: text;
    }
  }
  > input {
    height: 20px;
    width: 100%;
    border: none !important;
    outline: none !important;
    padding: 0;
  }
  > label {
    transition: transform .2s ease, color .2s ease, font-size .2s ease;
    position: absolute;
    margin-top: -10px;
    line-height: 140%;
  }
  > {
    input, label {
      font-size: 14px;
      letter-spacing: 0.01em;
      color: $ui-blue;
    }
  }
  &--is-focused {
    border-color: $ui-blue !important;
    box-shadow: 0 0 0 4px #EAEFF3;
  }
  &--is-focused, &--is-dirty {
    > label {
      transform: translateY(-8px);
      font-size: 12px;
      color: $ui-medium
    }
  }
}
