.br-autocomplete {
  &--container {
    padding: 0;
  }

  input {
    border: none !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    // font-size: $font-size !important;
    font-size: 14px !important;
    line-height: 140% !important;
    letter-spacing: 0.01em !important;
    color: $ui-blue !important;
  }

  span.icon {
    height: 100%;
    padding-top: 2px;
  }

  // .select,
  // select {
  //   width: 100%;
  //   border-radius: 0 !important;
  //   height: auto !important;
  // }

  &::after {
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
    right: 1.125em;
    z-index: 4;

    background-image: url("~assets/svg/icons/chevron-down.svg");
    background-position: center;
    transform: none !important;
    border: none !important;
  }

  &-outlined {
    border: 1px solid $ui-grey-alt-2;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;

    input {
      height: 56px !important;
      padding: 18px 16px !important;

      &[disabled="disabled"] {
        background: white !important;
        color: $ui-grey-2 !important;
      }
    }

    &:focus-within {
      box-shadow: 0 0 0 4px #eaeff3;
      border-color: $ui-blue !important;
    }
  }
}

.br-autocomplete-underline,
.br-autocomplete-filled,
.br-autocomplete-outlined,
.br-autocomplete-plain {
  // select {
  //   border: none !important;
  //   box-shadow: none !important;
  //   font-weight: 500 !important;
  //   font-size: $font-size !important;
  //   line-height: 140% !important;
  //   letter-spacing: 0.01em !important;
  //   color: $ui-blue !important;
  // }
  // .select, select {
  //   width: 100%;
  //   border-radius: 0 !important;
  //   height: auto !important;
  // }
  // .select:after {
  //   background-image: url("~assets/svg/icons/chevron-down.svg");
  //   background-position: center;
  //   transform: none !important;
  //   border: none !important;
  // }
}
