.cookieControl {

  &__Modal {
    button {
      background: #111726;
    }
  }

  &__ModalContent {
    h3 {
      display: none;
    }

  }
  &__ModalClose {
    padding: 5px 8px !important;
    line-height: 1;
    height: auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
  }

  &__ModalButtons {
    button:last-child {
      display: none;
    }
  }
}
