#footer {
  background: $ui-dark-blue;
  .container {
    padding: 80px 0 40px;
    @include tablet-only {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .subscribe {
    background-color: $ui-darker-blue;
    border: 1px solid $ui-border;
    padding: 6px;
    display: flex;
    input {
      background-color: $ui-darker-blue;
      width: 100%;
      outline: none !important;
      border: none !important;
      color: white;
      margin: 0 17px;
      &::placeholder {
        color: $ui-light-blue;
      }
    }
    button {
      height: 52px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @include mobile {
    width: 100%;
    overflow: hidden;
    padding: 0px 20px;

    .container {
      padding: 20px 0;
    }

    .px-0 {
      padding: 10px !important;
    }

    hr {
      margin-bottom: 20px !important;
    }
  }
}
