$navbar-height: 16px;
$navbar-padding-vertical: 45px;
$navbar-padding-horizontal: 40px;

$navbar-total-height: $navbar-height + $navbar-padding-vertical * 2;

.has-navbar-padding {
  padding-top: $navbar-total-height;
}

.navigation-box {
  .desktop {
    .navbar-menu {
      .navbar-start, .navbar-end {
        .logo-container {
          @include desktop-only {
            justify-content: center;
          }
        }
        >a, .navbar-item, .navbar-link {
          @media screen and (min-width: $desktop) and (max-width: $fullhd - 1) {
            font-size: 1vw;
          }
          
        }
      }
    }
  }
}

.navbar {
  transition: background-color 0.3s ease;

  @include tablet-only {
    padding: 1rem !important;

    .navbar-start, .navbar-end {
      grid-gap: 24px !important;
      gap: 24px !important;
    }
  }
  .all-link {
    padding-bottom: 1rem;
  }

  .has-dropdown {
    background-color: transparent !important;
    .navbar-link {
      background-color: transparent !important;
    }
    .navbar-dropdown {
      background-color: #282627 !important;
      min-width: 55vw;
      margin-left: -1rem;
      left: -1rem;
      border-radius: 0px;
      box-shadow: none;
      border: none;
      padding-top: 1rem;

      .dopdown-menu-box {
        margin-left: 1rem;
        position: relative;
        padding-bottom: 1rem;

        .collection-title {
          color: $white;
          padding-bottom: 1.5rem;
          font-size: 1rem;
          padding-top: 6px;
        }

        .type-box {
          position: relative;
        }

        .navbar-item {
          border-radius: 0px !important;
          position: relative;
          justify-content: space-between;
          padding-right: 0;
        }

        .list-arrow {
          z-index: 999;
          float: right;
        }
        .collection {
          flex-wrap: wrap;
          padding-left: 2rem;
          .clollection-item {
            padding: 0.2rem;
            a {
              padding-left: 0px;
              padding-right: 0px;
              display: inline-block;
            }
          }
        }
        .type-box {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        .material-list {
          padding: 0.5rem 0.5rem;
          padding-left: 1.2rem;
          height: 0px;
          transition: height 1s;
          overflow: hidden;
          padding: 0px;
          opacity: 0;
          padding-left: 1.5rem;
          .list-box {
            position: relative;
            border-bottom: 1px solid transparent;
            padding-top: 6px;
            border-radius: 0px !important;
            a {
              padding-left: 0px;
              padding-right: 0px;
              margin-left: 1rem;
              &:hover {
                border-bottom: 1px solid rgba(255,255,255,0.5);
                display: inline-block;
              }
            }
            &:hover {
              // border-bottom: 1px solid $white;
            }
          }
        }
        .active {
          height: auto;
          transition: 1s ease;
          overflow: visible;
          min-height: 50px;
          opacity: 1;
        }
      }

      a {
        border-bottom: 1px solid transparent;
        &:hover {
          background-color: transparent !important;
          color: $white;
          border-bottom: 1px solid rgba(255,255,255,0.5);
        }
      }
    }
  }
  .navbar-menu-dropdown {
    position: absolute;
    left: 3rem;
    top: 70px;
    background-color: #282627;
    min-width: 300px;
    width: 30vw;
  }

  .backet-link {
    position: relative;
    top: 3px;
    .cart {
      width: 30px;
      margin: 0px;
    }
    .basket-count {
      position: absolute;
      top: -6px;
      // left: -2px;
      background-color: transparent;
      color: #fff;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      padding-right: 0px;
    }
  }
  .search-box {
    position: relative;
    svg {
      fill: $white;
      position: absolute;
      top: -2px;
      left: 0px;
      transform: rotate(-0.75turn);
    }
    .search-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding-left: 30px;
      color: $white;
      outline: none !important;
      font-size: $font-size;
      &:focus {
        border: 0px;
        border-bottom: 1px solid $white;
        outline: none !important;
      }
    }
  }

  .search-input::-webkit-input-placeholder {
    color: $white;
  }
  .search-input:-moz-placeholder {
    color: $white;
  }
  .search-input::-moz-placeholder {
    color: $white;
  }
  .search-input:-ms-input-placeholder {
    color: $white;
  }

  &.navbar-white {
    background-color: white !important;

    a {
      color: $primary
    }
    .collection-title {
      color: $black !important;
    }

    .navbar-dropdown {
      background-color: $white !important;
      color: $black;
      .navbar-item {
        a {
          color: $black;
        }
        &:hover {
          color: $black !important;
          border-bottom: 1px solid rgba(0,0,0,0.5);
        }
      }
      .list-box {
        a {
          &:hover {
            color: $black;
          }
        }
      }
    }
    .material-list {
      .list-box {
        a {
          &:hover {
            border-bottom: 1px solid rgba(0,0,0,0.5) !important;
          }
        }
      }
    }

    .logo {
      opacity: 1;
    }
    .basket-count {
      color: black;
    }
    // .arrow {
    //   border: solid black;
    //   border-width: 0px 1px 1px 0px;
    // }
    .cart {
      filter: invert(100%) contrast(100%);
    }
    .search-box {
      svg {
        fill: $black;
      }
      .search-input {
        border-bottom: 1px solid black;
        color: $black;
      }
    }
    .search-input::-webkit-input-placeholder {
      color: $black;
    }
    .search-input:-moz-placeholder {
      color: $black;
    }
    .search-input::-moz-placeholder {
      color: $black;
    }
    .search-input:-ms-input-placeholder {
      color: $black;
    }
  }

  &:not(.navbar-white) {
    background-color: transparent !important;
    a {
      color: white
    }

    .logo {
      opacity: 0;
    }
  }

  .navbar-start, .navbar-end {
    width: 100%;

    // gap: 48px;
    a {
      transition: color 0.3s ease;
      font-size: $font-size;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.01em;
      display: flex;
      align-items: center;

      white-space: nowrap;
      // gap: 10px;
    }
    // a svg{
    //   margin-right: 10px;
    // }
  }

  .navbar-start > * + * {
    margin-left: 2em;
  }

  .navbar-end > * + * {
    margin-right: 2em;
  }

  .navbar-end a{
    margin-right: 2em !important;
  }

  .navbar-start{
    a svg{
      margin-right: 10px;
    }
  }

  .navbar-end{
    a img{
      margin-right: 10px;
    }
  }

  .tag:not(body){
    margin-left: 10px
  }



  .navbar-start {
    .logo {
      margin: 0 auto;
      left: 0px;
      right: 0px;
      position: absolute;
    }
  }

  .locale-image {
    width: 25px;
    // height: 24px;
  }
  .lang-box {
    position: relative;
    cursor: pointer;
    .lang-list {
      position: absolute;
      top: 25px;
      left: 0px;
      a {
        width: 25px;
        height: 15px;
        margin-bottom: 5px;
      }
      .locale-image {
        width: 25px;
        height: 15px;
        margin: 0px;
      }
    }
  }
  // .arrow {
  //   border: solid white;
  //   border-width: 0 1px 1px 0;
  //   display: inline-block;
  //   padding: 3px;
  //   position: relative;
  //   left: 8px;
  //   top: -3px;
  // }
  // .down {
  //   transform: rotate(45deg);
  //   -webkit-transform: rotate(45deg);
  // }

}
.mobile {
  display: none;
}
.desktop {
  display: block;
}

@include touch {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;

    .navbar {
      transition: background-color 0.3s ease;

      &.navbar-white {
        background-color: white !important;

        a {
          color: $primary
        }

        .logo {
          opacity: 1;
        }
      }

      .has-dropdown {

        a {
          &:after {
            width: 0.425em;
            height: 0.425em;
            border-radius: 1px;
          }
        }

        .navbar-dropdown {
          background-color: $white !important;

          a {
            padding-left: 1.5rem;
            &:hover {
              color: $black;
            }
          }

          .navbar-item {
            padding-right: 0;

            a {
              padding-left: 0.5em !important;
              margin-top: 0.5em;
            }
          }

          .material-link {
            margin-top: 0.4em;
            margin-bottom: 0.4em;
            font-size: 1.2rem;
          }
        }

        .is-active {
          .is-active {
            border-bottom: 1px solid rgba(0,0,0,0.5);
          }
        }
      }


      &:not(.navbar-white) {
        background-color: #fff !important;
        a {
          color: black
        }

      }

      .navbar-start, .navbar-end {
        gap: 48px;
        .navbar-item {
          a {
            transition: color 0.3s ease;
            font-size: 1.563rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.01em;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 1em;
            padding-left: 1em;
          }
        }

      }

      .sidebar-panel-nav {
        width: 90%;
        width: 100%;
        padding-top: 17px;
        padding-left: 10px;
        padding-right: 10px;

        .single {
          a {
            padding-left: 0.5em !important;
            margin-top: 0.5em;
          }
          svg {
            position: absolute;
            left: -10px;
            bottom: 10px;
          }
        }
        .is-active {
          .is-active {
            border-bottom: 1px solid rgba(0,0,0,0.5);
          }
        }
      }

      .locale-image {
        width: 25px;
        // height: 24px;
      }

      .navbar-brand {
        color: #000;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;

        .burger {
          width: 40px;
          height: 40px;
          color: #000;
        }
      }

      .navbar-menu {
        .navbar-start {
          color: #000;
        }
        .navbar-item {
          height: auto;
          margin-left: 2em;
        }
      }

    }
    .logo-mobile {
      margin-left: 1em;
    }
    .mobile-cart {
      align-items: center;
      display: flex;
      position: absolute;
      right: 50px;
    }
    .lang-box {
      margin-left: 4em;
      height: 100px;
      margin-top: 2em;
      // .arrow {
      //   border: solid $black;
      //   border-width: 0px 1px 1px 0px;
      // }
      .lang-list {
        .locale-image {
          width: 25px !important;
        }
      }
    }
    .search-box {
      margin-left: 1.4em;
      margin-top: 1em;
      svg {
        fill: $black;
      }
      .search-input {
        border-bottom: 1px solid black;
        color: $black;
      }
    }
    .search-input::-webkit-input-placeholder {
      color: $black;
    }
    .search-input:-moz-placeholder {
      color: $black;
    }
    .search-input::-moz-placeholder {
      color: $black;
    }
    .search-input:-ms-input-placeholder {
      color: $black;
    }
  }
}
