$radio-active-background-color: $ui-blue;
$radio-size: 20px;
.b-radio.radio input[type=radio] {
  &:focus:checked + .check {
    box-shadow: none !important;
  }
  &:checked {
    + .check {
      border-color: $ui-grey-alt-2 !important;
      &:before {
        transform: scale(0.4) !important;
      }
    }
  }
}

.br-radio {
  display: flex;
  padding: 18px 16px;
  border: 1px solid $ui-grey-alt-2;
  align-items: center;
  justify-content: space-between;
  transition: border-color .3s ease;
  span.check {
    border-color: $ui-grey-alt-2 !important;
  }
  &--is-active {
    border-color: $ui-blue;
  }
}
