.br-select-underline, .br-select-filled, .br-select-outlined, .br-select-plain {
  select {
    border: none !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    font-size: $font-size !important;
    line-height: 140% !important;
    letter-spacing: 0.01em !important;
    color: $ui-blue !important;
  }
  .select, select {
    width: 100%;
    border-radius: 0 !important;
    height: auto !important;
  }
  .select:after {
    background-image: url("~assets/svg/icons/chevron-down.svg");
    background-position: center;
    transform: none !important;
    border: none !important;
  }
}

.br-select-underline {
  .select:after {
    right: 0 !important;
    width: 20px !important;
    height: 20px !important;
    top: 7.5px !important;
  }
  select {
    transition: border-bottom-color .3s ease;
    background: transparent !important;
    border-bottom: 1px solid $ui-grey-alt !important;
    padding: 0 20px 8px 0 !important;
  }
  select:focus {
    border-bottom: 1px solid $ui-blue !important;
  }
}

.br-select-plain {
  .select:after {
    right: 0 !important;
    width: 20px !important;
    height: 20px !important;
    top: 7.5px !important;
  }
  select {
    background: transparent !important;
    padding: 0 20px 2px 0 !important;
    border: none;
  }
  select:focus {
    border: none;
  }
}

.br-select-filled {
  .select:after {
    right: 16px !important;
    width: 20px !important;
    height: 20px !important;
    top: 20px !important;
  }
  select {
    background: $ui-clean !important;
    padding: 14px 2.5em 14px 16px !important;
  }
}

.br-select-outlined {
  border: 1px solid $ui-grey-alt-2;
  transition: box-shadow .3s ease, border-color .3s ease;
  select {
    height: 56px !important;
    padding: 18px 16px !important;
    &[disabled=disabled] {
      background: white !important;
      color: $ui-grey-2 !important;

    }
  }
  &:focus-within {
    box-shadow: 0 0 0 4px #EAEFF3;
    border-color: $ui-blue !important;
  }
}
