.selectable-box {
  transition: background-color 0.3s ease, color 0.3s ease;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 4px 0;
  width: 41px;
  border: 1px solid $ui-grey-alt-2;
  color: $ui-blue;
  &-active {
    background: $ui-grey-alt-2;
  }
  &-disabled {
    color: $ui-grey-2;
    cursor: default !important;
  }
}
