$tabs-link-active-border-bottom-color: none;
$tabs-link-hover-border-bottom-color: none;

.b-tabs {
  &--hide-controls>nav {
    display: none;
  }

  .tabs {
    white-space: normal;

    ul {
      border-left: 2px solid $ui-grey-alt-2;
      width: 100%;

      li:not(:last-child) {
        margin-bottom: 24px;
        white-space: normal;
        width: 100%;
      }
    }

    a {
      border-bottom: none;
      font-size: 24px;
      line-height: 140%;
      color: $ui-dark;
      padding: 0 0 0 16px;
      margin-left: -2px
    }

    .is-active>a {
      border-left: 2px solid $ui-blue;

      * {
        margin-left: -4px
      }
    }
  }

  .tab-content {
    padding: 0 !important;
  }
}
