$tag-radius: 0;
$tag-background-color: $ui-blue;
$tag-color: $ui-white;

.tag:not(body) {
  max-height: 16px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: $font-size-small;
  letter-spacing: 0.02em;
  line-height: 100%;
}
