.br-textarea {

  outline: none !important;
  border: 1px solid $ui-grey-alt-2;
  padding: 17px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;

  &, &::placeholder {
    color: $ui-blue !important;
  }
  transition: box-shadow .3s ease, border-color .3s ease;

  &:focus {
    border-color: $ui-blue !important;
    box-shadow: 0 0 0 4px #EAEFF3;
  }

  > textarea {
    height: 20px;
    width: 100%;
    border: none !important;
    outline: none !important;
    padding: 0;
  }
  > label {
    transition: transform .2s ease, color .2s ease, font-size .2s ease;
    position: absolute;
    margin-top: -10px;
    line-height: 140%;
  }
  > {
    textarea, label {
      font-size: 14px;
      letter-spacing: 0.01em;
      color: $ui-blue;
    }
  }
  &--is-focused {
    border-color: $ui-blue !important;
    box-shadow: 0 0 0 4px #EAEFF3;
  }
  &--is-focused, &--is-dirty {
    > label {
      transform: translateY(-8px);
      font-size: 12px;
      color: $ui-medium
    }
  }
}
