<template>
  <div class="columns is-variable is-3 mb-1" v-if="item">
    <div class="column is-4 is-relative">
      <b-image ratio="17by20" :src="$imagekit(product.main_image)" />
      <span class="is-absolute is-clean has-text-primary has-text-small has-line-height-100 p-1" style="top: 12px; right: 12px">
        {{ item.count }}
      </span>
    </div>
    <div class="column is-8">
      <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
        <div>
          ID: {{ variation.sku }}
        </div>
      </div>
      <div class="has-text-large mb-1">
        {{ product.name }}
      </div>
      <div class="has-text-large mb-5">
        {{ $utils.parseCurrency(variation.price, item.count) }}
      </div>
      <!-- <div class="mb-1 has-line-height-140">
        {{ product.color[0].name }}
      </div> -->
      <div class="mb-1" v-if="_showVariationsSize">
        <span      v-if="product.type.slug == 'gredzeni'"> {{ $t('product.size.ring') }} </span>
        <span v-else-if="product.type.slug == 'aproce' " > {{ $t('product.size.bracelet') }} </span>
        <span v-else                                     > {{ $t('product.variation') }} </span>

        <span> {{ variation.size }} </span>
      </div>
      <div class="has-line-height-140">
        <span v-for="(tag, index) in product.tags" :key="index">
        {{ tag.title }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  props: {
    item: {
      type: Object,
      default: null,
    },
  },
  computed: {
    product() {
      ////console.log(this.item);
      return this.item.product;
    },
    variation() {
      return this.item.variation;
    },

    _showVariationsSize() {
      if (this.variation.size == '') {
        return false
      }

      if (this.product.has_size_dropdown && this.product.variations.length > 1) {
        return true;
      }

      return false;
    }
  }
}
</script>
