<template>
  <div class="checkout-page__summary is-clean">
    <!-- <h1 style="margin-bottom: 64px" v-html="$t('checkout.summary')"></h1> -->

    <div class="sticky">

      <div class="columns" style="margin-top: 0">
        <div class="column is-12 is-offset-0">
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div class="">
              {{ $t('check_order.state') }}
            </div>
            <div class="h3">
              {{ formatedState }}
            </div>
          </div>

          <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div class="">
              {{ $t('check_order.payment_state') }}
            </div>
            <div class="h4">
              {{ formatedPaymentState }}
            </div>
          </div>
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-6">
            <div class="">
              {{ $t('check_order.shipped_at') }}
            </div>
            <div class="h4">
              {{ formatedShippedAt }}
            </div>
          </div>

          <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div>
              {{ $t('basket.subtotal') }}
            </div>
            <div>
              {{ $utils.parseCurrency(subtotal) }}
            </div>
          </div>
          <hr class="is-grey-alt-2 mb-5">

          <div class="item-group" v-if="true">
            <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
              <div>
                {{ $t('checkout.delivery_cost') }}
              </div>
              <div>
                {{ !!deliverySumm ? $utils.parseCurrency(deliverySumm) : $utils.parseCurrency(0) }}
              </div>
            </div>
          </div>

          <div class="item-group" v-if="discount">
            <hr class="is-grey-alt-2 mb-5">
            <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
              <div>
                {{ $t('checkout.savings') }}
              </div>
              <div class="has-text-success">
                {{ $utils.parseCurrency(-discount) }}
              </div>
            </div>
          </div>

          <hr class="is-grey-alt-2 mb-5">
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div class="h3">
              {{ $t('checkout.total') }}
            </div>
            <div class="h3">
              {{ !!total ? $utils.parseCurrency(total) : $utils.parseCurrency(0) }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import _toLower from 'lodash/toLower'

import OrderSummaryProduct from './OrderSummaryProduct'
export default {
  components: { OrderSummaryProduct },
  props: {
    items: Array,
    discount: null,
    subtotal: null,
    total: null,
    basketCount: null,
    deliverySumm: null,
    paymentSumm: null,

    state: null,
    shippedAt: null,
    paymentState: null,
  },

  data () {
    return {
      promocode: ''
    }
  },

  computed: {
    ...mapState({
      // delivery: state => state.basket.delivery
    }),
    ...mapGetters({
      // discount: 'basket/discount',
      // subtotal: 'basket/subtotal',
      // total: 'basket/total',
      // basketCount: 'basket/count',

      // deliverySumm: 'basket/deliverySumm',
      // paymentSumm: 'basket/paymentSumm',
    }),
    formatedState() {
      const state = _toLower(this.state.flag ?? 'unknown');
      return this.$t(`check_order.state_name.${state}`)
    },
    formatedShippedAt() {
      if (!this.shippedAt) {
        return this.$t(`check_order.shipping_state_name.not_sent`)
      }

      return this.$dayjs(this.shippedAt).format('DD.MM.YYYY');
    },
    formatedPaymentState() {
      const state = _toLower(this.paymentState ?? 'unknown');
      return this.$t(`check_order.payment_state_name.${state}`)
    },
  },
}
</script>

<style lang="scss" scoped>
.sticky {
  position: sticky;
  top:110px
}

.checkout-page__summary {
  padding: 32px 40px;
}

</style>
