<template>
  <div class="arrow" :style="{borderRadius: `${size}px`}">
    <svg :width="size" :height="size" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.6667 31.6667L5 20M5 20L16.6667 8.33334M5 20H35" :stroke="color" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round" />
    </svg>
  </div>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>

<style lang="scss" scoped >
  .arrow {
    background-color: var(--color-main);
    border: 5px solid var(--color-main);
    @media(max-width: 700px) {
      width: 25px;
      height: 25px;
    }

    svg {
      margin-bottom: -2px;

      @media(max-width: 700px) {
        width: 15px;
        height: 15px;

        margin-bottom: 0;
      }
    }
  }
</style>
