<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.8333 7.5L9.99999 13.3333L4.16666 7.5" :stroke="color" stroke-width="1.3" stroke-linecap="square" />
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
