<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.5 4.16669L13.3333 10L7.5 15.8334" :stroke="color" stroke-width="1.3" stroke-linecap="square" />
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
