<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.714 5.28594L5.28596 14.714M14.714 14.714L5.28596 5.28594" :stroke="color" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round" />
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
