<template>
  <svg :width="size" :height="size" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_80:697)">
      <rect
        x="0.5"
        y="0.5"
        width="11"
        height="11"
        rx="5.5"
        fill="transparent"
      />
      <path d="M11 1L1 11" :stroke="color" />
    </g>
    <rect
      x="0.5"
      y="0.5"
      width="11"
      height="11"
      rx="5.5"
      :stroke="color"
    >
      <defs>
        <clipPath id="clip0_80:697" />
      </defs>
    </rect></svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
