<template>
  <svg :width="size" :height="size" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 7L2.33333 5.66667M2.33333 5.66667L7 1L11.6667 5.66667M2.33333 5.66667V12.3333C2.33333 12.5101 2.40357 12.6797 2.5286 12.8047C2.65362 12.9298 2.82319 13 3 13H5C5.17681 13 5.34638 12.9298 5.4714 12.8047C5.59643 12.6797 5.66667 12.5101 5.66667 12.3333V9.66667C5.66667 9.48986 5.7369 9.32029 5.86193 9.19526C5.98695 9.07024 6.15652 9 6.33333 9H7.66667C7.84348 9 8.01305 9.07024 8.13807 9.19526C8.2631 9.32029 8.33333 9.48986 8.33333 9.66667V12.3333C8.33333 12.5101 8.40357 12.6797 8.5286 12.8047C8.65362 12.9298 8.82319 13 9 13H11C11.1768 13 11.3464 12.9298 11.4714 12.8047C11.5964 12.6797 11.6667 12.5101 11.6667 12.3333V5.66667M11.6667 5.66667L13 7"
      :stroke="color" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round"
    />
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
