<template>
  <svg :width="size" :height="size" viewBox="0 0 8 9" class="mb-1" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.1913 8.51438L6.70976 2.98597L6.69981 7.21183H7.96758V0.818359H1.57907L1.56914 2.07617H5.79498L0.281494 7.59961L1.1913 8.51438Z" :fill="color"/>
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons],
}
</script>
