<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.0002 3.33334V16.6667M16.6668 10H3.3335" :stroke="color" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round" />
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
