<template>
  <div class="has-navbar-padding">
    <section class="product-page">

      <div class="product-page-container">
        <div class="columns is-variable is-5" style="margin-bottom: 90px">
          <div class="column is-7">
            <product-images :product="product" />
          </div>
          <div class="column is-5">
            <product-details
              :product="product"
              :variation="variation"
              :sizesettings="sizesettings"
            />
          </div>
        </div>
      </div>

      <product-variation :variations="inCollection"/>

      <!-- <product-collection v-if="collection" :collection="collection" /> -->

      <product-similar :variations="other"/>
    </section>
  </div>
</template>
<script>
import ProductImages from '~/components/pages/product/ProductImages'
import ProductDetails from '~/components/pages/product/ProductDetails'
import ProductSimilar from '~/components/pages/product/ProductSimilar'
import ProductCollection from '~/components/pages/product/ProductCollection'
import ProductVariation from '~/components/pages/product/ProductVariation'
export default {
  components: { ProductVariation, ProductCollection, ProductSimilar, ProductDetails, ProductImages },

  async asyncData ({ $axios, params, redirect, error, $nuxt }) {
    const [
      variation,

      other,
      inCollection,

      sizesettings,
    ] = await Promise.all([
      $axios.$get(`/api/v1/products/product/${params.slug}/${params.variation_id}`),

      $axios.$get(`/api/v1/products/related/other/${params.variation_id}/4`),
      $axios.$get(`/api/v1/products/related/in-collection/${params.variation_id}/4`),

      $axios.$get(`/api/v1/generealsettings/sizes`),
    ]);

    if (variation.error) {
      return error({
        statusCode: 404,
        message: variation.message
      });
    }

    // if (variation.data.product.custom_link) {
    //   return redirect(variation.data.product.custom_link);
    // }

    return {
      product: variation.data.product,
      variation: variation.data,
      collection: variation.data.product.collection,

      other: other.data,
      inCollection: inCollection.data,

      sizesettings: sizesettings.data,
    }
  },

  data () {
    return {
      product: null,
      variation: null,
      collection: null,
    }
  },

  created () {
    // this.get_product()
  },

  methods: {}
}
</script>
