<template>
  <div class="has-navbar-padding">
    <section class="product-page">
      <div class="columns is-variable is-5" style="margin-bottom: 90px">
        <div class="column is-7">
          <product-images :product="product" />
        </div>
        <div class="column is-5">
          <product-details :product="product" />
        </div>
      </div>

      <product-variation />

      <!-- <product-collection v-if="collection" :collection="collection" /> -->

      <product-similar />
    </section>
  </div>
</template>
<script>
import ProductImages from '~/components/pages/product/ProductImages'
import ProductDetails from '~/components/pages/product/ProductDetails'
import ProductSimilar from '~/components/pages/product/ProductSimilar'
import ProductCollection from '~/components/pages/product/ProductCollection'
import ProductVariation from '~/components/pages/product/ProductVariation'
export default {
  components: { ProductVariation, ProductCollection, ProductSimilar, ProductDetails, ProductImages },

  async asyncData ({ $axios, params, redirect, app, error }) {
    const variation = await $axios.$get('/api/v1/products/product/' + params.slug)

    if (variation.error || variation.data.length == 0) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    const path = app.localePath({
      name: 'products-slug-variation_id',
      params: {
        slug: params.slug,
        variation_id: variation.data.id,
      }
    })

    return redirect( path );
  },

  data () {
    return {
      product: null,
      collection: null
    }
  },

  created () {
    // this.get_product()
  },

  methods: {}
}
</script>
