<template>
  <div id="mymodal">
    <b-modal v-model="modalShow" >
      <template>
        <div class="post-block" v-if="post">

          <div class="post-box">
            <img v-if="post.image" :src="$imagekit(post.image.path, 800)" class="post-image" />

            <div class="columns">
              <div class="column is-6">
                <p class="post-date">{{ post.date_published }}</p>
              </div>

            </div>
            <h1 class="post-title">
              {{ post.title }}
            </h1>
            <div class="post-body-box">
              <div class="post-body" v-html="post.body"></div>
              <div class="post-images">
                <template v-if="post.show_galery == 1">
                  <VueSlickCarousel ref="product-gallery" v-bind="options">
                    <b-image v-for="(image, i) in post.images" :key="i" :src="$imagekit(image)" ratio="440by391" />
                  </VueSlickCarousel>
                  <a
                    class="is-absolute"
                    style="top: 50%; transform: translateY(-50%); left: 40px"
                    @click="$refs['product-gallery'].prev()"
                  >
                    <ArrowLeft size="40" color="white" />
                  </a>

                  <a
                    class="is-absolute"
                    style="top: 50%; transform: translateY(-50%); right: 40px"
                    @click="$refs['product-gallery'].next()"
                  >
                    <ArrowRight size="40" color="white" />
                  </a>
                </template>
                <template v-else>
                  <template v-for="i in post.images">
                    <img v-if="i.path" :src="$imagekit(i.path, 800)" :key="i" />
                  </template>
                </template>
              </div>
            </div>
          </div>


        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>

import ArrowLeft from '~/components/icons/ArrowLeft'
import ArrowRight from '~/components/icons/ArrowRight'


export default {

  components: { ArrowRight, ArrowLeft },

  props: {
    value: true,
  },

  data() {

    return {
      // modalShow: false,
      post: null,

      backgroundImage: require("~/assets/img/blog/background.png"),
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
      }
    }
  },

  created () {
    this.get_new_posts()
  },

  methods:{
    async get_new_posts () {
      const post = await this.$axios.$get("/api/v1/news/post/" + 'izmeru-celvedis')
      this.post = post.data
    }
  },

  computed: {
    modalShow: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit('input', value)
      },
    }
  }

}
</script>

<style lang="scss" scoped>
  .post-block {
    background-color: white;
  }


</style>
