<template>

  <div>

    <div v-if="!isInModal" style="padding-top: 41.5px; padding-bottom: 33px" class="is-flex is-justify-content-space-between is-hidden-mobile	is-flex-tablet	">

      <span>
        {{$t('product.filter_title')}}
      </span>

      <a @click="expandAll">
        {{ areFiltersOpen ? $t('product.filters_close') : $t('product.filters_open') }}
      </a>

    </div>

    <div v-if="!isInModal" @click="showFilterModal" class="is-hidden-tablet">
      <div class="filter-bottom my-0">
        <div class="button-reset" style="height: 40px;">{{$t('product.filter_title')}}</div>
      </div>

    </div>


    <div
      class="is-flex is-flex-direction-column filter-expand"
      style="gap: 16px" :class="{'is-hidden-mobile' : !isInModal, 'is-flex-tablet': !isInModal}"

    >
      <div class="filter-bottom" v-if="!isInModal">
        <div class="button-reset" @click="clear_filter">{{ $t('filter.reset') }}</div>
      </div>

      <template v-for="(filter, key) in filters">
        <div :key="key" v-if="filter.is_enabled" :id="`filter-${key}`">
          <!-- {{ typeof openFilters[key] }} {{key}} ? -->
          <div v-if="filter.type == 'boolean' ">
            <div class="is-flex is-align-items-center is-justify-content-space-between py-4">
              <span class="">{{ $t(filter.title) }} </span>

              <FiltersOption
                :slug="key"
                :title="$t(filter.title)"
                :filterList="filter.filterList"
                :type="filter.type"
                :note="filter.note"
                :lockFilters="lockFilters"
                v-model="filter.value"
                @input="filterUpdated"
                @noteClicked="noteClicked"
              />

            </div>
            <hr class="is-grey-alt">
          </div>

          <expansion-panel v-else v-model="openFilters[key]" :title="$t(filter.title)">
            <FiltersOption
              :slug="key"
              :title="$t(filter.title)"
              :filterList="filter.filterList"
              :type="filter.type"
              :note="filter.note"
              :lockFilters="lockFilters"
              v-model="filter.value"
              @input="filterUpdated"
              @noteClicked="noteClicked"
            />

            <template v-if="false" v-slot:title-append>
              <!-- Rokas locītavas apkārtmērs, cm -->
            </template>
            <template v-if="false" v-slot:title-append>

            </template>
          </expansion-panel>

        </div>
      </template>

      <div class="filter-bottom" v-if="!isInModal">
        <div class="button-reset" @click="clear_filter">{{ $t('filter.reset') }}</div>
      </div>

      <div v-if="isInModal" class="filter-bottom filter-bottom-dual filter-bottom-modalbottom" >
        <div class="button-reset" @click="clear_filter">{{ $t('filter.reset') }}</div>
        <div class="button-reset" @click="close_modal">{{ $t('filter.approve') }}</div>
      </div>

    </div>

    <!-- <nuxt-link :to="localePath('/products/custom')">
      <b-button style="margin-top: 56px" class="is-fullwidth order-custom" type="is-dark">
        {{$t('product.order_original')}}
      </b-button>
    </nuxt-link> -->

  </div>

</template>

<script>
import { mapState } from 'vuex'
import ExpansionPanel from '~/components/base/ExpansionPanel'
import FiltersOption from '~/components/partial/FiltersOption'
import FiltersModal from '~/components/pages/products/FiltersModal.vue'

export default {
  components: { FiltersOption, ExpansionPanel },

  props: {
    filters: {
      type: Object,
      default: () => {},
    },
    openFilter: {
      type: String,
      default: null,
    },

    isInModal: {
      type: Boolean,
      default: false,
    },
    lockFilters: {
      types: Boolean,
      default: false
    }
  },

  data () {
    return {
      openFiltersData: this.collectFilterData(),
      showFilter: 0,
      isMobile: false,
    }
  },


  computed: {
    openFilters() {
      // const openFiltersData = this.openFiltersData;
      const openFiltersData = this.collectFilterData();
      const openFilters = {};
      const filters = this.filters;

      Object.keys(filters)
        .forEach((key) => {
          openFilters[key] = openFiltersData[key];
        });

      return openFilters;
    },

    areFiltersOpen () {
      //console.log('A?');
      const openFiltersData = this.openFiltersData;
      let isAnyOpen = false;

      Object.values(openFiltersData).forEach((bool) => {
        isAnyOpen = isAnyOpen || bool
      });

      return isAnyOpen;
      // return Object.values(this.openFilters).every(Boolean)
    }
  },

  mounted: function () {
    this.$nextTick(function () {
      this.handleResize();
    })

    window.addEventListener('resize', this.handleResize)
  },

  methods: {
    expandAll () {
      const areFiltersOpen = this.areFiltersOpen
      //console.log("KEYS", Object.keys(this.openFilters), this.openFilters, areFiltersOpen);
      Object.keys(this.openFilters).forEach((k) => { this.openFiltersData[k] = !areFiltersOpen })
    },

    filterUpdated(data) {
      this.$emit('filterUpdated', data);
    },

    clear_filter() {
      this.$router.push({ path: this.$route.path })
      setTimeout(() => {
        location.reload();
      }, 100);

      this.close_modal();
    },

    close_modal() {
      this.$emit('closeModal');
    },


    showFilterModal() {
      this.$emit('showFilterModal');

      // this.$buefy.modal.open({
      //   parent: this.$root,
      //   component: FiltersModal,
      //   trapFocus: true
      // })
    },

    handleResize() {
    },

    collectFilterData() {
      const data = {}
      const urlData = {}

      Object
        .keys(this.$route.query)
        .forEach((key) => {
          urlData[key] = true
        });
      Object
        .keys(this.filters)
        .forEach((key) => {
          if (urlData[key]) {
            data[key] = true
          }else {
            data[key] = false
          }
        });

      if (this.openFilter) {
        data[this.openFilter] = true;
      }

      return data;
    },

    noteClicked(value) {
      this.$emit('noteClicked', value)
    },
  },
}
</script>
