<template>
  <div>
    <div class="columns is-mobile is-variable is-2 heading-top-mobile" style="gap: 48px 0; margin-bottom: 20px">
      <div class="column">
          <template v-if="mainTitle == null">
            <h1>{{ $t('products.main_title') }}</h1>
          </template>
          <template v-else>
            <h1 class="category-title">{{ $t(mainTitle) }}</h1>
          </template>
      </div>

      <div class="column is-flex is-align-items-flex-end sort-columns pb-0 is-6-touch is-4-desktop is-3-fullhd is-full-width-mobile">
        <div class="search-wrap">
            <FiltersOption
              slug="q"
              type="text"
              v-model="searchQueryModel"
              :placeholder="$t('products.type_here_to_search')"
            />
        </div>
      </div>

      <div class="column is-flex is-align-items-flex-end sort-columns pb-0 is-6-touch is-4-desktop is-3-fullhd sort-box">
        <div class="is-flex is-justify-content-space-between is-align-items-flex-end sort-wrap has-text-primary has-text-normal">
          <div class="sort-title" >{{ $t('products.sort_by') }}</div>
          <b-select v-model="sortByModel" class="br-select-plain">
            <option v-for="(variation, i) in sortByList" :key="variation.id" :value="variation.id">
              {{ variation.title }}
            </option>
          </b-select>
        </div>
      </div>

    </div>

    <div v-if="collectionImg != null">
      <img :src="collectionImg" class="collection-header-img">
    </div>

    <div class="category-text" v-if="mainText != null && isMainTextVisible">
      <template v-if="$te(mainText)">
        <div v-html="$t(mainText)"></div>
        <!-- Maybe in future this will be needed -->
        <!-- <p>{{ concatinateText( $t(mainText), openReadMore ) }}</p>
        <a class="has-text-small has-text-primary is-underlined" @click="openReadMore = !openReadMore">
          {{ openReadMore ? $t('product.close_read_more') : $t('product.read_more') }}
        </a> -->
      </template>
    </div>

    <div class="columns is-multiline is-mobile is-variable is-2 products-columns" style="gap: 48px 0">
      <template v-if="products.length > 0">
        <product
          v-for="(variation, i) in products"
          :key="variation.id"
          class="column is-6-touch is-4-desktop is-3-fullhd"
          :product="variation.product"
          :variation="variation"
          show-color
        />
      </template>
      <template v-else>
        <template v-if="isLoading == false">
          <h4>{{ $t('products.no_product') }}</h4>
        </template>
      </template>


      <b-loading :is-full-page="false" v-model="isLoading" :can-cancel="false"></b-loading>

      <!-- <div class="loader-row">
        <infinite-loading v-if="products.length" spinner="bubbles" @infinite="infiniteScroll">
          <div slot="spinner">Loading...</div>
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </div> -->

      <!-- <div class="item-not-found" v-if="products.length == 0">
        <h3>{{ $t('product.not_found') }}</h3>
      </div> -->

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Product from '../../partial/Product'
import FiltersOption from '~/components/partial/FiltersOption'
import InfiniteLoading from 'vue-infinite-loading'

export default {
  components: {
    Product,
    FiltersOption,
    InfiniteLoading,
  },

  props: {
    products: {
      type: Array,
      default: () => [],
    },
    sortBy: {
      type: String,
      default: 'popularity_asc',
    },
    searchQuery: {
      type: String,
      default: null,
    },

    isLoading: {
      type: Boolean,
      default: false,
    },
    mainTitle: {
      type: String,
      default: null
    },
    mainText: {
      type: String,
      default: null
    },
    collectionImg: {
      type: String,
      default: null
    },

    isMainTextVisible: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      page: 0,

      sortByList: [
        {id: 'popularity_asc',  title: this.$t('sorting.popularity_asc')},
        {id: 'popularity_desc', title: this.$t('sorting.popularity_desc')},
        {id: 'price_asc',       title: this.$t('sorting.price_asc')},
        {id: 'price_desc',      title: this.$t('sorting.price_desc')},
        {id: 'title_asc',       title: this.$t('sorting.title_asc')},
        {id: 'title_desc',      title: this.$t('sorting.title_desc')},
        {id: 'createdat_asc',   title: this.$t('sorting.createdat_asc')},
        {id: 'createdat_desc',  title: this.$t('sorting.createdat_desc')},
      ],

      openReadMore: false,
    };
  },

  methods: {
    // infiniteScroll($state) {
    //   this.$emit('onNextPage', $state);
    // },

    searched(data) {
      this.$emit('searched', data);
    },


    concatinateText(text, showFullLength = false) {
      const maxLength = 300;

      if (showFullLength || text.length <= maxLength) {
        return text;
      }

      return text.slice(0, maxLength) + '...'
    }
  },

  computed: {
    sortByModel: {
      get() {
        return this.sortBy;
      },

      set(newValue) {
        this.$emit('sorted', newValue);
      }
    },

    searchQueryModel: {
      get() {
        return this.searchQuery;
      },

      set(newValue) {
        try {
          this.$ga.event({
            eventCategory: 'product-search',
            eventAction: 'product-search',
            eventLabel: 'product-search',
            eventValue: newValue,
          })
        } catch (error) {
        }
        this.$emit('searched', newValue);
      }
    },

    _nextPage() {
      return this.page + 1;
    }
  },


}
</script>

<style lang="scss" scoped>
.loader-row {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.sort-wrap {
  width: 100%;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #E2E7EC;
}
.search-wrap {
  width: 100%;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #E2E7EC;
}
.sort-title {
  margin-bottom: 0.08rem;
}

.products-columns {
  min-height: 100vh;
  align-content: flex-start;
  @media(max-width: 700px) {
    gap: 10px 0 !important;
  }
}
.category-text {
  margin: 1.5rem 0rem 2rem;
  font-size: 1rem;
  width: 75%;
  max-width: 900px;

  line-height: 1.4rem;
  @media(max-width: 700px) {
    width: 100%;
  }
}
.category-title {
  border-bottom: 1px solid #000;
  position: relative;
  top: 11px;
}
.collection-header-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  @media(max-width: 700px) {
    object-position: top left;
    height: 200px
  }
}
</style>
