<template>
  <div class="checkout-page__summary is-clean">
    <h1 class="mb-6">
      {{ $t('checkout.item_stock_changed') }}
    </h1>

    <p v-html="$t('checkout.item_stock_changed_body')"></p>

    <div v-for="(basketItem, i) in changedCartItems" :key="i">
      <CheckoutProduct
        no-delete
        :basketItem="basketItem"
      />
      <hr class="is-grey-alt-2 mb-4">
    </div>

    <!-- <div v-for="(giftcard, i) in basketGiftCards" :key="giftcard.id">
      <CheckoutGiftCard
        :giftcard="giftcard"
        @itemRemoved="itemRemoved"
      />
      <hr class="is-grey-alt-2 mb-4">
    </div> -->

  </div>
</template>

<script>

import CheckoutProduct from '~/components/pages/checkout/CheckoutProduct.vue'

export default {
  components: {
    CheckoutProduct,
  },

  props: {
    changedCartItems: null,
  },

  computed: {

  }
}
</script>

<style scoped lang="scss">
  .checkout-page__summary {
    height: auto !important;
  }
</style>
