<template>
  <div class="navbar-item has-dropdown" :class="{
    'is-active': isExpanded,
  }">
    <a href="#" class="navbar-link is-arrowless" id="mainNavbarLink" @click.prevent="toggleBigMenu">
      {{ name }}
    </a>

    <div class="navbar-dropdown">
      <div class="dopdown-menu-box columns">
        <div class="column is-3">
          <nuxt-link :to="localePath({name: 'products'})" class="navbar-item all-link"> {{$t('nav.all_jewelry')}} </nuxt-link>

          <div v-for="categoryType in types" class="type-box" >
            <div @mouseenter="toggleMenu(categoryType.slug)">
              <nuxt-link class="navbar-item"
                :to="localePath({name: 'products-category-type', params: {type: categoryType.slug}, query: {types: categoryType.slug}})"
              >
                {{ categoryType.title }}
                <span class="arrow down list-arrow" @click="toggleMenu(categoryType.slug)"></span>
              </nuxt-link>

              <div v-if="categoryType.materials.length > 0"
                :id="'list_'+categoryType.slug"
                class="material-list"
              >
                <div v-for="material in categoryType.materials" class="list-box">
                  <nuxt-link class="navbar-item"
                    :to="localePath({name: 'products-category-type-material', params: {type: categoryType.slug, material: material.slug}, query: {types: categoryType.slug, materials: material.slug} })"
                  >
                    {{ material.title }}
                  </nuxt-link>
                </div>
              </div>

            </div>
          </div>

          <!-- <div class="type-box">
            <div>
              <a href="/en/products/category/aproces?types=aproces" class="navbar-item">
                Bracelet <span class="arrow down list-arrow"></span></a>
              <div id="list_aproces" class="material-list">
                <div class="list-box">
                  <a href="/en/products/category/aproces/sudrabs?types=aproces&amp;materials=sudrabs"
                    class="navbar-item">
                    Silver
                  </a>
                </div>
                <div class="list-box">
                  <a href="/en/products/category/aproces/bronza?types=aproces&amp;materials=bronza" class="navbar-item">
                    Bronze
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="type-box">
            <div>
              <a href="/en/products/category/auskari?types=auskari" class="navbar-item">
                Earrings <span class="arrow down list-arrow"></span></a>
              <div id="list_auskari" class="material-list">
                <div class="list-box">
                  <a href="/en/products/category/auskari/sudrabs?types=auskari&amp;materials=sudrabs"
                    class="navbar-item">
                    Silver
                  </a>
                </div>
                <div class="list-box">
                  <a href="/en/products/category/auskari/bronza?types=auskari&amp;materials=bronza" class="navbar-item">
                    Bronze
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="type-box">
            <div>
              <a href="/en/products/category/piespraudes-saktas?types=piespraudes-saktas" class="navbar-item">
                Brooches <span class="arrow down list-arrow"></span></a>
              <div id="list_piespraudes-saktas" class="material-list">
                <div class="list-box">
                  <a href="/en/products/category/piespraudes-saktas/sudrabs?types=piespraudes-saktas&amp;materials=sudrabs"
                    class="navbar-item">
                    Silver
                  </a>
                </div>
                <div class="list-box">
                  <a href="/en/products/category/piespraudes-saktas/bronza?types=piespraudes-saktas&amp;materials=bronza"
                    class="navbar-item">
                    Bronze
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="type-box">
            <div>
              <a href="/en/products/category/kuloni-kaklarotas?types=kuloni-kaklarotas" class="navbar-item">
                Pendants, Necklaces <span class="arrow down list-arrow"></span></a>
              <div id="list_kuloni-kaklarotas" class="material-list">
                <div class="list-box">
                  <a href="/en/products/category/kuloni-kaklarotas/zelts?types=kuloni-kaklarotas&amp;materials=zelts"
                    class="navbar-item">
                    Gold
                  </a>
                </div>
                <div class="list-box">
                  <a href="/en/products/category/kuloni-kaklarotas/sudrabs?types=kuloni-kaklarotas&amp;materials=sudrabs"
                    class="navbar-item">
                    Silver
                  </a>
                </div>
                <div class="list-box">
                  <a href="/en/products/category/kuloni-kaklarotas/bronza?types=kuloni-kaklarotas&amp;materials=bronza"
                    class="navbar-item">
                    Bronze
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="type-box">
            <div>
              <a href="/en/products/category/aprocpogas-kaklasaisu-adatas?types=aprocpogas-kaklasaisu-adatas"
                class="navbar-item">
                Cufflinks <span class="arrow down list-arrow"></span></a>
              <div id="list_aprocpogas-kaklasaisu-adatas" class="material-list">
                <div class="list-box">
                  <a href="/en/products/category/aprocpogas-kaklasaisu-adatas/sudrabs?types=aprocpogas-kaklasaisu-adatas&amp;materials=sudrabs"
                    class="navbar-item">
                    Silver
                  </a>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="column is-7 is-offset-1">
          <h4 class="collection-title">{{ $t('products.collections') }}</h4>
          <div class="collection columns">
            <div v-for="collection in collections" class="column is-6 clollection-item" >
              <nuxt-link class="navbar-item"
                :to="localePath({name: 'products-collection-slug', params: {slug: collection.slug}, query: {collection: collection.slug} })"
              >
                {{ collection.title }}
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="isExpanded" class="backdrop" :style="{top: `${topPos}px`}" @click="closeBigMenu"></div>
  </div>
</template>

<script>
export default {
  props: {
    name: String,

    types: Array,
    collections: Array,
  },

  data() {
    return {
      isExpanded: false,
      topPos: 100,
    };
  },

  methods: {
    toggleBigMenu() {
      if (this.isExpanded) {
        this.closeBigMenu();
      } else {
        this.openBigMenu();
      }
    },
    openBigMenu() {
      if (document && window) {
        const element = document.getElementById('mainNavbarLink');
        if (element) {
          this.topPos = element.getBoundingClientRect().top + window.scrollY + 40;
        }
      }

      this.isExpanded = true;
    },

    closeBigMenu() {
      this.isExpanded = false;
      this.topPos = 100;
    },

    toggleMenu(slug) {
      if (document) {
        const elements = document.querySelectorAll('.material-list');

        elements.forEach((element) => {
          element.classList.remove('active');
        });

        const element = document.getElementById('list_'+slug);
        element.classList.add('active');
      }
    },
  },

  watch: {
    $route () {
      this.closeBigMenu();
    }
  },
};
</script>

<style scoped lang="scss">
.backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;

  background-color: transparent;

  z-index: 1;
}

.navbar-dropdown {
  min-width: 62vw !important;
  z-index: 2;
}
</style>
