<template>
  <div class="columns is-multiline is-mobile">
    <div class="column is-full">
      <h1 style="margin-bottom: 32px" v-html="$t('products.same_product')"></h1>
    </div>
    <product
      v-for="(variation, i) in variations"
      :key="i"
      class="column is-6-touch is-3-desktop  is-3-fullhd"
      :product="variation.product"
      :variation="variation"
      show-color
    />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Product from '../../partial/Product'
export default {
  components: { Product },

  props: {
    variations: Array
  },

  computed: {}
}
</script>
