<template>
  <div class="has-navbar-padding">
    <section class="products-page">

      <div class="columns is-variable is-8">

        <div class="column is-3">
          <Filters
            :filters="filters"
            @filterUpdated="filterUpdated"
            @noteClicked="noteClicked"
            @showFilterModal="openFilterModal"
            class="products-page__filters"
            :open-filter="openFilter"
            :lockFilters="firstLoad"
          />
        </div>

        <div class="column">
          <Products
            :products="products"
            :sortBy="sortBy"
            :searchQuery="searchQuery"
            :mainTitle="mainTitle"
            :mainText='mainText'
            :collectionImg='collectionImg'
            :faq_slug='faq_slug'
            @sorted="onSorted"
            @searched="onSearched"
            :is-loading="this.$fetchState.pending"

            :isMainTextVisible="false"
          />

          <b-pagination
            v-if="!this.$fetchState.pending"
            v-model="currentPage"
            :total="paginator.total"
            :current.sync="paginator.current"
            :per-page="paginator.perPage"
            order="is-centered"
            size="is-small"
            icon-prev="chevron-left"
            icon-next="chevron-right"
            :aria-next-label="$t('pager.next')"
            :aria-previous-label="$t('pager.back')"
            :aria-page-label="$t('pager.page-label')"
            :aria-current-label="$t('pager.current-label')"
            @change="openPage"
          >
          </b-pagination>
        </div>
      </div>
    </section>

    <BlogPopUp v-model="blogPopUpOpen"/>

    <b-modal v-model="filterModalOpen" full-screen class="filter-modal">
      <div class="filter-modal-inner">
        <Filters
          :filters="filters"
          :lockFilters="firstLoad"
          @filterUpdated="filterUpdated"
          @noteClicked="noteClicked"
          class="products-page__filters"

          is-in-modal

          @closeModal=" filterModalOpen = false "
        />
      </div>
    </b-modal>

    <section class="faq-page pb-0">
      <div class="columns  is-8" v-if="$te(mainText)">
        <div class="column is-3"></div>
        <div class="column">
            <div class="category-text is-full-width" v-html="$t(mainText)"></div>
            <!-- Maybe in future this will be needed -->
            <!-- <div class="category-text is-full-width">
              <p>{{ concatinateText( $t(mainText), openReadMore ) }}</p>
              <a class="has-text-small has-text-primary is-underlined" @click="openReadMore = !openReadMore">
                {{ openReadMore ? $t('product.close_read_more') : $t('product.read_more') }}
              </a>
            </div> -->
        </div>
      </div>
    </section>

    <template v-if="faq_slug != null && faq_list.length > 0">
      <section class="faq-page">
        <div class="columns">
          <!-- <div class="column is-3"></div> -->
          <div class="column is-6 is-offset-3">
            <div class="faq-page__sidebar">
              <h2 v-html="$t('product.faq_title')"></h2>
            </div>
            <section>
              <expansion-panel v-for="(question, i) in faq_list" :key="i" class="faq-page--content" :title="question.title">
                <template #title>
                    {{ question.title }}
                </template>
                <template #icon="{ open }">
                  <ChevronUp v-if="open" size="20" />
                  <ChevronDown v-else size="20" />
                </template>
                <div class="faq-page--content__body" v-html="question.body"></div>
              </expansion-panel>
            </section>
          </div>
        </div>
      </section>
    </template>

  </div>
</template>
<script>
import _each from 'lodash/each';

import Filters from "~/components/pages/products/Filters";
import Products from "~/components/pages/products/Products";
import BlogPopUp from "~/components/pages/products/BlogPopUp";
import ExpansionPanel from '../../base/ExpansionPanel'
import ChevronUp from '../../icons/ChevronUp'
import ChevronDown from '../../icons/ChevronDown'

export default {
  name: "ProductCategory",
  components: { Products, Filters, BlogPopUp, ExpansionPanel, ChevronUp, ChevronDown },

  props: {
  	type: {
      type: String,
      default: null
    },
  	material: {
      type: String,
      default: null
    },
    collection: {
      type: Object,
      default: null
    },

    isSeoTextOnBottom: {
      type: Boolean,
      default: false,
    }
  },

  head() {
    const content = [];

    _each(this.faq_list, function(question) {
      content.push({
        "@type": "Question",
        "name": question.title,
        "acceptedAnswer": {
          "@type": "Answer",
          // "text": encodeURIComponent(question.body)
          "text": question.body,
        }
      })
    });

    return {
      title: 'Baltu Rotas',
      meta: [
          // { hid: 'description', name: 'description', content: '' }
      ],
      script: [
        {
          json: {
            '@context': 'http://schema.org',
            "@type": "FAQPage",
            "mainEntity": content,
          },
          type: 'application/ld+json'
        }
      ]
    }
  },


  data() {
    return {
      filters: {},
      products: [],
      loading: false,
      firstLoad: true,
      sortBy: "createdat_desc",
      searchQuery: null,
      updateTimeout: null,
      openFilter: "types",
      lastPage: null,

      paginator: {
        current: 1,
        total: 0,
        perPage: 12,
      },

      currentPage: 1,
      blogPopUpOpen: false,
      filterModalOpen: false,
      mainTitle: null,
      mainText: null,
      faq_slug: null,
      faq_list: [],
      collectionImg: null
    };
  },

  created(){
    if (this.material != null) {
      this.mainTitle = 'products_subpage.'+ this.type + '_' + this.material
      this.faq_slug = this.type + '_' + this.material
      this.mainText = 'products_subpage.' + this.type + '_' + this.material + '_text'
    }else {
      this.mainTitle = 'products_subpage.'+ this.type
      this.faq_slug = this.type + '_'
      this.mainText = 'products_subpage.' + this.type + '_text'
    }
    if (this.collection != null) {
      // this.mainTitle = 'products_subpage.collection'
      this.mainTitle = this.collection.title
      // this.faq_slug = this.collection
      this.faq_slug = this.collection.slug
      // this.mainText = 'products_subpage.' + this.collection + '_text'
      this.mainText = 'products_subpage.' + this.collection.slug + '_text'
      if (this.collection.page_img) {
        this.collectionImg = this.collection.page_img.path
      }
      // this.$axios.$get('/api/v1/products/collection/'+ this.collection)
      //   .then(response => {
      //     this.collectionImg = response.data.page_img.path
      //     this.mainTitle = response.data.title
      //   })
      //   .catch(e => {
      //     console.log(e)
      //   })
    }
    if (this.faq_slug != null) {
      this.$axios.$get('/api/v1/faq/get_by_category/'+ this.faq_slug)
        .then(response => {
          this.faq_list = response.data
        })
        .catch(e => {
          console.log(e)
        })
    }
  },

  fetchOnServer:true,

  fetch() {
    let openFilterSetting = this.$route.query["open-filter"];
    let currentPage = this.$route.query.page || 1;
    this.currentPage = parseInt(currentPage);

    if (openFilterSetting && this.firstLoad) {
      this.openFilter = openFilterSetting;
    }

    return this.getProducts().then((response) => {
      this.pushProducts(response);
      this.pushFilters(response);
      const me = this;
      setTimeout(() => {
        if (me.firstLoad) {
          console.log('clear first load');
          me.firstLoad = false;
        }
      }, 500)
    });
  },

  methods: {
    resetProducts() {
      this.currentPage = 1;

      this.setPageQuery();
      this.$utils.scrollTo();

      this.products = [];
    },

    getProducts() {
      // const filterArray = this.$route.query;
      let filterArray = {};
      if (this.collection == null) {
        if (this.material != null) {
          filterArray = {types: [this.type], materials: [this.material]}
        }else {
          filterArray = {types: [this.type]}
        }
      }else {
        filterArray = {collection: [this.collection.slug]}
      }

      let result = this.$axios.$post("/api/v1/products/all", {
        page: this.currentPage,
        filters: filterArray,
        sort: this.sortBy,
        perPage: this.paginator.perPage,
      });

      return result;
    },

    pushProducts(response) {

      if (response.data && response.data.products) {
        const result = response.data.products;

        this.products = result.data;

        this.paginator.total   = parseInt(result.total);
        this.paginator.perPage = parseInt(result.per_page);
        this.paginator.current = parseInt(result.current_page);

        this.currentPage       = parseInt(result.current_page);
        this.lastPage          = parseInt(result.last_page);

        this.setPageQuery();
        this.$utils.scrollTo();

        return result;
      }

      return null;
    },

    pushFilters(response) {
      this.filters = this.$utils.optional(response, "data.filters", {});

      return this.filters;
    },

    openPage($page) {
      // console.log("YOLO", $page);

      // this.page = $page;
      this.$store.commit('basket/START_LOADING');
      this.getProducts()
        .then((response) => {
          this.pushProducts(response);
          this.$store.commit('basket/STOP_LOADING');
        })
        .catch((err) => {
          console.log(err);
        });
    },

    onSorted(newSort) {
      console.log('newSort');
      this.sortBy = newSort;

      this.filterUpdated();
    },

    onSearched(newQuery) {
      this.searchQuery = newQuery;

      const me = this;

      clearTimeout(this.updateTimeout);
      this.updateTimeout = setTimeout(() => {
        me.filterUpdated();

        me.updateTimeout = null;
      }, 200);
    },

    filterUpdated(data) {
      console.log('filterUpdated', !this.firstLoad, data);

      if (!this.firstLoad) {
        this.resetProducts();
        this.refresh();
      }
    },

    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch();
        }, 100);
      }
    },

    setPageQuery() {

      const $router = this.$router;
      const page = {
        // path: this.$route.path,
        path: this.$route.fullPath,
        query: {
          page: this.currentPage
        },
      };

      $router.push(page)
    },

    noteClicked() {
      this.filterModalOpen = false;

      this.$nextTick(() => {
        this.blogPopUpOpen = !this.blogPopUpOpen;
      })
    },

    openFilterModal() {
      this.filterModalOpen = true;
    }
  },

};
</script>

<style lang="scss">
.filter-modal {

  .filter-modal-inner {
    background-color: #fff;
    padding: 2rem 2rem 5rem;

    .products-page__filters {

      max-height: none;
    }
  }

  .animation-content {
    background-color: #fff !important;
  }

  .modal-close::before,
  .modal-close::after {
    color: #000;
    background-color: #000;
  }
}

.category-text {
  margin: 1.5rem 0rem 2rem;
  font-size: 1rem;
  width: 75%;
  max-width: 900px;

  line-height: 1.4rem;

  @media(max-width: 700px) {
    width: 100%;
  }

  &.is-full-width {
    width: 100%;
    max-width: 100%;
  }
}

.faq-page {
  padding-top: 0px;
  &__sidebar {
    position: static;
  }
  .card-header-title {
    font-size: 1.125rem;
  }
}

</style>
