<template>
  <section class="container collection">
    <div class="columns">
      <div class="column is-4 is-align-self-center">
        <h1 class="collection__title">
          {{ collection.code }}<br>
          {{ $t('product.collection') }}
        </h1>
        <h2>
          <nuxt-link class="is-underlined" :to="localePath('/products')" v-html="$t('product.show_collection')" />
        </h2>
      </div>
      <div class="column is-offset-2 is-6 is-relative">
        <div
          class="is-absolute is-grey-alt"
          style="width: 507px; height: 764px; top: 18px; right: -65px;"
        />
        <b-image v-if="collection.main_image" style="width: 670px; margin: 54px 0 16px;" :src="$imagekit(collection.main_image)" />
        <span class="has-text-normal">
          {{ collection.title }}
        </span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    collection: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>
