<template>
  <div class="is-flex is-flex-direction-column" style="padding-top: 40px" ref="componentDiv">

    <div class="mb-2">
      {{ (product.type || {}).name }}
    </div>

    <h3 class="has-line-height-140">
      {{ product.name }}
    </h3>

    <!-- <div style="margin: 0 -16px 32px">
      <b-select class="br-select-filled" placeholder="Variations List" />
    </div> -->

    <div class="is-flex is-flex-direction-column is-justify-content-center is-flex-grow-1 ">
      <div style="margin-bottom: 40px" v-if="product.description">
        <div class="has-text-small has-text-medium" style="margin-bottom: 8px">
          {{ $t('product.description') }}
        </div>
        <div
          class="has-text-primary has-text-normal"
          style="margin-bottom: 8px"
          v-html="_computed_description"
        />
        <a class="has-text-small has-text-primary is-underlined" @click="openReadMore = !openReadMore">
          {{ openReadMore ? $t('product.close_read_more') : $t('product.read_more') }}
        </a>
      </div>

      <div style="margin-bottom: 40px" v-if="product.more_info">
        <div class="has-text-small has-text-medium" style="margin-bottom: 8px">
          {{ $t('product.more_info') }}
        </div>
        <div
          class="has-text-primary has-text-normal"
          style="margin-bottom: 8px"
          v-html="product.more_info"
        />
      </div>

      <div class="columns is-multiline">

        <div class="column is-6" v-if="$utils.optional(product, 'material.title')">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.material') }}
          </div>
          <div class="has-text-primary has-text-normal mt-2">
            <ColorCircle style="margin-right: 8px" :background="$utils.optional(product, 'material.color.hex')" />{{ $utils.optional(product, 'material.title') }}
          </div>
        </div>

        <div class="column is-6" v-if="_showVariationsSize">
          <div class="has-text-medium has-text-small mb-1">
            <span      v-if="product.type.slug == 'gredzens'"> {{ $t('product.size.ring') }} </span>
            <span v-else-if="product.type.slug == 'aproce' " > {{ $t('product.size.bracelet') }} </span>
            <span v-else                                     > {{ $t('product.variation') }} </span>
          </div>

          <div class="has-text-primary has-text-normal">
            <b-select v-model="_currentVariationId" class="br-select-underline" v-if="product.variations.length > 1">
              <option v-for="(variation, i) in product.variations" :key="`var-${variation.id}`" :value="variation.id">
                {{ variation.size }}
              </option>
            </b-select>

            <span v-else>
              {{variation.size}}
            </span>
          </div>
        </div>

        <!-- <div class="column is-6">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.accessory') }}
          </div>
          <div class="has-text-primary has-text-normal">
            <ColorCircle style="margin-right: 8px" background="transparent" />Color or Else
          </div>
        </div> -->

        <div class="column is-6 ">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.identification') }}
          </div>
          <div class="has-text-primary has-text-normal">
            {{ variation.sku }}
          </div>
        </div>


        <div class="column is-6" v-if="variation.has_leather == 1">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.leather.label') }}
          </div>
          <div class="has-text-primary has-text-normal">
            <b-select v-model="data.variation_data.meta" class="br-select-underline">
              <option v-for="(size, i) in sizesettings.leather_sizes" :key="`leather-size-${i}`" :value="size">
                {{ size }}
              </option>
            </b-select>
          </div>
        </div>
        <div class="column is-6" v-if="variation.has_small_chain == 1">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.small_chain.label') }}
          </div>
          <div class="has-text-primary has-text-normal">
            <b-select v-model="data.variation_data.meta" class="br-select-underline">
              <option v-for="(size, i) in sizesettings.small_chain_sizes" :key="`smal-chain-size-${i}`" :value="size">
                {{ size }}
              </option>
            </b-select>
          </div>
        </div>
        <div class="column is-6" v-if="variation.has_large_chain == 1">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.large_chain.label') }}
          </div>
          <div class="has-text-primary has-text-normal">
            <b-select v-model="data.variation_data.meta" class="br-select-underline">
              <option v-for="(size, i) in sizesettings.large_chain_sizes" :key="`large-chain-size-${i}`" :value="size">
                {{ size }}
              </option>
            </b-select>
          </div>
        </div>
        <div class="column is-6" v-if="variation.has_hoop == 1">
          <div class="has-text-medium has-text-small mb-1">
            {{ $t('product.hoop.label') }}
          </div>
          <div class="has-text-primary has-text-normal">
            <b-select v-model="data.variation_data.meta" class="br-select-underline">
              <option v-for="(size, i) in sizesettings.hoop_sizes" :key="`hoop-size-${i}`" :value="size">
                {{ size }}
              </option>
            </b-select>
          </div>
        </div>
        <div class="column is-6" v-if="product.type.slug == 'gredzens' || product.type.slug == 'aproce' || product.type.slug == 'aproces' || product.type.slug == 'kuloni-kaklarotas' || product.type.slug == 'gredzeni'">

          <div class="mt-2 " v-html="$t('product.size_description_text')"> </div>
        </div>
      </div>
    </div>

    <hr class="is-grey-alt mb-5 mt-5" />

    <div class="has-line-height-140 mb-5 is-flex">
      <ProductDetailsStock
        :stockIsLoading="stockIsLoading"
        :isInStock="_is_in_stock"
      />
    </div>

    <div class="is-flex is-align-items-center pb-1 product-input-add-to-cart">

      <h3 v-if="this.variation" class="">
        {{ money(this.variation.price) }}
      </h3>

      <div class="is-flex-grow-1" />

      <!-- <number-input v-model="data.count" :max="product.stock" class="mr-5" /> -->
      <number-input v-model="data.count" :max="50" class="mr-5" />

      <a
        class="button-add-cart"
        :class="{
          'button-with-underline--disabled': data.count > product.stock && false
        }"
        :disabled="data.count > product.stock && false"
        @click="addToCart(product, variation, data.count)"
      >
        <h3> {{ $t('product.add_to_cart') }}</h3>
      </a>

    </div>

    <BlogPopUp v-model="blogPopUpOpen"/>
  </div>
</template>
<script>
import NumberInput from '../../base/NumberInput'
import ColorCircle from '../../base/ColorCircle'
import BrInput from '~/components/base/BrInput'
import BlogPopUp from "~/components/pages/products/BlogPopUp";
import ProductDetailsStock from "~/components/pages/product/partials/ProductDetailsStock.vue";
import _get from "lodash/get";

export default {
  components: { ColorCircle, NumberInput, BrInput, BlogPopUp, ProductDetailsStock },

  props: {
    product: {
      type: Object,
      default: () => ({
        type: {},
        stock: 0
      })
    },
    variation: {
      type: Object,
      default: null,
    },

    sizesettings: {
      type: Object,
      default: null,
    },
  },

  data () {
    return {
      data: {
        count: 1,
        variation_data: {},
      },
      openReadMore: false,
      blogPopUpOpen: false,

      stockIsLoading: true,
      variationFromStockFetch: null,
    }
  },

  fetchOnServer: false,
  fetch() {
    this.fetchStock();
  },

  computed: {
    _selectedVariation() {
      let variation = null;
      let size = this.data.size;
      let material = this.data.material;

      ////console.log({size, material, vars: this.product.variations});

      if (this.product.variations) {
        variation = this.product.variations.find((variation) => {
          if (variation.size == size) {
            return true;
          }
        })
      }

      console.log(variation);
      return variation;
    },

    _currentVariationId: {
      get() {
        return this.variation.id;
      },

      set(newValue) {
        ////console.log('seeeet');
        const newLocalizedRoute = this.localePath({
          name: 'products-slug-variation_id',
          params: {
            slug: this.product.slug ,
            variation_id: newValue,
          }
        });

        this.$router.push(newLocalizedRoute);
      }
    },

    _showVariationsSize() {
      if (this.product.has_size_dropdown && this.product.variations.length > 1) {
        return true;
      }
      return false;
    },

    _computed_description() {
      if (this.openReadMore) {
        return this.product.description;
      }

      if (this.product.excerpt) {
        return this.product.excerpt;
      }

      if (this.product.description) {
        return this.product.description.replace(/\.[\s\S]*/gmi, ".");
      }
    },

    _is_in_stock() {
      return _get(this, 'variationFromStockFetch.is_in_stock', null);
    },
  },

  methods: {
    fetchStock() {
      this.stockIsLoading = true;

      this.$axios.$get(`/api/v1/products/variation/${this.variation.id}/refresh-stock`).then((result) => {
        if (!result.error) {
          const data = result.data;

          if (data && data.id) {
            this.variationFromStockFetch = data;
          }
        }

      }).catch((err) => {

      }).finally(() => {
        this.stockIsLoading = false;
      });
    },
    money(cents) {
      if (cents) {
        return this.$utils.parseCurrency(cents);
      }

      return null;
    },
    addToCart(product, variation, count) {
      const variation_data = this.data.variation_data;

      this.$store.dispatch('basket/ADD_PRODUCT', {product, variation, count, variation_data} )
        .then((r) => {
            this.toast(
              this.$t('global.added_to_cart'),
              "is-success"
            );

          })
          .catch((err) => {
            this.toast(
              err.message,
              "is-danger"
            );
          })
    },
    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    },
    noteClicked(value) {
      this.blogPopUpOpen = true;
    },
  },

  mounted() {
    const me = this;
    const componentDiv = me.$refs['componentDiv'];

    if (process.client && componentDiv) {
        let link = componentDiv.querySelector(`[href*='gredzenu-izmeri'], [href*='izmeru-celvedis']`);

        if (link) {
          link.addEventListener('click', function(event) {
            event.preventDefault();
            me.noteClicked();
          })
        }
    }
  },
}
</script>
