<template>
  <div class="is-relative product-images" v-if="product && _combinedImages.length > 0" >
    <client-only>
    <template>
      <VueSlickCarousel class="product-gallery" ref="product-gallery" v-bind="options">
        <b-image v-for="(image, i) in _combinedImages" :key="i" :src="$imagekit(image, 1000)" ratio="440by391" :lazy="false"/>
      </VueSlickCarousel>
    </template>
    </client-only>

    <a
      class="is-absolute"
      style="top: 50%; transform: translateY(-50%); left: 40px"
      @click="$refs['product-gallery'].prev()"
    >
      <ArrowLeft size="40" color="white" />
    </a>

    <a
      class="is-absolute"
      style="top: 50%; transform: translateY(-50%); right: 40px"
      @click="$refs['product-gallery'].next()"
    >
      <ArrowRight size="40" color="white" />
    </a>
  </div>
</template>

<script>
import ArrowLeft from '../../icons/ArrowLeft'
import ArrowRight from '../../icons/ArrowRight'
export default {
  components: { ArrowRight, ArrowLeft },
  props: {
    product: {
      type: Object,
      default: null,
    }
  },
  data () {
    return {
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
        adaptiveHeight: true,
        draggable: true,
        swipe: true
      }
    }
  },

  computed: {
    _combinedImages() {
      let images = [];

      if (this.product.main_image) {
        images.push(this.product.main_image)
      }

      if (this.product.images) {
        images = images.concat(this.product.images);
      }

      if (this.product.secondary_image) {
        images.push(this.product.secondary_image)
      }

      return images;
    }
  }
}
</script>

<style lang="scss" scoped>
.product-images {

  .image {
    max-height: 80vh;
  }
}

.product-gallery ::v-deep {
  .slick-track {
    pointer-events: none;
  }
}
</style>
