$ui-blue: #202A44;
$ui-darker-blue: #0F1422;
$ui-dark-blue: #111726;
$ui-light-blue: #565D70;
$ui-white: #FFFFFF;
$ui-grey: #D9D9D6;
$ui-grey-2: #C6CACE;
$ui-grey-alt: #E2E7EC;
$ui-grey-alt-2: #E6EEF5;
$ui-dark: #0F162B;
$ui-medium: #707A93;
$ui-clean: #F8F8F9;
$ui-info-success: #296F1D;

$ui-border: #1D2538;

/** Fonts */
$main-font: "Manrope";

/** Font sizes */
$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size: 16px;
$font-size-small: 12px;

/** Buefy */
$family-primary: $main-font;
$primary: $ui-blue;
$success: $ui-info-success;
$dark: $ui-dark;
$link: $primary;
$text: $primary;

// Font
$body-font-size: $font-size;
$body-line-height: 100%;
$body-weight: 500;

:root {
  --plyr-color-main: #{$primary};
  --color-main: #{$primary};
}
