@import "variables";

@import "~bulma";

@import "base/bulma_overrides";

@import "base/nav", "base/tag", "base/footer", "base/checkbox", "base/selectable-box", "base/select", "base/br-input", "base/textarea", "base/radio", "base/tabs", "base/br-range", "base/br-autocomplete";
@import "base/slick_slider";
@import "base/page-section";
@import "base/cookie_control";

@import "pages/home", "pages/products", "pages/product", "pages/basket", "pages/checkout", "pages/faq", "pages/legal", "pages/contact-us", "pages/about-us", "pages/blog", "pages/radi-pats", "pages/gift-card", "pages/report", "pages/search-result", "pages/kalendars";

@import "~buefy/src/scss/buefy";

* {
  font-variant-ligatures: normal;
}

.main-content {
  @include mobile {
    overflow: hidden;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h2, .h2 {
  font-size: $font-size-h2;
  line-height: 120%;
  letter-spacing: -0.01em;
}

h3, .h3 {
  font-size: $font-size-h3;
  line-height: 160%;
  letter-spacing: -0.01em;
}

h4, .h4 {
  font-size: $font-size-h4;
  line-height: 140%;
}

.section-page-padding {
  padding: 72px 40px 136px;
}

.has-text-large {
  font-size: $font-size-h4;
  line-height: 140%;
}

.has-text-normal {
  font-weight: 500;
  font-size: $font-size;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.has-line-height-100 {
  line-height: 100% !important;
}

.has-line-height-140 {
  line-height: 140% !important;
}

.has-line-height-160 {
  line-height: 160% !important;
}

.has-text-small {
  font-size: $font-size-small;
  line-height: 140%;
  letter-spacing: 0.01em;
}

hr {
  margin: 0;
  height: 1px;
  background-color: $ui-border;
}

.has-text-light-blue {
  color: $ui-light-blue !important;
}

.has-text-medium {
  color: $ui-medium !important;
}

.has-text-dark {
  color: $ui-dark !important;
}

.is-grey-alt {
  background: $ui-grey-alt;
}

.is-grey-alt-2 {
  background: $ui-grey-alt-2;
}

.is-clean {
  background: $ui-clean !important;
}

.is-absolute {
  position: absolute;
}

.is-flex-wrap-on-mobile {
  @include mobile {
    flex-wrap: wrap;
  }
}

.order-custom {
  height: 60px;
}

.button {
  border-radius: 0;
}

a, button, .button, *[role=button], .b-checkbox.checkbox, .selectable-box:not(.selectable-box-disabled), .br-radio, .b-radio .check, .b-radio .control-label {
  cursor: url("~assets/svg/icons/cursor-pointer.svg") 7 4, pointer;
}

.br-numberinput {
  a {
    color: $ui-blue;
    height: min-content;
    &.is-disabled {
      color: $ui-dark;
      opacity: 0.16;
      cursor: not-allowed
    }
  }
}

.has-overflow-hidden {
  overflow: hidden !important;
}

.button-with-underline {
  padding: 0 8px;
  margin: 0 -8px;
  transition: box-shadow .3s ease;
  &--disabled{
    color: $ui-dark;
    opacity: 0.16;
    cursor: not-allowed;
  }
  &:not(&--disabled):hover {
    box-shadow: 0 12px 0 -8px $ui-blue;
  }
}

.is-underlined {
  text-decoration: underline;
}

.is-float-right {
  float: right
}

.page-enter-active,
.page-leave-active {
  transition: opacity 200ms, transform 200ms;
}
.page-enter,
.page-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
