<template>
  <div class="omniva-map">
    <div class="map-wrapper">
      <client-only>
        <div id="map" class="map"></div>
      </client-only>
    </div>

    <b-select v-model="model" class="br-select-outlined mt-4 mb-4" :placeholder="'Piegādes punkts'">
      <option v-for="(loc, index) in locations" :key="index" :value="index">
        {{loc.NAME}}
      </option>
    </b-select>
  </div>
</template>

<script>
import _each from "lodash/each";
import _map from "lodash/map";
import mapboxgl from 'mapbox-gl'

export default {
  props: {
    method: Object,
    value: null,
  },

  data() {
    return {
      map: null,
      popup: null,
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(newValue) {

        this.activateLocation(newValue);

        this.$emit('input', newValue);
      }
    },

    locations() {
      return this.$utils.optional(this.method, 'method_data.locations', []);
    }
  },

  methods: {
    makeMap() {

      this.map  = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [24.255026,56.9832124], // starting position [lng, lat]
        zoom: 10 // starting zoom
      });

      this.popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false,
      });

      this.map.on('load', () => {
        this.map.addSource('places', {
          'type': 'geojson',
          'data': {
            'type': 'FeatureCollection',
            'features': this.getMarkers(),
          }
        });

        this.map.addLayer({
          'id': 'places',
          'type': 'circle',
          'source': 'places',

          'paint': this.getMarkerStyle(),
        });
      });

      this.map.on('click', 'places', (e) => {
        this.model = e.features[0].id;
      })

      this.map.on('mouseenter', 'places', (e) => {
        this.map.getCanvas().style.cursor = 'pointer';

        // Copy coordinates array.
        const coordinates = e.features[0].geometry.coordinates.slice();
        const description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        this.popup.setLngLat(coordinates).setHTML(description).addTo(this.map);
      });

      this.map.on('mouseleave', 'places', (e) => {
        this.map.getCanvas().style.cursor = '';
        this.popup.remove();
      });


      this.map.addControl(new mapboxgl.FullscreenControl());
    },

    getMarkers() {
      const locations = this.locations;
      const features = _map(locations, (item, key) => {
        return {
          'type': 'Feature',
          'id' : key,
          'properties': {
            'description': `<div><b>${item.NAME}</b></div>${item.comment}<br><small>${item.address}</small>`,
            'key': key,
          },
          'geometry': {
            'type': 'Point',
            'coordinates': [item.X_COORDINATE, item.Y_COORDINATE],
          }
        };
      });

      return features;
    },

    getMarkerStyle() {
      return {
        'circle-color': '#202A44',
        'circle-radius': [
          'case',
          ['boolean', ['feature-state', 'active'], false],
          12,
          8
        ],
        'circle-stroke-width': 2,
        'circle-stroke-color': '#ffffff'
      };
    },

    activateLocation(id) {

      try {
        let location = this.locations[id];
        this.map.flyTo({
          center: [location.X_COORDINATE, location.Y_COORDINATE]
        });

        //resset to default
        this.map.removeFeatureState({ source: 'places' });
        this.map.setFeatureState(
          { source: 'places', id: id },
          { active: true }
        );

      } catch (error) {
        console.error("Canceled!", error);
      }
    }
  },

  mounted() {
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWR4bHYiLCJhIjoiY2t4aGQxb2pkMDdocTJycGVxaWo3bG9nciJ9.AYYNEmiYpX4r8W90XP1whA';

    this.$nextTick(this.makeMap);
  },
}
</script>

<style lang="scss" scoped>
.omniva-map {
  width: 100%;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
