<template>
  <div class="has-navbar-padding">
    <section class="report-box page-section">
      <div class="columns">

        <div class="column is-6">
          <template v-if="status != null">
            <h1 class="report-title">{{ $t("report.status_" + status) }}</h1>
            <p class="report-text">{{ $t("report.text_" + status) }}</p>

            <b-button
              v-if="isPaymentFailed"
              @click="restoreCart"
              class="mt-4"
            >
              {{ $t("report.restore_cart") }}
            </b-button>
          </template>

          <template v-if="order_data != null">
            <div class="order-data">
              <h4 class="report-payment-title">
                {{ $t("check_order.main_title") }}
              </h4>
              <div class="columns">
                <div class="column is-6">
                  <div class="report-info-box">
                    <label>{{ $t("check_order.purchase_id") }}</label>
                    <p>{{ order_data.order_number }}</p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="report-info-box">
                    <label>{{ $t("checkout.total") }}</label>
                    <p>
                      {{
                        $utils.parseCurrency(
                          order_data.total_post_taxes
                        )
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6">
                  <div class="report-info-box">
                    <label>{{ $t("check_order.shipped_at") }}</label>
                    <p>{{ formatedShippedAt }}</p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="report-info-box">
                    <label>{{ $t("check_order.state") }}</label>
                    <p>{{ formatedState }}</p>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
        <div class="column is-6">
          <img :src="reportImage" class="report-image" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import _toLower from "lodash/toLower";

export default {
  async asyncData({ route, $axios, params, error }) {
    const status = params.status;
    let order_data = null;

    if (params.hash != null) {
      const order = await $axios.$get(`/api/v1/orders/order/${params.hash}`);
      order_data = order.data;

      if (order.error) {
        return error(404);
      }
    }

    return {
      status: status,
      order_data: order_data,

      items: order_data ? order_data.items : null,
      subtotal: order_data ? order_data.total_post_taxes : null,
      deliverySumm: order_data ? order_data.total_delivery_post_taxes : null,
      // discount: "discount",
      total: order_data ? order_data.total_post_taxes : null,
      state: order_data ? order_data.order_state : null,
      shippedAt: order_data ? order_data.shipped_at : null,
      paymentState: order_data ? order_data.formated_payment_state : null,
    };
  },

  data() {
    return {
      status: null,
      order_data: null,
      reportImage: require("~/assets/img/report/report.png"),
    };
  },

  computed: {
    formatedState() {
      const state = _toLower(this.state.flag ?? "unknown");
      return this.$t(`check_order.state_name.${state}`);
    },
    formatedShippedAt() {
      if (!this.shippedAt) {
        return this.$t(`check_order.shipping_state_name.not_sent`);
      }

      return this.$dayjs(this.shippedAt).format("DD.MM.YYYY");
    },
    formatedPaymentState() {
      const state = _toLower(this.paymentState ?? "unknown");
      return this.$t(`check_order.payment_state_name.${state}`);
    },

    isPaymentFailed() {
      if (this.order_data) {
        return this.order_data.is_payment_failed;
      }

      if (this.$route.params == 'fail') {
        return true;
      }

      return false;
    }
  },

  methods: {
    restoreCart() {
      const hash = this.$utils.optional(this.$route.params, 'hash');

      if (hash) {
        this.$store.dispatch('basket/restoreCart', hash);
      }
    }
  },
};
</script>
