<template>
  <div>
    <template v-if="stockIsLoading">
      <div class="is-flex" style="cursor: progress;">
        <b-skeleton :animated="true" width="150px"></b-skeleton>
        <span class="icon is-small ml-2">
          <b-skeleton :animated="true" width="20px"></b-skeleton>
        </span>
      </div>
    </template>

    <template v-else-if="isInStock">
      <div>
        <span class="mr-2">
          {{ $t('product.is_in_stock') }}
        </span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.16675 10.8333L7.50008 14.1667L15.8334 5.83334" stroke="#296F1D" stroke-width="1.3"
            stroke-linecap="square" />
        </svg>
      </div>
    </template>

    <template v-else>
      <div>
        <span class="mr-2">
          {{ $t('product.is_not_in_stock') }}
        </span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.65 6.66667V6.01667H9.35V6.66667H10.65ZM10 10H9.35C9.35 10.1724 9.41848 10.3377 9.54038 10.4596L10 10ZM12.0404 12.9596L12.5 13.4192L13.4192 12.5L12.9596 12.0404L12.0404 12.9596ZM10 2.5V3.15V2.5ZM9.35 6.66667V10H10.65V6.66667H9.35ZM9.54038 10.4596L12.0404 12.9596L12.9596 12.0404L10.4596 9.54038L9.54038 10.4596ZM16.85 10C16.85 10.8996 16.6728 11.7903 16.3286 12.6214L17.5296 13.1189C17.9392 12.1301 18.15 11.0703 18.15 10H16.85ZM16.3286 12.6214C15.9843 13.4525 15.4798 14.2076 14.8437 14.8437L15.7629 15.7629C16.5197 15.0061 17.12 14.1077 17.5296 13.1189L16.3286 12.6214ZM14.8437 14.8437C14.2076 15.4798 13.4525 15.9843 12.6214 16.3286L13.1189 17.5296C14.1077 17.12 15.0061 16.5197 15.7629 15.7629L14.8437 14.8437ZM12.6214 16.3286C11.7903 16.6728 10.8996 16.85 10 16.85V18.15C11.0703 18.15 12.1301 17.9392 13.1189 17.5296L12.6214 16.3286ZM10 16.85C9.10044 16.85 8.2097 16.6728 7.37862 16.3286L6.88113 17.5296C7.86993 17.9392 8.92973 18.15 10 18.15V16.85ZM7.37862 16.3286C6.54754 15.9843 5.7924 15.4798 5.15632 14.8437L4.23708 15.7629C4.99388 16.5197 5.89233 17.12 6.88113 17.5296L7.37862 16.3286ZM5.15632 14.8437C4.52024 14.2076 4.01567 13.4525 3.67143 12.6214L2.47038 13.1189C2.87996 14.1077 3.48028 15.0061 4.23708 15.7629L5.15632 14.8437ZM3.67143 12.6214C3.32718 11.7903 3.15 10.8996 3.15 10H1.85C1.85 11.0703 2.06081 12.1301 2.47038 13.1189L3.67143 12.6214ZM3.15 10C3.15 8.18327 3.87169 6.44094 5.15632 5.15632L4.23708 4.23708C2.70866 5.7655 1.85 7.83849 1.85 10H3.15ZM5.15632 5.15632C6.44094 3.87169 8.18327 3.15 10 3.15V1.85C7.83849 1.85 5.7655 2.70866 4.23708 4.23708L5.15632 5.15632ZM10 3.15C11.8167 3.15 13.5591 3.87169 14.8437 5.15632L15.7629 4.23708C14.2345 2.70866 12.1615 1.85 10 1.85V3.15ZM14.8437 5.15632C16.1283 6.44094 16.85 8.18327 16.85 10H18.15C18.15 7.83849 17.2913 5.7655 15.7629 4.23708L14.8437 5.15632Z"
            fill="#707A93" />
        </svg>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    stockIsLoading: {
      type: Boolean,
      default: true,
    },

    isInStock: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {

    }
  },
}
</script>

<style scoped lang="scss">

</style>
