<template>
  <div class="blog-post">
    <div class="columns is-gapless blog-post__details">
      <div class="column">
        <!-- {{ post.date_published }} -->
      </div>
      <!-- <div class="column">
        {{ post.read_time }} {{ $t('blog.read_time') }}
      </div> -->
    </div>
    <template v-if="post.image != null">
      <nuxt-link :to="localePath({
        name: 'blog-id',
        params: {id: post.slug},
      })">
        <b-image class="blog-post__image" :src="$imagekit(post.image.path, 800)" width="100" responsive ratio="6by5"/>
      </nuxt-link>
    </template>
    <div class="blog-post__title">
      {{ post.title }}
    </div>
  </div>
</template>

<script>
// function getRandomIntInclusive (min, max) {
//   min = Math.ceil(min)
//   max = Math.floor(max)
//   return Math.floor(Math.random() * (max - min + 1)) + min // Max and min included
// }

export default {
  props: {
    post: {
      type: Object
      // default: () => ({
      //   date: 'October 13, 2021',
      //   time: '6 min read',
      //   img: `/demo/blog/${getRandomIntInclusive(1, 2)}.png`,
      //   title: 'Eget ut integer massa tincidunt suscipit diam vitae commodo.'
      // })
    }
  }
}
</script>

<style lang="scss">
.blog-post {
  &__details {
    line-height: 140%;
    margin-bottom: 8px !important;
  }
  &__image {
    margin-bottom: 16px;
  }
  &__title {
    margin-bottom: 2px;
  }
  // img {
  //   max-height: 400px;
  // }
}
</style>
