<template>
  <div ref="componentDiv">

    <div v-if="type === 'checkboxes'" class="is-flex is-flex-direction-column pb-4" style="gap: 16px">
      <checkbox-with-circle
        v-for="child in filterList" :key="child.id"
        v-model="model"
        :native-value="child.slug"
        style="padding-right: 3px"
        :circle-props="$utils.optional(child, 'color.hex')"
        is-radio
      >
        {{ child.title }}
      </checkbox-with-circle>
    </div>

    <div v-if="type === 'image-checkboxes'" class="columns is-variable is-multiline is-mobile is-1">
      <div v-for="child in filterList" :key="child.id" class="column p-1 is-6 is-6-desktop">
        <CheckboxInSquare
          v-model="model"
          :native-value="child.slug"
          :image="child.image"
          :image-alt="child.title"
          is-radio
        >
          {{ child.title }}
        </CheckboxInSquare>
      </div>
    </div>

    <div v-if="type === 'sizes'" class="is-flex is-flex-wrap-wrap pb-5" style="gap: 6px">
      <!-- <selectable-box v-for="size in filterList" :key="size" v-model="model[size]" :disabled="!$store.getters['products/isSizeAvailable'](size)"> -->
      <selectable-box v-for="(size, key) in filterList" :key="key"
        v-model="model"
        :native-value="size"
      >
        {{ size }}
      </selectable-box>
    </div>

    <div v-if="type === 'boolean'" class="is-flex is-flex-direction-column" style="gap: 16px">
      <b-switch
        v-model="model"
        true-value="yes"
        false-value="null"
        class="no-label-switch"
      >
      </b-switch>
    </div>

    <div v-if="type === 'minMax'" class="is-flex is-flex-direction-column px-4">
      <BrRange
        title="yolo"
        v-model="model"
        :min="filterList[0]"
        :max="filterList[1]"
        :step="1"
      />
    </div>

    <div v-if="type === 'text'" class="is-flex is-flex-direction-column">
      <b-input
        class="text-input has-text-normal"
        v-model="tempModel"
        icon="magnify"
        :placeholder="placeholder"
        :icon-right="iconRight"
        icon-right-clickable
        icon-clickable
        @icon-right-click="clearModels"
        @icon-click="commitTempModelToModel"
        @keyup.enter.native="commitTempModelToModel"
        @keyup.native="commitTempModelToModelDelay"
      ></b-input>
    </div>

    <div v-if="note" class="has-text-small has-text-medium" v-html="note" @click="">
    </div>
  </div>
</template>

<script>
import CheckboxInSquare from '~/components/base/CheckboxInSquare'
import CheckboxWithCircle from '~/components/base/CheckboxWithCircle'
import SelectableBox from '~/components/base/SelectableBox'
import BrRange from '~/components/base/BrRange'
import ColorCircle from '~/components/base/ColorCircle'

import _isArray from 'lodash/isArray'
import _merge from 'lodash/merge'

export default {
  components: {
    SelectableBox,
    CheckboxWithCircle,
    CheckboxInSquare,
    ColorCircle,
    BrRange,
  },

  props: {
    value: [],

    title: {
      type: String,
      default: "PLACEHOLDER",
    },

    filterList: {
      type: [Array,Object],
      default: () => [],
    },

    slug: {
      type: String,
      default: "PLACEHOLDER",
    },

    type: {
      type: String,
      default: 'checkboxes',
    },

    note: {
      type: String,
      default: null,
    },

    placeholder: {
      type: String,
      default: null,
    },
    lockFilters: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      filterValue: [],
      updateTimeout: null,
      tmp: [],

      // Uset to temporarry store model data
      tempModel: null,
    };
  },

  computed: {
    model: {
      set(newValue, oldValue) {

        let doUpdate = false
        if ( this.lockFilters == true ) {
          doUpdate = false;
        }else {
          doUpdate = true;
        }


        // Specially for switch
        if (this.type == 'boolean') {
          this.filterValue = (newValue == 'null') ? [] : true;
        }

        if (this.type == 'text') {
          if (!this.filterValue
              && newValue.length != 0
              && newValue.length < 3   ) {
            doUpdate = false;
          }

          if (typeof newValue === "object" || typeof newValue === "array") {
            this.filterValue = '';
          } else {
            this.filterValue = newValue;
          }

        }

        // All other (basically list filter)
        else {
          if (newValue === null) {
            this.filterValue = [];
          } else {
            if (newValue != true) {
              this.filterValue =
                typeof newValue === "object" ? newValue : [newValue];
            }
          }
        }

        if (this.updateTimeout) {
          clearTimeout(this.updateTimeout);
        }

        const me = this;
        if (doUpdate) {

          this.updateTimeout = setTimeout(() => {
            me.update();
          }, 400);
        }
      },

      get() {
        // Specially for switch
        if (this.type == 'boolean') {
          return this.filterValue;
        }

        if (this.type == 'text') {
          if (typeof this.filterValue === "object" || typeof this.filterValue === "array") {
            return '';
          } else {
            return this.filterValue;
          }
        }

        // All other (basically list filter)
        else {
          return this.filterValue;
        }
      },
    },

    slugifiedTitle() {
      if (this.slug) {
        return this.slug
      }

      return "DEFAULT";
      // return this.$utils.slugify(this.title.toLowerCase());
    },

    iconRight() {
      const hasModel = this.model != null && this.model != [];
      const hasTempModel = this.tempModel != null && this.tempModel != [];

      if (hasModel || hasTempModel) {
        return 'close';
      }

      return null;
    }
  },

  methods: {
    update() {
      const filterValue = this.filterValue;
      const slug = this.slugifiedTitle;

      let query = {};

      if (filterValue) {
        query[slug] = filterValue
      } else {

        if (this.type == 'text') { query[slug] = null; }
      }

      setTimeout(() => {
        this.setRouteQuery(query);
      }, 10);

      this.$emit("input", filterValue);
    },

    setRouteQuery(query) {
      if (this.$route.name != 'products___' + this.$i18n.locale) {
        let newQuery  = _merge(this.$route.query, query);

        this.$router.push(this.localePath({
          name: 'products',
          query: newQuery,
        }));
      } else {
        this.$router.push({
          path: this.$route.fullPath,
          query,
        });
      }
    },

    grabUrlQueries() {
      const slug = this.slugifiedTitle;

      if (this.$route.query[slug]) {

        if (this.isDatePicker) {

          this.filterValue = this.$route.query[slug].map((day) => {
            return this.$dayjs(day, FD);
          });

        } else {
          let value = this.$route.query[slug];

          this.filterValue = _isArray(value)
            ? value
            : [value];
        }

        this.isDropdownOpen = true;
      }
    },

    resetFilter() {
      // this.filterTypes.switch.model = false;
      // this.isDropdownOpen = false;
      this.filterValue = [];
      this.update();
    },

    noteClicked(value) {
      this.$emit('noteClicked', value)
    },

    clearModels(event) {
      this.model = null;
      this.tempModel = null;
    },

    commitTempModelToModel(event) {
      this.model = this.tempModel;
    },
    commitTempModelToModelDelay(event) {
      setTimeout(() => {
        this.model = this.tempModel;
      }, "2000")

    },
  },

  mounted() {
    const me = this;
    const componentDiv = me.$refs['componentDiv'];
    // this.filterValue = ['gredzens', 'aproce', 'zelts']
    if (this.$route.params) {

      // if (this.$route.params.type && !this.$route.params.material) {
      //   this.filterValue = [this.$route.params.type];
      // }

      // if (this.$route.params.type && this.$route.params.material) {
      //   this.filterValue = [this.$route.params.type, this.$route.params.material]
      // }

      // if (this.$route.name == 'products-collection-slug___' + this.$i18n.locale) {
      //   this.filterValue = [this.$route.params.slug];
      // }
    }

    if (this.value) {
      this.filterValue = this.value;
    }

    this.$root.$on("resetAllFilters", function () {
      me.resetFilter();
    });

    this.grabUrlQueries();

    if (process.client && componentDiv) {
        let link = componentDiv.querySelector(`[href*='gredzenu-izmeri'], [href*='izmeru-celvedis']`);

        if (link) {
          link.addEventListener('click', function(event) {
            event.preventDefault();
            me.noteClicked();
          })
        }
    }
  },
}
</script>

<style lang="scss" scoped>
.no-label-switch  {
  margin-right: 0;

}


.text-input ::v-deep {

  input {
    border: none;
    box-shadow: none;
  }
}
</style>
