<template>
  <div class="product">
    <div  class="product__details">
      <div class="columns">

        <div v-if="_showColor" class="column is-flex is-align-items-center">
          <ColorCircle
            v-if="$utils.optional(product, 'material.color.hex', null)"
            style="margin-right: 6px"
            :background="$utils.optional(product, 'material.color.hex', null)"
          />

          {{ $utils.optional(product, 'material.title', '&nbsp;') }}
        </div>

        <!-- <div v-if="product.is_new" class="column">
          {{ $t('product.is_new') }}
        </div> -->

        <!-- <div class="column" v-if="variation.is_in_stock">
          <ColorCircle class="ml-2" background="#202A44" />
        </div> -->
      </div>
    </div>
    <nuxt-link :to="localePath(_productPathObject)" >
      <div class="product__image">
        <b-image
          :src="$imagekit(product.secondary_image, 500)"
          src-fallback="/images/placeholder.png"
          ratio="1by1"
          class="secondary-image"
        >
          <template #placeholder>
              <b-skeleton
                :rounded="false"
                class="skeleton-placeholder"
                height="100%"
              ></b-skeleton>
          </template>
        </b-image>

        <b-image
          :src="$imagekit(product.main_image, 500)"
          src-fallback="/images/placeholder.png"
          ratio="1by1"
          class="primary-image"
        >
          <template #placeholder>
              <b-skeleton
                :rounded="false"
                class="skeleton-placeholder"
                height="100%"
              ></b-skeleton>
          </template>
        </b-image>

        <div class="is-new-label has-text-normal" v-if="product.is_new">
          {{ $t('product.is_new') }}
        </div>
      </div>
    </nuxt-link>

    <div class="product__title">
      <span>
        {{ product.name }}
      </span>
      <!-- <div v-if="true">
        <ColorCircle class="ml-2" background="#1F9B00" inner-color="#87FF4F" />
      </div> -->
    </div>
    <div class="product__price has-text-large">
      {{ $utils.parseCurrency(variation.price, 1, 0) }}
    </div>
  </div>
</template>

<script>
import ColorCircle from '../base/ColorCircle'

export default {
  components: { ColorCircle },
  props: {
    product: {
      type: Object,
      default: () => ({})
    },
    variation: {
      type: Object,
      default: () => ({})
    },
    showColor: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    _showColor() {
      const isTransparent = this.$utils.optional(this.product, 'material.color.hex', null) == '#ffffff';
      if (isTransparent) {
        return false;
      }

      return this.showColor;
    },

    _material() {
      return this.$utils.optional(this.product, 'material', null);
    },

    _productPathObject() {
      return {
        name: 'products-slug-variation_id',
        params: {
          slug: this.product.slug ,
          variation_id: this.variation.id,
        }
      }
    }
  },
}
</script>

<style lang="scss">
.product {
  &__details {
    line-height: 140%;
    margin-bottom: 8px;
  }
  &__image {
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
      transition: all 0.3s;
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1);
    }

    &:hover {
      .primary-image {
        opacity: 0;
      }

      img {
        transform: scale(1.1);
      }
    }

    .primary-image {
      transition: opacity 200ms ease;
    }
    .secondary-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

  }
  &__title {
    margin-bottom: 2px;
    display: flex;
  }
  &__price {}

  .b-skeleton {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    border-radius: 0px;
  }

  .is-new-label {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #F8F8F9;

    padding: 8px;
    text-align: center;
  }
}


</style>
