<template>
  <section :style="sectionCssStyles" class="home-background" >
    <b-image src="logo.svg" class="logo" />
    <h3 class="story has-text-white has-text-centered" v-html="$t('home.title')"></h3>
  </section>
</template>

<script>
import _get from "lodash/get";

export default {
  props: {
    images: {
      type: Object,
      default: () => null,
    }
  },

  data () {
    return {}
  },

  computed: {
    sectionCssStyles() {
      const images          = this.images;
      const defaultImageUrl = '/demo/home/1.png';
      const stylesToReturn  = {};

      const cmsDefaultImage = _get(images, 'desktop.path', null);
      stylesToReturn['--default-background-image'] = `url('${this.$imagekit(cmsDefaultImage)}')`;


      const cmsMobileImage  = _get(images, 'mobile.path', null);
      if (cmsMobileImage) {
        stylesToReturn['--mobile-background-image'] = `url('${this.$imagekit(cmsMobileImage)}')`;
      }

      return stylesToReturn;
    }
  }
}
</script>

<style lang="scss" scoped>
  .home-background {
    // --default-background-image: url("/demo/home/1.png");
  }
</style>
