<template>
  <section class="container home-custom-design">
    <div class="columns mobile-reverse">
      <div class="column is-6 is-relative">
        <div
          class="is-absolute is-grey-alt custom-grey"
        />
        <b-image :src="$imagekit(image1, 1000)" class="custom-design-image-big" />
        <b-image
          :src="$imagekit(image3, 600)"
          class="is-absolute custom-design-image-small"
        />
        <h2 class="custom-mobile-link">
          <nuxt-link class="is-underlined" :to="localePath({name: 'radi-pats'})" v-html="$t('home.custom_design')" />
        </h2>
      </div>
      <div class="column is-4 is-offset-2">
        <h1 class="home-custom-design__title" v-html="$t('home.personal_title')" />
        <div class="home-custom-design__subtitle" v-html="$t('home.personal_desc')"></div>
        <h2 class="no-mobile">
          <nuxt-link class="is-underlined" :to="localePath({name: 'radi-pats'})" v-html="$t('home.custom_design')" />
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      image1: '/demo/home/3.png',
      image3: require('~/assets/img/home/custom2.jpg')
    }
  }
}
</script>
