<template>
  <section
    class="home-favorites"
  >
    <div class="columns is-multiline">
      <div class="column is-9 is-offset-3" style="margin-bottom: 16px;">
        <h1 v-html="$t('home.favorite_products')" />
      </div>
      <div class="column is-3 favorite-title">
        <nuxt-link :to="localePath('/products')" class="is-underlined">
          <h2 v-html="$t('home.shop_all')"  />
        </nuxt-link>
      </div>
      <div class="column">
        <div class="columns" style="margin-top: 4px;">
          <template v-for="p in products">
            <Product
              :key="p.id"
              :product="p"
              :variation="getVariation(p)"
              class="column is-4"
            />
          </template>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Product from '../../partial/Product'
export default {
  components: { Product },
  data () {
    return {
      products: []
    }
  },

  async fetch() {
    const products = await this.$axios.$get('/api/v1/products/popular');
    this.products = products.data
  },

  methods: {
    getVariation(product) {
      if (product.variations && product.variations.length > 0) {
        return product.variations[0];
      }

      return [];
    }
  },
}
</script>
