<template>
  <section class="container home-gift">
    <div class="columns">
      <div class="column is-4">
        <div class="home-gift__title">
          <h1 class="" v-html="$t('home.gift_title')" />
          <p class="mt-6 has-line-height-160" v-html="$t('home.gift_body')"></p>
        </div>
        <h2>
          <nuxt-link class="is-underlined" :to="localePath({name:'gift-card'})" v-html="$t('home.shop_now')" />
        </h2>
      </div>
      <div class="column is-offset-2 is-6 is-relative">
        <div
          class="is-absolute is-grey-alt gift-grey"
        />
        <b-image :src="giftImage" class="home-gift-image" />
        <!-- <b-image
          :src="giftImageSmall"
          class="is-absolute"
          style="left: -133px; bottom: 73px"
        /> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      image1: '/demo/home/5.png',
      image2: '/demo/home/6.png',
      giftImage: require('~/assets/img/home/gift.png'),
      giftImageSmall: require('~/assets/img/home/gift_small.png')
    }
  }
}
</script>
