<template>
  <section
    class="home-how-made"
  >
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-6 is-offset-6 is-relative how-made-title-box" style="">
          <h1 v-html="$t('home.how_its_made')" />
          <div
            class="is-absolute is-grey-alt how-made-bg"
          />
        </div>
      </div>
    </div>
    <div class="container" style="z-index: 1">
      <div style="max-width: 1015px">
        <client-only v-if="startLoading">
          <vue-plyr>
            <div v-bind="plyr" />
          </vue-plyr>
        </client-only>

        <b-skeleton v-else height="500px"></b-skeleton>
      </div>
    </div>
  </section>
</template>

<script>
const YOUTUBE_LOAD_TIMEOUT = 5 * 1000

export default {

  data () {
    return {
      plyr: {
        'data-plyr-provider': 'youtube',
        'data-plyr-embed-id': 'Bx_nTdYK7BE'
      },

      startLoading: false,
    }
  },

  mounted() {
    setTimeout(() => {
      this.startLoading = true
    }, YOUTUBE_LOAD_TIMEOUT);
  },
}
</script>
