<template>
  <section
    class="home-latest-posts"
  >
    <div class="columns is-multiline">
      <div class="column is-9 is-offset-8" style="margin-bottom: 16px;">
        <h1 v-html="$t('home.latest_post')" />
      </div>
      <div class="column is-3">
        <nuxt-link :to="localePath('/blog')" class="is-underlined">
          <h2 v-html="$t('home.read_journal')" />
        </nuxt-link>
      </div>
      <div class="column is-9">
        <div class="columns" style="margin-top: 4px;">
          <template v-for="b in posts">
            <BlogPost :key="b.id" :post="b" class="column is-narrow" />
          </template>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BlogPost from '../../partial/BlogPost'
export default {
  components: { BlogPost },
  data () {
    return {
      settings: {
        arrows: false,
        dots: false,
        variableWidth: true,
        infinite: false
      },
      posts: null
    }
  },
  created () {
    this.get_new_posts()
  },
  methods: {
    async get_new_posts () {
      const posts = await this.$axios.$get('/api/v1/news/posts/new/2')
      this.posts = posts.data
    }
  }
}
</script>
