<template>
  <section :style="sectionCssStyles" class="home-trending" :class="{'has-temporary-changes': hasTemporaryChanges}">
    <a v-if="hasTemporaryChanges" :href="localePath({ name: 'blog-id', params: { id: 'baltic-jewelry-30' } })" class="home-trending__wrapper"></a>
    <div v-else class="home-trending__wrapper">
      <h1 class="home-trending__title" v-html="title" />
      <div class="home-trending__link">
        <div class="spacer"></div>
        <nuxt-link class="h2 is-underlined" :to="localePath({name:'products', query:{'collection': slug, 'open-filter': 'collection'}})" v-html="$t('home.explore_trending')" />
      </div>
    </div>

    <div class="is-flex is-justify-content-end p-6 trending-mobile-link">
      <nuxt-link v-if="hasTemporaryChanges" class="h2 is-underlined" :to="localePath({ name: 'blog-id', params: { id: 'baltic-jewelry-30' } })" v-html="$t('home.knowmore')" />
      <nuxt-link v-else class="h2 is-underlined" :to="localePath({name:'products', query:{'open-filter': 'collection'}})" v-html="$t('home.see_all_collections')" />
    </div>
  </section>
</template>

<script>
import _get from 'lodash/get';

export default {
  props: {
    collection: [Object],
  },
  data () {
    return {
      // image: '/demo/home/2.png',
      def_image: require('~/assets/img/home/trending1.jpg'),
      hasTemporaryChanges: false
    }
  },

  computed: {
    sectionCssStyles() {
      const collection      = this.collection;
      const defaultImageUrl = require('~/assets/img/home/trending1.jpg');
      const stylesToReturn  = {};

      console.log("COLLECTION", collection);

      let cmsDefaultImage;
      let cmsMobileImage;

      if (this.hasTemporaryChanges) {
        cmsDefaultImage = require('~/assets/img/home/30years-desktop.webp');
        cmsMobileImage = require('~/assets/img/home/30years-mobile.webp');
      } else {
        cmsDefaultImage = _get(collection, 'main_image', null);
        cmsMobileImage = _get(collection, 'main_image_mobile', null);
      }

      stylesToReturn['--default-background-image'] = `url('${this.$imagekit(cmsDefaultImage)}')`;

      if (cmsMobileImage) {
        stylesToReturn['--mobile-background-image'] = `url('${this.$imagekit(cmsMobileImage)}')`;
      }

      return stylesToReturn;
    },

    slug() {
      if (this.collection) {
        return this.collection.slug
      }

      return null;
    },

    title() {
      if (this.collection) {
        return `${this.$t('home.trending')} <br/> ${this.collection.title}`
      }

      return `${this.$t('home.trending')}`
    }
  }
}
</script>
