<template>
  <div class="has-navbar-padding">
    <section class="products-page">
      <div class="columns is-variable is-8">
        <div class="column is-3">
          <Filters
            :filters="filters"
            @filterUpdated="filterUpdated"
            class="products-page__filters"
          />
        </div>
        <div class="column">
          <Products
            :products="products"
            :sortBy="sortBy"
            :searchQuery="searchQuery"
            @onNextPage="onNextPage"
            @sorted="onSorted"
            @searched="onSearched"
          />
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Filters from '~/components/pages/products/Filters'
import Products from '~/components/pages/products/Products'
export default {
  name: 'ProductsPage',
  components: { Products, Filters },

  data() {
    return {
      filters: {},
      products: [],
      page: 0,
      loading: false,
      firstLoad: true,

      sortBy: 'popularity_desc',
      searchQuery: null,

      updateTimeout: null,
    };
  },

  fetch () {
    return this
      .getProducts()
      .then((response) => {
          this.pushProducts(response);
          this.pushFilters(response);

          ////console.log("Fetch Response!");

          if (this.firstLoad) {
            this.firstLoad = false;
          }
        });
    // await this.$store.dispatch('products/fetchProducts')
  },
  // fetchOnServer:false,
  fetchDelay:100,

  methods: {
    resetProducts() {
      ////console.log("RESSET");
      this.products = [];
      this.page = 0;
    },

    getProducts() {
      const filterArray = this.$route.query;
      const page = this.page + 1;

      ////console.log("getProducts", filterArray, page);

      return this.$axios.$post('/api/v1/products/all', {
          page: page,
          filters: filterArray,
          sort: this.sortBy,
        })
    },

    pushProducts(response) {

      if (response.data && Array.isArray(response.data.products.data)) {
        response.data.products.data.forEach(element => {
          this.products.push(element);
        });

        this.page = response.data.products.current_page;

        return response.data.products;
      }

      return null;
    },

    pushFilters(response) {
      ////console.log("REPLACE FILERS");
      this.filters = this.$utils.optional(response, 'data.filters', {});;

      return this.filters;
    },

    onNextPage($state) {
      ////console.log($state, 'infiniteScroll', this.page);

      this.getProducts()
        .then((response) => {
          let result = this.pushProducts(response);

          if (result.next_page_url) {
            $state.loaded();
          } else {
            $state.complete();
          }
          // if () {
          //   $state.loaded();
          // } else {
          //   $state.complete();
          // }
        })
        .catch(err => {
          ////console.log(err);
        });

      // this.page++;

      // $state.complete();

      // setTimeout(() => {
      //   this.page++; // next page
      //   axios.get(this.url).then(resp => {
      //           if (resp.data.length > 1) { // check if any left
      //             resp.data.forEach(item => this.items.push(item)); // push it into the items array so we can display the data
      //             $state.loaded();
      //           } else {
      //             $state.complete();
      //           }
      //     })
      //     .catch(err => {
      //       ////console.log(err);
      //     });
      // }, 500);
    },

    onSorted(newSort) {
      this.sortBy = newSort;

      this.filterUpdated();
    },

    onSearched(newQuery) {
      this.searchQuery = newQuery;

      const me = this;

      clearTimeout(this.updateTimeout);
      this.updateTimeout = setTimeout(() => {
        me.filterUpdated();

        me.updateTimeout = null;
      }, 200);
    },

    filterUpdated(data) {
      if (!this.firstLoad) {
        this.resetProducts();
        this.refresh();
      }
    },

    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch()
        }, 100);
      }
    },
  },
}
</script>
