<template>
  <div class="has-navbar-padding">
    <section class="products-page">

      <div class="columns is-variable is-8">

        <div class="column is-3">
          <Filters
            :filters="filters"
            @filterUpdated="filterUpdated"
            @noteClicked="noteClicked"
            @showFilterModal="openFilterModal"
            class="products-page__filters"
            :open-filter="openFilter"
          />
        </div>

        <div class="column">
          <Products
            :products="products"
            :sortBy="sortBy"
            :searchQuery="searchQuery"
            @sorted="onSorted"
            @searched="onSearched"
            :is-loading="this.$fetchState.pending"
          />

          <b-pagination
            v-if="!this.$fetchState.pending"
            v-model="currentPage"
            :total="paginator.total"
            :current.sync="paginator.current"
            :per-page="paginator.perPage"
            order="is-centered"
            size="is-small"
            icon-prev="chevron-left"
            icon-next="chevron-right"
            :aria-next-label="$t('pager.next')"
            :aria-previous-label="$t('pager.back')"
            :aria-page-label="$t('pager.page-label')"
            :aria-current-label="$t('pager.current-label')"

            @change="openPage"
          >

            <!-- <template #default="props">
                <b-pagination-button
                    :page="props.page"
                    :id="`page${props.page.number}`"
                    tag="nuxt-link"
                    :to="localePath({
                      name: 'products',
                      query: {page: props.page.number}
                    })"
                    @@click="openPage"
                >
                    {{ props.page.number}}
                </b-pagination-button>
            </template> -->

          </b-pagination>
        </div>
      </div>
    </section>

    <BlogPopUp v-model="blogPopUpOpen"/>

    <b-modal v-model="filterModalOpen" full-screen class="filter-modal">
      <div class="filter-modal-inner">
        <Filters
          :filters="filters"
          @filterUpdated="filterUpdated"
          @noteClicked="noteClicked"
          class="products-page__filters"

          is-in-modal

          @closeModal=" filterModalOpen = false "
        />
      </div>
    </b-modal>
  </div>
</template>
<script>
import Filters from "~/components/pages/products/Filters";
import Products from "~/components/pages/products/Products";
import BlogPopUp from "~/components/pages/products/BlogPopUp";

export default {
  name: "ProductsPage",
  components: { Products, Filters, BlogPopUp },

  asyncData({isDev, route, store, env, params, query, req, res, redirect, error}) {

    let currentPage = query['page'] || 1;

    console.log("AsyncD currentPage", currentPage);

    return {
      currentPage: parseInt(currentPage)
    }
  },

  data() {
    return {
      filters: {},
      products: [],
      // page: 0,
      loading: false,
      firstLoad: true,

      sortBy: "createdat_desc",
      searchQuery: null,

      updateTimeout: null,

      openFilter: "types",
      lastPage: null,
      // currentPage: 1,

      paginator: {
        current: 1,
        total: 0,
        perPage: 12,
      },

      blogPopUpOpen: false,

      filterModalOpen: false,
    };
  },

  fetch() {
    let openFilterSetting = this.$route.query["open-filter"];

    if (openFilterSetting && this.firstLoad) {
      this.openFilter = openFilterSetting;
    }

    return this.getProducts().then((response) => {
      this.pushProducts(response);
      this.pushFilters(response);

      if (this.firstLoad) {
        this.firstLoad = false;
      }
    });
  },
  fetchOnServer:false,
  fetchDelay: 100,

  methods: {
    resetProducts() {
      this.currentPage = 1;

      this.setPageQuery();
      this.$utils.scrollTo();

      this.products = [];
    },

    getProducts() {
      const filterArray = this.$route.query;

      let result = this.$axios.$post("/api/v1/products/all", {
        page: this.currentPage,
        filters: filterArray,
        sort: this.sortBy,
        perPage: this.paginator.perPage,
      });

      return result;
    },

    pushProducts(response) {
      console.log("pushProducts", response, response.data);

      if (response.data && response.data.products) {
        const result = response.data.products;

        this.products = result.data;

        this.paginator.total   = parseInt(result.total);
        this.paginator.perPage = parseInt(result.per_page);
        this.paginator.current = parseInt(result.current_page);

        this.currentPage       = parseInt(result.current_page);
        this.lastPage          = parseInt(result.last_page);

        this.setPageQuery();
        this.$utils.scrollTo();

        return result;
      }

      return null;
    },

    pushFilters(response) {
      ////console.log("REPLACE FILERS");
      this.filters = this.$utils.optional(response, "data.filters", {});

      return this.filters;
    },

    openPage($page) {
      // this.page = $page;
      this.$store.commit('basket/START_LOADING');
      this.getProducts()
        .then((response) => {
          this.pushProducts(response);
          this.$store.commit('basket/STOP_LOADING');
        })
        .catch((err) => {
          console.log(err);
        });
    },

    onSorted(newSort) {
      this.sortBy = newSort;

      this.filterUpdated();
    },

    onSearched(newQuery) {
      this.searchQuery = newQuery;

      const me = this;

      clearTimeout(this.updateTimeout);
      this.updateTimeout = setTimeout(() => {
        me.filterUpdated();

        me.updateTimeout = null;
      }, 200);
    },

    filterUpdated(data) {
      if (!this.firstLoad) {
        this.resetProducts();
        this.refresh();
      }
    },

    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch();
        }, 100);
      }
    },

    setPageQuery() {
      console.log('setPageQuery');

      const $router = this.$router;
      const page = {
        // path: this.$route.path,
        path: this.$route.fullPath,
        query: {
          page: this.currentPage
        },
      };

      $router.push(page)
    },

    noteClicked() {
      this.filterModalOpen = false;

      this.$nextTick(() => {
        this.blogPopUpOpen = !this.blogPopUpOpen;
      })
    },

    openFilterModal() {
      this.filterModalOpen = true;
    }
  },

  computed: {
  },

  mounted() {
    // let openFilterSetting = this.$route.query['open-filter'];
    // if (openFilterSetting) {
    //   this.openFilter = openFilterSetting;
    //   // this.$nextTick(() => {
    //   //   this.$utils.scrollTo(`filter-${openFilterSetting}`);
    //   // })
    // }

    // if (process.client) {
    //   setTimeout(() => {
    //     let link = document.querySelector(`[href*='gredzenu-izmeri']`);
    //     console.log("F", link);
    //   }, 500);
    //   // href="https://balturotas-frontend.vercel.app/lv/blog/gredzenu-izmeri"
    // }
  },

};
</script>

<style lang="scss">
.filter-modal {

  .filter-modal-inner {
    background-color: #fff;
    padding: 2rem 2rem 5rem;

    .products-page__filters {

      max-height: none;
    }
  }

  .animation-content {
    background-color: #fff !important;
  }

  .modal-close::before,
  .modal-close::after {
    color: #000;
    background-color: #000;
  }
}

</style>
