<template>
  <div
    class="br-autocomplete--container"
  >
    <b-autocomplete
      v-model="selected"
      class="br-autocomplete"
      :placeholder="placeholder"
      :data="filteredData"
      :field="displayField"
      open-on-focus
      :clearable="false"
      keep-first
      expanded
      append-to-body
      @select="onSelect"
      @blur="onBlur"
    >

      <template #empty>
        <span>
          No results for {{selected}}
        </span>
      </template>
    </b-autocomplete>

    <slot name="append-inner"></slot>

  </div>
</template>

<script>

import _isEmpty from "lodash/isEmpty";
import _get from "lodash/get";

export default {
  props: {
    value: {
      type: [Number, String],
      default: null
    },
    data: {
      type: [Array, Object],
      default: () => null,
    },
    label: {
      type: String,
      default: null
    },
    placeholder: {
      type: String,
      default: null
    },
    displayField: {
      type: String,
      default: null
    },
    valueField: {
      type: String,
      default: null
    },
    error: null,
  },

  data () {
    return {
      selected: null,
      isFocused: false
    }
  },

  methods: {
    onSelect(option) {
      let optionValue = this.getCorrectOptionValue(option)

      if (optionValue) {
        this.model = optionValue
      } else {
        this.model = null
        this.selected = null;
      }
    },

    onBlur($event) {
      setTimeout(() => {
        // if (this.value) {
        // } else {
        //   this.selected = null;
        // }
      }, 100);
    },

    getCorrectOptionValue(option) {
      if (option && this.valueField) {
        return _get(option, this.valueField, null);
      }

      return option;
    }
  },

  computed: {
    model: {
      get () {
        return this.selected
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    filteredData() {
      if (this.selected && this.data) {
        return this.data.filter(option => {
          return (
              option.name
                  .toString()
                  .toLowerCase()
                  .indexOf(this.selected.toLowerCase()) >= 0
          )
        })
      }

      return this.data;
    },

    hasError() {
      return !_isEmpty(this.error);
    }
  },

  watch: {}
}
</script>

<style lang="scss" scoped>
  .br-input--is-disabled {
    cursor: not-allowed;

    label {
      color: #ccc;
      cursor: not-allowed;
    }

    input {
      cursor: not-allowed;
    }
  }

  .inner-counter {
    position: absolute;
    top: 10px;
    right: 5px;

    display: flex;
    font-size: 12px;
    color: #707A93;
  }

</style>
