<template>
  <div class="br-range">
    <b-field>
        <b-slider v-model="activeValue"
          :min="min"
          :max="max"
          :step="step"
          lazy
        >
          <template v-for="(val, index) in tickArray">
              <b-slider-tick :value="val" :key="index">{{ number_format(val,0,',','&nbsp') }}</b-slider-tick>
          </template>

        </b-slider>
    </b-field>
  </div>
</template>

<script>
import _findIndex from 'lodash/findIndex';

export default {

  props: {
    value: {
      default: null,
    },
    title: {
      default: null,
    },
    step: {
      type: [String, Number],
      default: 25000,
    },
    min: {
      type: [String, Number],
      default: 10000,
    },
    max: {
      type: [String, Number],
      default: 150000,
    },
  },

  data() {
    return {
      activeValue: this.value,
      innerUpdateTimeoutHandle: null,
    }
  },

  computed: {
    activeIndex() {
      return  _findIndex(this.valueOptions, (o) =>  {
        return o.value == this.activeValue
      })
    },

    tickArray() {
      return [
        this.min,this.max
      ];
      const tickCount = 2;
      let range = this.max - this.min;
      let step = range / tickCount;

      let array = [];

      for (let i = 1; i < tickCount; i++) {
        let item = (step*i) + this.min;
        array[i] = Math.round(item/1000)*1000;
      }

      array[0] = this.min
      array[tickCount] = this.max

      return array;
    },


  },

  methods: {
    setValue(item) {
      this.activeValue = {

      };
    },

    number_format(number, decimals, dec_point, thousands_point) {
      ////console.log("number",number);
      if (number == null || !isFinite(number)) {
          throw new TypeError("number is not valid");
      }

      if (!decimals) {
          var len = number.toString().split('.').length;
          decimals = len > 1 ? len : 0;
      }

      if (!dec_point) {
          dec_point = '.';
      }

      if (!thousands_point) {
          thousands_point = ',';
      }

      number = parseFloat(number).toFixed(decimals);

      number = number.replace(".", dec_point);

      var splitNum = number.split(dec_point);
      splitNum[0] = splitNum[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_point);
      number = splitNum.join(dec_point);

      return number;
    }
  },

  watch: {
    activeValue(value) {
      //console.log("setActveValue", value, this.value.length == 0, this.min, this.max);
      if (value.length == 2) {

        // On first init, dotn send new values unless they are diff form default
        if(this.value.length == 0 && value[0] == this.min && value[1] == this.max) {
          return null;
        }

        if (this.innerUpdateTimeoutHandle) {
          clearTimeout(this.innerUpdateTimeoutHandle);
        }

        const me = this;
        this.innerUpdateTimeoutHandle = setTimeout(() => {
          me.$emit('input', value);
          me.innerUpdateTimeoutHandle = null;
        }, 10);

      }
    },
    value(value) {
      this.activeValue = value;
    }
  }
}
</script>

<style lang="scss" scoped>
  .slider {
    width: 100%;

  }
  .b-slider-track {
    height: 1px;
  }

  h6 {
    margin: 1rem 0 0 0;
    padding: 0;
    font-weight: 400;

    &::after {
      display: none;
    }
  }
</style>
