<template>
  <div class="is-flex is-justify-content-space-between is-align-items-center">
    <b-checkbox :native-value="nativeValue" v-model="model" >
      <slot />
    </b-checkbox>
    <color-circle v-if="background" :background="background" />
  </div>
</template>
<script>
import ColorCircle from './ColorCircle'
export default {
  components: { ColorCircle },
  props: {
    value: null,
    nativeValue: {
      type: [Boolean, String, Object, Number],
      default: true,
    },

    checkboxProps: {
      type: Object,
      default: () => ({})
    },

    circleProps: {
      type: [Object, String],
      default: null
    },

    isRadio: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (newVal) {
        if (this.isRadio && this.nativeValue && newVal.length) {
          this.$emit('input', this.nativeValue)
        } else {
          this.$emit('input', newVal)
        }
      }
    },

    background() {
      if (this.circleProps !== null) {
        ////console.log(this.circleProps);
        return this.circleProps
      }

      return null;
    }
  }
}
</script>
