<template>
  <Elipse v-if="isColorless" class="is-inline-block" color="#E2E7EC" size="10" />
  <div
    v-else
    class="is-inline-block"
    :style="cssStyle"
  />
</template>

<script>
import Elipse from '../icons/Elipse'
export default {
  components: { Elipse },
  props: {
    background: {
      type: [String, Object],
      default: '#E3E8F5'
    },
    innerColor: {
      type: [String, Object],
      default: null
    }
  },
  computed: {
    isColorless () {
      return (this.bgColor === 'transparent' || this.bgColor == null)
    },

    bgColor() {
      ////console.log('bg', this.background, this.$utils.optional(this, 'background.hex', null));
      if (typeof this.background === 'string') {
        return this.background;
      }

      return this.$utils.optional(this, 'background.hex', null)
    },

    cssStyle() {
      let object = {
        height: '15px',
        width: '15px',
        borderRadius: '50%',
        background: this.bgColor
      };

      if (this.innerColor) {
        object.height = '6px';
        object.width = '6px';
        object.border = '3px solid #000';
        object.borderColor = this.innerColor;
        object.boxSizing = 'content-box';
      }

      return object;
    },
  }
}
</script>
