<template>
  <div>
    <b-collapse
      class="card is-shadowless"
      animation="slide"
      :open.sync="isOpen"
    >
      <template #trigger="props">
        <slot name="trigger">
          <div
            class="card-header is-shadowless"
            role="button"
          >
            <p class="card-header-title px-0 py-4 has-text-normal has-line-height-140 is-justify-content-space-between">
              <slot name="title">
                {{ title }}
              </slot>

              <span>
                <slot name="title-append"></slot>
              </span>
            </p>


            <a class="card-header-icon px-0">
              <slot name="icon" v-bind="props">
                <ChevronUp v-if="props.open" />
                <ChevronDown v-else />
              </slot>
            </a>
          </div>
        </slot>
      </template>

      <div class="card-content px-0 pt-2 pb-4">
        <slot />
      </div>
    </b-collapse>
    <hr class="is-grey-alt">
  </div>
</template>
<script>
import ChevronDown from '../icons/ChevronDown'
import ChevronUp from '../icons/ChevronUp'
export default {
  components: { ChevronUp, ChevronDown },
  props: {
    title: {
      type: String,
      default: 'Expansion Panel'
    },
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isOpen: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    }
  }
}
</script>
