<template>
  <section id="footer">
    <div class="container" style="padding-bottom: 34px">
      <div class="columns is-multiline">
        <div class="column is-5 has-text-white">
          <div class="columns">
            <!-- <div class="column has-text-large">
              {{ $t('footer.question_title') }}
            </div>

            <div class="column has-text-right has-text-large">
              <a href="tel:37129490223" class="has-text-white">
                (+371) 29–490–223
              </a>
            </div> -->

            <nuxt-link :to="this.localePath('/')">
              <b-image class="m-3" style="width: 256px" src="/logo-horiz.svg" />
            </nuxt-link>
          </div>

          <hr style="margin-bottom: 90px; opacity: 0" />

          <div>
            <div class="has-text-medium" style="margin-bottom: 20px">
              {{ $t("footer.subscribe_newsletter") }}
            </div>
            <div class="subscribe">
              <input
                class="has-text-normal"
                placeholder="your.email@example.com"
                v-model="models.email"
              />
              <b-button type="is-primary" class="has-text-normal" v-on:click="onSubscribe()">
                {{ $t("footer.subscribe_button") }}
              </b-button>
            </div>
          </div>

          <div class="eraf mt-6">
            <div class="tile ">
              <div class="tile is-child is-12">
                <div class="has-text-small" v-html="$t('footer.co_financing_text')"></div>
              </div>
            </div>
          </div>

          <div class="eraf mt-4">
            <div class="tile ">
              <div class="tile is-child is-6">
                <a href="#" >
                  <b-image src="/images/eraf.png" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4 is-offset-1 has-text-white">
          <div class="columns is-multiline">
            <div
              v-for="link in footerLinks"
              :key="link.key"
              class="column is-5"
              style="margin-bottom: 39px"
            >
              <div class="has-text-medium has-text-small">
                {{ $t("links." + link.key) }}
              </div>

              <div v-for="child in link.children" :key="child.key" class="mt-4">
                <a
                  v-if="child.isExternal"
                  target="_blank"
                  :href="child.to"
                  class="has-text-white"
                >
                  <span v-if="child.key">
                    {{ $t("links.children_" + child.key) }}
                  </span>
                  <span v-else> {{ child.title }} </span>
                  <Link size="8" />
                </a>

                <nuxt-link v-else :to="child.to" class="has-text-white">
                  <span v-if="child.key">
                    {{ $t("links.children_" + child.key) }}
                  </span>
                  <span v-else> {{ child.title }} </span>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-1 px-0 has-text-white">
          <div class="columns is-multiline">
            <div class="column is-12" style="margin-bottom: 39px">
              <div class="has-text-medium has-text-small">
                {{ $t("links.retail-stores") }}
              </div>

              <div
                v-for="child in retailStoresLinks"
                :key="child.key"
                class="mt-4"
              >
                <a
                  v-if="child.isExternal"
                  target="_blank"
                  :href="child.to"
                  class="has-text-white"
                >
                  <span v-if="child.key">
                    {{ $t("links.children_" + child.key) }}
                  </span>
                  <span v-else> {{ child.title }} </span>
                  <Link size="8" />
                </a>

                <nuxt-link v-else :to="child.to" class="has-text-white">
                  <span v-if="child.key">
                    {{ $t("links.children_" + child.key) }}
                  </span>
                  <span v-else> {{ child.title }} </span>
                </nuxt-link>
              </div>

              <div class="mt-4" v-if="showAllRetailStores == false && allRetailStoresCount > maxRetailStoresCount">
                <a
                  class="has-text-white"
                  @click="showAllRetailStores = true"
                >
                  <span>
                    {{ $t("links.show_more") }}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="column">
          <b-image class="ml-auto" style="width: 48px" src="/logo_small_dark.svg" />
        </div> -->

        <div class="column is-12 has-text-light-blue">
          <hr style="margin-bottom: 40px" />
          <div class="columns">
            <div class="column is-5">
              <div class="columns is-justify-content-space-between is-desktop">
                <div class="column is-narrow">
                  {{ $t("baltu_rotas_title") }}
                </div>
                <div class="column is-flex is-narrow" style="gap: 32px">
                  <a href="https://www.facebook.com/balturotas/" target="_blank">
                    <Facebook color="white" />
                  </a>
                  <!-- <a href="https://twitter.com/BaltuRotas" target="_blank">
                    <Twitter color="white" />
                  </a> -->
                  <a href="https://www.instagram.com/balturotas/" target="_blank">
                    <Instagram color="white" />
                  </a>
                  <a href="https://www.youtube.com/channel/UCYlvJEz2g7yoR650VYKQwrw" target="_blank">
                    <Youtube color="white" />
                  </a>
                </div>
              </div>
            </div>
            <div class="column is-offset-1">
              <div class="columns is-justify-content-space-between is-desktop">
                <div class="column is-narrow">
                  {{ $t("footer.all_rights") }} {{ new Date().getFullYear() }}
                </div>
                <div class="column is-flex is-narrow" style="gap: 8px">
                  <!-- <b-image src="/payments/ApplePay.svg" /> -->
                  <b-image src="/payments/Visa.svg" />
                  <b-image src="/payments/Mastercard.svg" />
                  <b-image src="/payments/Maestro.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Facebook from "~/components/icons/Facebook";
import Twitter from "~/components/icons/Twitter";
import Instagram from "~/components/icons/Instagram";
import Youtube from "~/components/icons/Youtube";
import Link from "~/components/icons/Link";

import _map from "lodash/map";

export default {
  components: { Youtube, Instagram, Twitter, Facebook, Link },

  data() {
    return {
      shops: [],
      showAllRetailStores: false,
      maxRetailStoresCount: 1,
      allRetailStoresCount: 0, // default value is set later in retailStoresLinks()

      models: {
        email: null,
      }
    }
  },

  async fetch() {
    const shops = await this.$axios.$get('/api/v1/shops/footer-list');
    this.shops = shops.data
  },

  methods: {
    getOurShopsList() {
      const me = this;
      return _map(this.shops, function(item) {
//console.log(item);
        return {
          title: item.simple_name,
          isExternal: false,
          to: me.localePath({
            name: 'contact-us',
            hash: `#${item.slug}`,
          }),
        }
      });
      return [
        {
          // title: "Shop at Riga City",
          title: "Rīgas veikals",
          isExternal: true,
          to: "https://google.lv",
        },
        {
          // title: "Shop at Sigulda City",
          title: "Siguldas veikals",
          isExternal: true,
          to: "https://google.lv",
        },
      ];
    },

    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    },

    onSubscribe(){
      if (this.models.email) {
        this.$axios.$post('/api/v1/bboxdigiplugins/subscriptions/new-email-subscribe', {
          email: this.models.email,
        }).then( (response) => {
          if (response.error) {

          } else {

            this.toast(
              "E-pasts pievienots jaunumu saņemšanai!",
              "is-success"
            )
          }
        })

      }
    }
  },

  computed: {
    footerLinks() {
      return [
        {
          title: "Products",
          key: "products",
          children: [
            {
              title: "Products list",
              key: "products_list",
              to: this.localePath({
                name: "products",
              }),
            },
            {
              title: "Create Your Own",
              key: "create_your_own",
              to: this.localePath({
                name: "radi-pats"
              }),
            },
            {
              title: "Gift Card",
              key: "gift_cards",
              to: this.localePath({
                name: "gift-card",
              }),
            },
          ],
        },
        {
          title: "Our Shops",
          key: "our-shops",
          children: this.getOurShopsList(),
        },
        {
          title: "Info",
          key: "info",
          children: [
            {
              title: "About Us",
              key: "about_us",
              to: this.localePath({
                name: "about-us",
              }),
            },
            {
              title: "Contact Us",
              key: "contact_us",
              to: this.localePath({
                name: "contact-us",
              }),
            },
            {
              title: "Ring Size",
              key: "ring_sizes",
              to: this.localePath({
                name: "blog-id",
                params: { id: "izmeru-celvedis" },
              }),
            },
            {
              title: "FAQ",
              key: "faq",
              to: this.localePath({
                name: "faq",
              }),
            },
          ],
        },
        {
          title: "Legal Terms & Policies",
          key: "legal_terms",
          children: [
            {
              title: "Privacy Policy",
              key: "privacy_policy",
              to: this.localePath("/legal#privacy-policy"),
            },
            // {
            //   title: "Cookies Policy",
            //   key: "cookies_policy",
            //   to: this.localePath("/legal#cookies-policy"),
            // },
            {
              title: "Terms of Use",
              key: "terms_of_use",
              to: this.localePath("/legal#terms-of-use"),
            },
          ],
        },
      ];
    },

    retailStoresLinks() {
      const items = [
        {
          title: "KUULD",
          isExternal: true,
          to: "https://www.facebook.com/kuuldkuldiga/",
        },
        {
          title: "RIIJA",
          isExternal: true,
          to: "https://riija.lv/",
        },
        {
          title: "MusMajas",
          isExternal: true,
          to: "https://musmaja.lv/lv/index",
        },
      ];

      this.allRetailStoresCount = items.length;

      if (this.showAllRetailStores) {
        return items;
      }

      return items.splice(0,this.maxRetailStoresCount);
    },
  },
};
</script>
