<template>
  <div class="navigation-box">
    <div class="desktop">
      <b-navbar id="navbar" v-scroll="handleScroll" spaced fixed-top >
        <template #start>
          <nuxt-link :to="localePath('/')">
            <!-- <img :src="home" class="home-icon"> -->
            <Home :size="14" class="home-icon" />
          </nuxt-link>

          <BaseNavNavbarDropdown
            :types="types"
            :collections="collections"
            :name="$t('nav.products')"
          />

          <!-- <b-navbar-dropdown :label="$t('nav.products')" :arrowless="true" @active-change="desktopDropdownChange" :active="navbarDropdownActive">
            <div class="dopdown-menu-box columns">
              <div class="column is-3">
                <b-navbar-item tag="router-link" :to="localePath({name: 'products'})" class="all-link">
                  {{$t('nav.all_jewelry')}}
                </b-navbar-item>

                <div v-for="categoryType in types" :key="categoryType.id" class="type-box">
                  <div @mouseenter="toggleMenu(categoryType.slug)">

                    <b-navbar-item tag="router-link" :to="localePath({name: 'products-category-type', params: {type: categoryType.slug}, query: {types: categoryType.slug} })">
                      {{ categoryType.title }} <span class="arrow down list-arrow" @click="toggleMenu(categoryType.slug)"></span>
                    </b-navbar-item>

                    <div class="material-list" v-if="categoryType.materials.length > 0" :id="'list_'+categoryType.slug">
                      <div class="list-box" v-for="material in categoryType.materials">
                        <b-navbar-item tag="router-link" :to="localePath({name: 'products-category-type-material', params: {type: categoryType.slug, material: material.slug}, query: {types: categoryType.slug, materials: material.slug} })">
                          {{ material.title }}
                        </b-navbar-item>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="column is-7 is-offset-1">
                <h4 class="collection-title">{{ $t('products.collections') }}</h4>
                <div class="collection columns">
                  <div v-for="collection in collections" class="column is-6 clollection-item">
                    <b-navbar-item tag="router-link" :to="localePath({name: 'products-collection-slug', params: {slug: collection.slug}, query: {collection: collection.slug} })">
                      {{ collection.title }}
                    </b-navbar-item>
                  </div>
                </div>
              </div>
            </div>
          </b-navbar-dropdown> -->

          <!-- <nuxt-link :to="localePath({name: 'products'})">
            {{ $t('nav.products') }}
          </nuxt-link> -->


          <nuxt-link :to="localePath({name: 'radi-pats'})">
            {{ $t('nav.meistarklases') }}
          </nuxt-link>

          <nuxt-link :to="localePath({name: 'laulibu-grdzeni'})">
            {{ $t('nav.wedding_rings') }}
          </nuxt-link>

          <!-- <nuxt-link :to="localePath({name: 'business-to-business'})">
            {{ $t('nav.business_to_business') }}
          </nuxt-link> -->

          <nuxt-link :to="localePath({name: 'gift-card'})">
            {{ $t('nav.gift_cards') }}
          </nuxt-link>

          <nuxt-link :to="localePath('/')" style="width: 100%" class="logo-container">
            <img :src="logo" style="display: none;" class="logo is-block-fullhd">
            <div class="small-logo-contain logo-mobile is-hidden-fullhd">
              <img :src="logo_mobile" >
            </div>
          </nuxt-link>

        </template>

        <template #end>
          <nuxt-link :to="localePath({name: 'about-us'})">
            {{ $t('nav.about') }}
          </nuxt-link>
          <nuxt-link :to="localePath({name: 'contact-us'})">
            {{ $t('nav.contact_us') }}
          </nuxt-link>
          <div class="search-box">
            <div class="search-icon">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="fff"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                  fill="fff"
                />
              </svg>
            </div>
            <input type="text" v-model="search" name="search" class="search-input" :placeholder="$t('nav.search')" @keyup="onKeyUp">
          </div>

          <nuxt-link :to="localePath({name: 'basket'})" class="backet-link">
            <!-- {{ $t('nav.my_basket') }} -->
            <img :src="cart_logo_new" class="cart">
            <b-tag class="basket-count">
              {{ basketCount }}
            </b-tag>

          </nuxt-link>

          <div class="lang-box">
            <img :src="currentFlag" class="locale-image" width="30" @click="toggleLocaleList"><i class="arrow down" @click="toggleLocaleList"></i>
            <div class="lang-list">
              <template v-for="loc in activeLocales" v-if="showLocaleList == 1">
                <a :href="switchLocalePath(loc.code)">
                  <img :src="flagSrcList(loc.flag)" class="locale-image" width="30">
                </a>
              </template>
            </div>
          </div>
          <!-- <a :href="switchLocalePath($i18n.locale === 'en' ? 'lv' : 'en')">
            <img class="locale-image" :src="flagSrc" width="30">
          </a> -->
        </template>
      </b-navbar>
    </div>

    <div class="mobile">
      <b-navbar id="navbar-mob" spaced fixed-top :active.sync="isOpen">
        <template #brand>
          <nuxt-link :to="localePath('/')">
            <img :src="logo_mobile" class="logo-mobile">
          </nuxt-link>
          <nuxt-link :to="localePath({name: 'basket'})" class="mobile-cart">
            <b-tag>
              {{ basketCount }}
            </b-tag>
            <img :src="cart_logo" class="basket-logo">
          </nuxt-link>
        </template>

        <template #start>
          <Sidebar :isPanelOpen='isOpenSide'>
           <ul class="sidebar-panel-nav">
              <div class="navbar-item single">
                <ChevronLeft size="20" color="black" /><a @click="toggleSideMenu">{{$t('nav.back')}} </a>
              </div>

              <b-navbar-dropdown :label="$t('nav.products')" :collapsible="false">
                <b-navbar-item tag="div" class="single">
                  <nuxt-link :to="localePath({name: 'products'})">
                    {{$t('nav.all_jewelry')}}
                  </nuxt-link>
                </b-navbar-item>

                <template v-for="categoryType in types">
                  <b-navbar-dropdown :label="categoryType.title" :collapsible="true">
                    <template v-for="material in categoryType.materials">
                      <b-navbar-item tag="router-link" :to="localePath({name: 'products-category-type-material', params: {type: categoryType.slug, material: material.slug}, query: { types: categoryType.slug, materials: material.slug } })" class="material-link">
                        {{ material.title }}
                      </b-navbar-item>
                    </template>
                  </b-navbar-dropdown>
                </template>

                <b-navbar-dropdown :label="$t('nav.collections')" :collapsible="true">
                  <template v-for="collection in collections">
                    <b-navbar-item tag="router-link" :to="localePath({name: 'products-collection-slug', params: {slug: collection.slug}, query: { collection: collection.slug } })" class="material-link">
                            {{ collection.title }}
                    </b-navbar-item>
                  </template>
                </b-navbar-dropdown>
              </b-navbar-dropdown>
           </ul>
          </Sidebar>
          <!-- end of sidebar -->

          <b-navbar-item tag="div" >
            <nuxt-link :to="localePath('/')">
              <Home :size="18" class="home-icon" />
            </nuxt-link>
          </b-navbar-item>

          <!-- <b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'products'})">
              {{ $t('nav.products') }}
            </nuxt-link>
          </b-navbar-item> -->

          <div class="navbar-item">
            <a @click="toggleSideMenu">{{$t('nav.products')}} <ChevronRight size="20" color="black" /></a>
          </div>

          <b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'radi-pats'})">
              {{ $t('nav.meistarklases') }}
            </nuxt-link>
          </b-navbar-item>

          <b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'laulibu-grdzeni'})">
              {{ $t('nav.wedding_rings') }}
            </nuxt-link>
          </b-navbar-item>

          <!--b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'business-to-business'})">
              {{ $t('nav.business_to_business') }}
            </nuxt-link>
          </b-navbar-item-->

          <b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'about-us'})">
              {{ $t('nav.about') }}
            </nuxt-link>
          </b-navbar-item>

          <b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'contact-us'})">
              {{ $t('nav.contact_us') }}
            </nuxt-link>
          </b-navbar-item>

          <b-navbar-item tag="div">
            <nuxt-link :to="localePath({name: 'gift-card'})">
              {{ $t('nav.gift_cards') }}
            </nuxt-link>
          </b-navbar-item>

          <div class="navbar-item">
            <div class="search-box">
              <div class="search-icon">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="fff"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                    fill="fff"
                  />
                </svg>
              </div>
              <input type="text" v-model="search" name="search" class="search-input" :placeholder="$t('nav.search')" @keyup="onKeyUp">
            </div>
          </div>
            <!-- <a :href="switchLocalePath($i18n.locale === 'en' ? 'lv' : 'en')"> -->
              <!-- <img class="locale-image" :src="flagSrc" width="30"> -->
              <!-- {{ langText }} -->
            <!-- </a> -->
          <div class="lang-box">
            <img :src="currentFlag" class="locale-image" width="30" @click="toggleLocaleList"><i class="arrow down" @click="toggleLocaleList"></i>
            <div class="lang-list">
              <template v-for="loc in activeLocales" v-if="showLocaleList == 1">
                <a :href="switchLocalePath(loc.code)">
                  <img :src="flagSrcList(loc.flag)" class="locale-image" width="30">
                </a>
              </template>
            </div>
          </div>

        </template>

      </b-navbar>
    </div>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'
import Home from "~/components/icons/Home";
import ArrowLeft from '~/components/icons/ArrowLeft'
import ArrowRight from '~/components/icons/ArrowRight'
import ChevronRight from '~/components/icons/ChevronRight'
import ChevronLeft from '~/components/icons/ChevronLeft'
import Sidebar from '~/components/base/Sidebar.vue';
//get-filters
export default {
  components: {Home, ArrowRight, ArrowLeft, ChevronRight, Sidebar, ChevronLeft},

  data () {
    return {
      logo: require("~/assets/img/main/logo.svg"),
      home: require("~/assets/img/main/home.svg"),
      logo_mobile: require("~/assets/img/main/logo_mobile.svg"),
      cart_logo: require("~/assets/img/main/cart_logo.svg"),
      cart_logo_new: require("~/assets/svg/icons/grozs.svg"),

      isNavTop: true,
      showLocaleList: 0,
      search: '',
      isOpen: false,
      desktopDropdownActive: false,
      types: [],
      collections: [],
      showMenu: null,
      isOpenSide: false,

      searchTiming: null,

      navbarDropdownActive: false,
    }
  },

  fetchOnServer: true,
  async fetch() {
    const me = this;
    const types = await this.$axios.$get('/api/v1/products/types/')
    this.types = types.data;

    const collections = await this.$axios.$get('/api/v1/products/collections/')
    this.collections = collections.data
  },

  methods: {
    desktopDropdownChange(event) {
      this.navbarDropdownActive = event
    },

    handleScroll (evt, el) {

      if (this.$route.name && this.$route.name.startsWith('index___')) {
        if (window.scrollY > 50) {
          this.isNavTop = false;
          el.classList.add('navbar-white')
        } else {
          this.isNavTop = true;
          el.classList.remove('navbar-white')
        }
      } else {
        el.classList.add('navbar-white')
      }
    },

    toggleSideMenu() {
      if (this.isOpenSide == false) {
        this.isOpenSide = true;
      }else {
        this.isOpenSide = false;
      }
    },
    flagSrcList(flag) {
      return `https://flagcdn.com/w40/${flag}.png`
    },
    toggleLocaleList() {
      if (this.showLocaleList == false) {
        this.showLocaleList = 1;
      }else {
        this.showLocaleList = 0;
      }
    },

    onSearch(event) {
      // this.isOpen = false;

      if (this.searchTiming) {
        try {
          clearTimeout(this.searchTiming);
        } catch (error) {}
        this.searchTiming = null;
      }

      const searchRoute = this.localePath({
        name: 'search-result-search',
        params: {
          search: this.search,
          slug: 'string test',
        }
      });

      this.$router.push(searchRoute);

      this.$nextTick(() => {
        this.isOpen = false;
      });

    },
    onKeyUp(event) {
      const me = this;

      if (this.searchTiming) {
        try {
          clearTimeout(this.searchTiming);
        } catch (error) {}

        this.searchTiming = null;
      }

      if (event.keyCode === 13 || event.key === 'Enter') {
        me.onSearch();
      } else {
        me.searchTiming = setTimeout(() => {
            me.onSearch();
        }, "3000")
      }

    },
  },

  computed: {
    ...mapGetters({
      basketCount: 'basket/count',
      cartTestData: 'basket/cartTestData',
    }),

    flagSrc() {
      const locales = this.$i18n.locales.filter( loc => loc.code != this.$i18n.locale);
      let locale = this.$i18n.localeProperties;

      if (locales.length > 0) {
        locale = locales[0];
      }

      return `https://flagcdn.com/w40/${locale.flag}.png`
    },

    currentFlag() {
      const locales = this.$i18n.locales.filter( loc => loc.code == this.$i18n.locale);
      let locale = this.$i18n.localeProperties;

      if (locales.length > 0) {
        locale = locales[0];
      }

      return `https://flagcdn.com/w40/${locale.flag}.png`
    },

    activeLocales() {
      const locales = this.$i18n.locales.filter( loc => loc.code != this.$i18n.locale);
      return locales;
    },

    langText() {
      const locales = this.$i18n.locales.filter( loc => loc.code != this.$i18n.locale);
      let locale = this.$i18n.localeProperties;

      if (locales.length > 0) {
        locale = locales[0];
      }

      return locale.name;
    }
  },

  watch: {
    $route () {
      if (document) {
        this.handleScroll(null, document.getElementById('navbar'))
      }
    }
  },

  created() {},

  mounted () {
    if (document) {
      this.handleScroll(null, document.getElementById('navbar'))
    }
  },


}
</script>

<style lang="scss">
  .small-logo-contain {
    // width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .logo {
    display: none;
  }

  .logo-container {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: flex-end;
  }
</style>
