<template>
  <div v-if="show">
    <div class="is-flex is-justify-content-space-between is-clean p-3 is-align-items-center"
      :style="{
        borderLeft: `4px solid ${borderColor}`
      }"
    >
      <div class="pl-2"> <slot></slot> </div>

      <div>
        <slot name="append-inner">
          <b-button v-if="showButton" type="is-dark" class="has-text-normal" @click="onButtonClick">
            {{buttonText}}
          </b-button>
        </slot>
      </div>

    </div>
  </div>
  <div v-else></div>
</template>

<script>
export default {
  props: {
    borderColor: {
      type: String,
      default: '#F28B2C'
    },
    buttonText: {
      type: String,
      default: 'Ok',
    },
    showButton: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      show: true
    }
  },
  methods: {
    onButtonClick () {
      this.show = false
    }
  }
}
</script>
