<template>
    <div class="sidebar">
        <!-- <div class="sidebar-backdrop" @click="closeSidebarPanel" v-if="isPanelOpen"></div> -->
        <transition name="slide">
            <div v-if="isPanelOpen"
                 class="sidebar-panel">
                <slot></slot>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {
            isPanelOpen: {
              type: Boolean,
              default: false
            },
          },
        data: () => ({
            
        }),
        methods: {
            closeSidebarPanel() {
                this.isPanelOpen = false
            }
        }
    }
</script>
<style lang="scss" scoped>
    .slide-enter-active,
    .slide-leave-active
    {
        transition: transform 0.3s ease;
    }

    .slide-enter,
    .slide-leave-to {
        transform: translateX(100%);
        transition: all 250ms ease-in 0s
    }

    .sidebar-backdrop {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .sidebar-panel {
        overflow-y: auto;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 999;
/*        padding: 3rem 20px 2rem 20px;*/
        margin-top: 50px;
        width: 100%;
        z-index: 999;
    }
</style>