.about-us-page {
  .has-navbar-padding {
    .about-us-title {
      margin-top: 10em;
      margin-bottom: 10em;
      font-family: $main-font;
      font-size: 1.125rem;
      text-align: center;
      line-height: 50px;
      position: fixed;
      top: 300px;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      // transition: 0.3s linear;
      z-index: -1;

      @media(max-width: 700px) {
        width: 100%;
      }
    }
  }

  .main-image-box {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 600px;

    @media(max-width: 700px) {
      width: 100%;

      img {
        width: 90%;
        margin: 0 auto;
        // min-height: 600px;
      }
    }

    .columns {
      margin-top: 2em;
      justify-content: space-around;

      .about-main-text {
        font-size: 1rem;
        line-height: 25.6px;
        font-family: $main-font;
        max-width: 80%;
        text-align: left;

        @media(max-width: 700px) {
          margin: 0 auto;
          width: 90%;
        }
      }
    }
  }

  .owners-box {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20em;
    margin-bottom: 12em;

    @media(max-width: 700px) {
      width: 90%;
      margin: 0 auto;
      margin-top: 5em;
      margin-bottom: 5em;
    }

    .owner-info-box {
      h4 {
        font-size: 3rem;
        line-height: 64px;
        font-family: $main-font;
      }

      p {
        font-size: 1rem;
        line-height: 25.6px;
        padding-top: 3em;
      }
    }

    .about-image-box {
      position: relative;

      .image-backgound {
        position: absolute;
        top: -7em;
        left: -8em;

        max-height: 80vh;

        @media(max-width: 700px) {
          display: none;
        }
      }

      .owner-image {
        position: relative;
        top: 0em;
        right: -7em;
        max-height: 630px;

        @media(max-width: 700px) {
          left: 0px;
          right: 0px;
          margin: 0 auto;
        }
      }
    }
  }

  .employee-bg-box {
    width: 90%;
    margin: 0 auto;
    position: relative;

    .employee-bg {
      width: 100%;
      margin: 0 auto;
      position: absolute;
      z-index: -1;
      background: #F8F8F9;
      height: 750px;
      top: 22em;

      @media(max-width: 700px) {
        display: none;
      }
    }

  }

  .about-employees-box {
    max-width: 1200px;
    margin-left: auto;
    margin: 0 auto;

    @media(max-width: 700px) {
      width: 90%;
      margin: 0 auto;
    }

    .about-employee-title {
      font-size: 3rem;
      line-height: 63px;
      margin-left: 2em;
      margin-bottom: 1em;

      @media(max-width: 700px) {
        margin-left: 0px;
      }
    }

    .team-image {
      width: 100%;
      height: auto;
      max-width: 1200px;
      margin: 0 auto;
      display: block;

      min-height: 400px;

        @media(max-width: 700px) {
        min-height: unset;
      }

      object-fit: contain;
      max-height: auto !important;
      max-height: max-content !important;
    }

    .about-employee-text {
      max-width: 90%;
      margin: 0 auto;
      margin-top: 2em;

      h4 {
        line-height: 38px;
        font-size: 2rem;

      }

      p {
        line-height: 25px;
        font-size: 1rem;
      }
    }

    .employee-columns {
      min-height: 500px;

      .in-4 {
        align-items: center;
        justify-content: center;
        display: flex;

        .employee-info {
          h4 {
            font-size: 2rem;
            line-height: 38px;
          }

          .employee-body {
            font-size: 1;
            line-height: 22px;
            margin-top: 2em;
          }

          .employee-links {
            display: flex;
            justify-content: space-around;
            margin-top: 5em;
            cursor: pointer;
          }
        }
      }
    }
  }

  .about-jobs-box {
    max-width: 1400px;
    margin-left: auto;
    margin-right: 10%;

    @media(max-width: 700px) {
      width: 90%;
      margin: 0 auto;
    }

    .about-jobs-title {
      font-size: 3rem;
      line-height: 63px;
    }

    .jobs-columns {
      .in-4 {
        align-items: start;
        justify-content: center;
        display: flex;

        .jobs-info {
          h4 {
            font-size: 1.5rem;
            max-width: 60%;
            font-family: $main-font;

            @media(max-width: 900px) {
              max-width: 100%;
            }
          }

          .jobs-body {
            font-size: 1;
            margin-top: 2em;
            line-height: 22px;
            font-family: $main-font;
          }

          .jobs-link {
            a {
              display: block;
              font-size: 2rem;
              line-height: 38px;
              margin-top: 2em;
              max-width: 100px;
            }
          }
        }
      }

      .in-8 {
        position: relative;

        .job-images {
          .job-image-box {
            width: 600px;
            height: 600px;
            background-size: cover;
            background-position: center;

            @media(max-width: 599px) {
              width: 100%;
            }
          }
        }

        .job-bg {
          position: absolute;
          top: 0px;
          left: 0em;
          height: 100%;
          width: 100%;
          max-width: 800px;
          z-index: -1;

          @media(max-width: 1300px) {
            left: 0px;
          }
        }

        .job-links {
          display: flex;
          justify-content: space-around;
          margin-top: 3em;
          cursor: pointer;
          max-width: 400px;
          margin-left: auto;
        }

        .job-section-box {
          display: flex;
          align-items: center;

          .job-section {
            margin-left: 10px;
            cursor: pointer;
            padding-top: 1em;
            padding-bottom: 1em;
          }
        }
      }
    }
  }

  .about-jobs-box {
    margin-top: 10em;

    @media(max-width: 700px) {
      margin-top: 3em;
    }

    .about-jobs-desc {
      max-width: 500px;
      margin-right: 10%;
      margin-left: auto;
      margin-bottom: 3em;

      .about-jobs-title {
        font-size: 3rem;
        margin-bottom: 0.7em;
      }

      .about-jobs-text {
        font-size: 1;
        line-height: 22px;
      }
    }
  }

  .about-projects-box {
    max-width: 1400px;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10em;
    margin-bottom: 10em;

    @media(max-width: 700px) {
      width: 90%;
      margin: 0 auto;
      margin-top: 5em;
      margin-bottom: 5em;
    }

    .about-project-title {
      font-size: 3rem;
      line-height: 63px;
    }

    .about-project-desc {
      max-width: 100%;
      margin-bottom: 3em;
      display: flex;
      align-items: center;
      justify-content: center;

      @media(max-width: 700px) {
        flex-wrap: wrap;
      }

      .is-6 {
        max-width: 500px;
      }

      .about-project-title {
        font-size: 3rem;
        margin-bottom: 0.7em;
      }

      .about-project-text {
        font-size: 1rem;
        line-height: 22px;
      }
    }

    .project-columns {
      .in-4 {
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .project-info {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          h4 {
            font-size: 2rem;
            line-height: 38px;
            max-width: 350px;
          }

          .project-body {
            font-size: 1rem;
            line-height: 22px;
            margin-top: 2em;
            max-width: 350px;
          }

          .project-links {
            display: flex;
            justify-content: space-around;
            margin-top: 5em;
            cursor: pointer;
            width: 50%;
          }
        }

        .project-bg {
          position: absolute;
          top: 8em;
          left: -20em;
          z-index: -1;

          @media(max-width: 700px) {
            display: none;
          }
        }
      }

      .in-8 {
        .project-section-box {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .project-section {
            margin-left: 10px;
            cursor: pointer;
            padding-top: 1em;
            padding-bottom: 1em;
          }
        }
      }

      .image-box {
        width: 100%;
        // height: auto;
        height: 600px;
        object-fit: cover;

        @media(max-width: 599px) {
          width: 100%;
        }

        img {
          max-height: 600px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .about-video-box {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 5em;

    @media(max-width: 700px) {
      width: 90%;
      margin: 0 auto;
    }

    .about-us-video-title-box {
      .columns {
        .is-4 {
          margin-left: auto;

          .about-us-video-title {
            font-size: 3rem;
          }
        }
      }

      .video-box {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        margin-top: 3em;

        .video-bg {
          position: absolute;
          right: -100px;
          top: -50px;
          z-index: -1;

          @media(max-width: 1300px) {
            display: none;
          }
        }

        iframe {
          z-index: 10;
        }
      }
    }
  }

  img {
    max-height: 80vh;
    object-fit: cover;
  }
}
