.blog-page {
  .has-navbar-padding {
    margin-top: 2em;

    .blog-title {
      margin-bottom: 1em;
      // font-family: $main-font;
      // font-size: 3rem;
      // line-height: 63px;
    }
  }

  &-container {
    // @by Guntis
    // Es nezinu kā ir labak.. šobrīd es uzlikšu kā ir pārējā lapā
    padding: 72px 40px 136px;

    max-width: 1440px;
		margin: 0 auto;
  }

  .posts-box {
    .columns {
      flex-wrap: wrap;

      .post {
        margin-bottom: 2em;
        cursor: pointer;

        span {
          font-size: 1rem;
          font-family: $main-font;
          margin-bottom: 1em;
          display: inline-block;
        }

        .time-block {
          padding-left: 2em;
        }

        .title {
          font-size: 1rem;
          font-family: $main-font;
          font-weight: 500;
          padding-top: 0.8em;
        }
      }

      // .is-4 {
      //   img {
      //     max-height: 300px;
      //     object-fit: cover;
      //     width: 100%;
      //   }
      // }
    }
  }
}

.blog-background {
  position: relative;
  z-index: -1;
  .no-bg {
    opacity: 0;
  }


  @include mobile {
    display: none;
  }
}

.post-block {

  padding-left: 0.75rem;
  padding-right: 0.75rem;

  .post-background {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: block;

    @include mobile {
      display: none;
    }
  }

  .post-box {
    width: 640px;
    margin: 0 auto;

    @media(max-width: 700px) {
        width: auto;
        overflow: hidden;
    }

    .post-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-top: -10em;

      @include mobile {
        margin-top: 0px;
      }
    }

    .post-title {
      margin-top: 10px;
      margin-bottom: 0.5em;
    }

    .post-body-box {
      .post-images {
        position: relative;
        img {
          margin-top: 2em;
          margin-bottom: 5em;
          object-fit: contain;
        }

        @media(max-width: 700px) {
          width: 100%;
        }
      }

      .post-body {
        margin-bottom: 0em;
        line-height: 25px;
        font-size: 1rem;

        p {
          line-height: 25px;
          font-size: 1rem;
        }
      }
    }

    .post-time {
      font-family: 1rem;
      font-family: $main-font;
      margin-top: 1em;
    }

    .post-date {
      font-family: 1rem;
      font-family: $main-font;
      margin-top: 1em;
    }
  }
}

.post {

  &-body {
    line-height: 1.5;

    a {
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }

    p {
      margin-bottom: 1em;
    }

    h1,h2,h3,h4,h5,h6 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: $primary;
    }

    strong {
      color: inherit;
    }

    ol, ul {
      padding-left: 1rem;
    }
  }
}
