.checkout-page {
  &__form {
    padding: 72px 0 136px 40px;

    @include mobile {
      padding: 0 20px;
    }
  }
  &__summary {
    padding: 72px 40px 136px 64px;
    height: 100%;

    @include mobile {
      padding: 20px;
    }
  }
  .phone-option-select {
    font-size: 14px;
    select {
      font-size: 14px;
    }
  }
  .phone-option-select::-webkit-input-placeholder {
    font-size: 14px;
  }
  .phone-option-select:-moz-placeholder {
    font-size: 14px;
  }
  .phone-option-select::-moz-placeholder {
    font-size: 14px;
  }
  .phone-option-select:-ms-input-placeholder {
    font-size: 14px;
  }
  .phone-option {
    font-size: 14px;
  }
  select {
    font-size: 14px !important;
  }
}
