.contact-us-page {

  &__sidebar {
    position: sticky;
    top: $navbar-total-height;
    overflow-y: auto;
    max-height: calc(100vh - #{$navbar-total-height} - 80px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }

  .special-contacts-box {
    .column {
      h4 {
        font-size: 1.125rem;
        font-family: $main-font;
        margin-top: 0.5em;
      }
      p {
        font-size: 1rem;
        font-family: $main-font;
        margin-top: 1em;
      }
    }
  }
  .contact-us-shop {
    @media(max-width: 700px) {
      &:not(:first-child) {
        border-top: 1px solid $ui-blue;
      }
    }
  }
  #siguldas-veikals {
    @media(max-width: 700px) {
      flex-direction: column-reverse;
      display: flex;
    }
  }
  #turaidas-veikals {
    @media(max-width: 700px) {
      padding-bottom: 4rem;
    }
  }
  .shop-title {
    @media(max-width: 700px) {
      margin-top: -10px !important;
      margin-bottom: 2em !important;
    }
  }
  .contact-map-link {
    @media(max-width: 700px){
      margin-bottom: 2em !important;
    }
  }
}
