.faq-page {
  padding: 72px 40px 136px;
  &__sidebar {
    position: sticky;
    top: $navbar-total-height;
    overflow-y: auto;
    max-height: calc(100vh - #{$navbar-total-height} - 80px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }
  &--content {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 64px;
    }
    .collapse {
      &-trigger .card-header-title {
        padding: 12px 0 !important;
      }
      &-content .card-content {
        padding-top: 0 !important;
      }
    }
    &__body {
      h4, .h4 {
        margin-bottom: 12px;
        line-height: 140%;
        &:not(:first-child) {
          margin-top: 48px;
        }
      }
      p, .p {
        line-height: 160%;
        margin-bottom: 26px;
        &:last-child {
          margin-bottom: 4px;
        }
      }
    }
  }
}
