.gift-card-page {
	max-width: 1300px;
	margin: 0 auto;
	padding-bottom: 5em;
	.gift-card-cols {
		@include until-widescreen {
			display: block;
		}
	}
	.gift-data-col {
		@include touch {
			margin-left: .625rem;
			margin-right: .625rem;
		}
	}
	.prive-total-box {
		font-size: 1.5rem;
	}
	.gift-card-images {
		position: relative;
	}
	.gift-card-first-title {
		margin-top: 2em;
	}
	.gift-card-title {
		margin-bottom: 1em;
	}
	.gift-btn-col {
		@include until(1599px) {
			flex-wrap: wrap;
		}
	}
	.gift-btn {
		min-height: 56px;
		min-width: 100px;
		&:hover {
			border: 1px solid #000;
			border-bottom: 2px solid #000;
		}
		@include from(1600px) {
			width: 100%;
		}
	}
	.gift-card-info {
		padding-bottom: 0.6em;
	}
	.submit-box {
		display: flex;
		align-items: flex-end;

		.submit-btn {
			min-height: 56px;
			min-width: 200px;
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: space-around;
			background: #202A44;
			color: #fff;
			p {
				font-size: 1rem;
			}
		}
	}
	.error {
	  	color: red;
	  	font-size: 0.875rem;
	  	padding-left: 0.2em;
	}
}
