html, body {
  &.has-navbar-fixed-top {
    padding-top: 0 !important
  }
  &.has-navbar-fixed-bottom {
    padding-bottom: 0 !important
  }
}
.home-page {
  .home-box {
    overflow: hidden;
    padding: 40px;
    @media(max-width: 600px) {
      padding: 10px;
    }
  }
}

.home-background {
  background-color: $primary;
  padding: 184px 0 152px;
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 700px;

  background-image: var(--default-background-image);

  @include mobile {
    background-image: var(--mobile-background-image, var(--default-background-image));
  }

  @media(max-width: 600px) {
    height: auto;
  }

  .logo {
    width: 154px;
    margin: 0 0 50px;
  }
  .story {
    margin: auto;
    max-width: 681px;
  }
  h3 {
    @media(max-width: 600px) {
      width: 90%;
    }
  }
}

.home-trending {
  height: calc(100vh - 120px);
  margin-bottom: 9rem;
  background-size: cover;
  background-position: center;

  background-image: var(--default-background-image);

  @include mobile {
    background-image: var(--mobile-background-image, var(--default-background-image));

    height: 500px;
  }

  .trending-mobile-link {
    @media(max-width: 600px) {
      padding-top: 0px !important;
      padding-right: 0px !important;
    }
  }

  &__wrapper {
    background: linear-gradient(52.44deg, rgba(255, 255, 255, 0.67) 30.57%, rgba(255, 255, 255, 0) 45.59%);
    height: 100%;
    width: 100%;

    display: flex;

    @include mobile {
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;

      background: linear-gradient(25deg, rgba(255, 255, 255, 0.7) 30.57%, rgba(255, 255, 255, 0) 60%);

      margin-bottom: 1rem;
    }
    // flex-direction: column;
    // justify-content: space-between;
  }
  &__title {
    display: flex;
    align-items: center;
    padding: 0 0 0 9%;
    margin-bottom: 10%;

    max-width: 100px;

    @include mobile {
      align-items: start;
      flex: 0 0 100%;
      height: auto;
      padding: 0 5%;
      margin: 0;
    }

    // padding: 254px 0 200px 115px;
  }
  &__link {
    display: flex;
    align-items: flex-end;
    padding: 9% 5%;

    // padding: 0 0 104px 345px;
    @include mobile {
      align-items: start;
      flex: 0 0 100%;
      padding: 5% 5%;
    }
    .spacer {
      height: 50%;
    }
  }
  &.has-temporary-changes {
    .home-trending {
      &__wrapper {
        background: none;
      }
    }
  }
}

.home-favorites {
  margin-bottom: 254px;
  @media(max-width: 600px) {
    margin-bottom: 50px;
  }
  .favorite-title {
    @media(max-width: 600px) {
      display: none;
    }
  }
}

.home-custom-design {
  .mobile-reverse {
    @media(max-width: 600px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .no-mobile {
    @media(max-width: 600px) {
      display: none;
    }
  }
  .custom-mobile-link {
    display: none;
    @media(max-width: 600px) {
      display: flex;
      justify-content: end;
    }
  }
  &.container {
    margin-bottom: 437px;
    @include mobile {
      margin-bottom: 150px;
    }
    @media(max-width: 600px) {
      margin-bottom: 50px;
    }
  }
  &__title {
    margin-bottom: 48px;
  }
  &__subtitle {
    line-height: 160%;
    margin-bottom: 200px;
    @include mobile {
      margin-bottom: 20px;
    }
  }
  .custom-design-image-big {
    width: 555px;
    height: 555px;
    @include tablet-only {
      width: 50vw;
      height: 50vw;
    }
    @include mobile {
      height: 65vh;
    }
    @media(max-width: 600px) {
      width: 100%;
    }
  }
  .custom-grey {
    width: 718px;
    height: 561px;
    top: -150px;
    left: -107px;
    @include tablet-only {
      width: 60vw;
      height: 50vw;
      left: unset;
      right: -16%;
    }
    @media(max-width: 600px) {
      width: 100%;
      display: none;
    }
  }
  .custom-design-image-small {
    bottom: -272px;
    right: 2px;
    @include touch {
      bottom: -15vw;
    }
    @include mobile {
      width: 60%;
      bottom: 150px;
    }
  }
  .is-grey-alt {
    @media(max-width: 600px) {
      width: 100% !important;
    }
  }
}

.home-gift {
  &.container {
    margin-bottom: 127px;
  }
  &__title {
    margin-bottom: 8rem;
  }
  .gift-grey {
    width: 555px;
    height: 672px;
    top: 26px;
    right: -103px;
    @include mobile {
      height: 80vw;
    }
    @media(max-width: 600px) {
      width: 100%;
      display: none;
    }
  }
  .gift-image {
    width: 670px;
    height: 555px;
    margin-top: 54px;
    @media(max-width: 600px) {
      width: 100%;
      height: auto;
    }
  }
}

.home-latest-posts {
  margin-bottom: 90px;
  @media(max-width: 600px) {
    margin-bottom: 10px;
    overflow: hidden;
  }

  .blog-post {
    flex: 0 0 50% !important;
    .blog-post__image {
      img {
        max-width: 100%;
      }
    }
  }
}

.home-how-made {
  margin-bottom: 96px;
  position: relative;
  &:before {
    position: absolute;
    height: 685px;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    content: '';
    bottom: 0;
    background-image: url('/textures/Union-1.svg');
    left: -40px;
    @media(max-width: 600px) {
      display: none;
    }
  }
  &:after {
    position: absolute;
    height: 685px;
    width: 622px;
    right: -40px;
    background-repeat: no-repeat;
    display: block;
    content: '';
    bottom:0;
    z-index: 0;
    background-image: url('/textures/Union-2.svg');
    @media(max-width: 600px) {
      display: none;
    }
  }
  .how-made-bg {
    width: 555px;
    height: 568px;
    top: 204px;
    left: 12px;
    @media(max-width: 600px) {
      display: none;
    }
  }
  .how-made-title-box {
    margin-bottom: 130px;
  }
}
.selectable-box-disabled {
  cursor: not-allowed !important;
}
