.kalendars-container {
  // @by Guntis
  // Es nezinu kā ir labak.. šobrīd es uzlikšu kā ir pārējā lapā
  padding: 72px 40px 136px;

  max-width: 1440px;
  margin: 0 auto;

  @media(max-width: 700px) {
    padding-top: 0px;
  }

  .content-box {
    @media(max-width: 1100px) {
      flex-wrap: wrap;
    }

    .is-6 {
      @media(max-width: 1100px) {
        width: 100%;
      }
    }

    &-text-box {
      &.sticky-column {
        @media (min-width: 1101px) {
          position: sticky;
          top: 0;
          height: min-content;
        }
      }
    }
  }

  .kalendars-title {
    font-size: 3rem;
    line-height: 63px;

    &.kalendars-text-title {
      margin-top: 3rem;
    }
  }

  .cllendar-box {

    // margin-left: 2rem;
    select {
      border: 1px solid #202A44;
      border-radius: 0px;
    }

    .pagination-previous {
      border: 1px solid #202A44;
      border-radius: 0px;

      i {
        &:before {
          font-size: 35px;
        }
      }
    }

    .pagination-next {
      border: 1px solid #202A44;
      border-radius: 0px;
      order: 3 !important;

      @media(max-width: 480px) {
        order: 2 !important;
      }

      i {
        &:before {
          font-size: 35px;
        }
      }
    }
  }

  .info-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    gap: 15px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;

    max-width: 450px;

    @media(max-width: 700px) {
      flex-wrap: wrap;
    }

    .info-text {
      display: flex;
      align-items: center;

      @media(max-width: 700px) {
        width: 100%;
      }

      .strikethrough {
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #202A44;
        margin-right: 5px;
      }

      .strikethrough:before {
        position: absolute;
        content: "";
        background: #202A44;
        width: 150%;
        height: 1px;
        left: -5px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .dot {
        border-radius: 50%;
        height: 0.35rem;
        margin: 0 0.1em;
        width: 0.35rem;
        display: inline-block;
        margin-right: 5px;
        flex-shrink: 0;
        flex-grow: 0;
      }

      p {
        display: inline-block;
      }
    }

  }

  .event-title {
    font-size: 2rem;
    line-height: 63px;
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    position: relative;
    left: -23px;

    .dot {
      border-radius: 50%;
      height: 0.55rem;
      margin: 0 0.1em;
      width: 0.55rem;
      display: inline-block;
      margin-right: 10px;
      flex-shrink: 0;
    }

    @media(max-width: 700px) {
      width: 80%;
    }
  }

  .time-box {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #202A44;
    padding-bottom: 20px;

    @media(max-width: 700px) {
      flex-wrap: wrap;
    }

    .date {
      h3 {
        display: inline-block;
        padding-right: 20px;
        border-right: 1px solid #202A44;

        @media(max-width: 700px) {
          display: block;
          width: 100%;
          border: none;
        }
      }
    }

    .place {
      padding-left: 20px;

      @media(max-width: 700px) {
        padding-left: 0px;
      }

      p {
        display: inline-block;
      }
    }
  }

  .time-btn-box {
    margin-top: 1.5rem;
    border-bottom: 1px solid #202A44;
    padding-bottom: 1.5rem;

    .button {
      margin-right: 20px;
      padding: 10px 20px;
      font-size: $font-size-h3;
      border-color: #202A44;
    }
  }

  .available-spots {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid #202A44;

    p {
      display: inline-block;
    }

    div {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .buy-option-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1.5rem 0;
    border-bottom: 1px solid #202A44;

    .btn {
      padding: 10px 0px;
      border: 1px solid #202A44;
      text-align: center;
      cursor: pointer;

      &.is-primary {
        background-color: #202A44;
        border-color: transparent;
        color: #fff;
      }

      p {
        padding: 2px;
      }
    }

    .buy-option {
      display: flex;
      flex-wrap: wrap;

      p {
        width: 100%;
        display: block;
      }
    }

    .strike {
      position: relative;
      border: 1px solid #202A44;
      margin-right: 5px;
      cursor: default;
      overflow: hidden;
    }

    .strike:before {
      position: absolute;
      content: "";
      background: #202A44;
      width: 110%;
      height: 1px;
      left: -7px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      -webkit-transform: rotate(-24deg);
      -moz-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      -o-transform: rotate(-24deg);
      transform: rotate(-24deg);

      @media(max-width: 455px) {
        width: 130%;
        left: -14px;
        -webkit-transform: rotate(-29deg);
        -moz-transform: rotate(-29deg);
        -ms-transform: rotate(-29deg);
        -o-transform: rotate(-29deg);
        transform: rotate(-29deg);
      }

      @media(max-width: 410px) {
        width: 121%;
        left: -9px;
        -webkit-transform: rotate(-33deg);
        -moz-transform: rotate(-33deg);
        -ms-transform: rotate(-33deg);
        -o-transform: rotate(-33deg);
        transform: rotate(-33deg);
      }
    }
  }

  .info-text-box {
    padding: 1.5rem 0;

    // border-bottom: 1px solid #202A44;
    .info-text-block {
      margin-bottom: 1em;

      p {
        display: inline-block;

        &.bold-text {
          // font-weight: 600;
          padding-left: 10px;
          color: $primary;
        }
      }
    }

    .info-text-desc {
      padding: 1rem 0;
      padding-bottom: 2rem;
      border-bottom: 1px solid #202A44;

      p {
        line-height: 1.3em;
      }

      a {
        padding-top: 2em;
        display: block;
        text-decoration: underline;
      }
    }

    .bottom-text {
      padding: 1.5rem 0;
      border-bottom: 1px solid #202A44;

      p {
        display: inline-block;
      }
    }
  }

  .buy-btn-box {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .back-btn {
    text-decoration: underline;
  }

  .dropdown-menu {
    box-shadow: 60px 60px #F8F8F9;
  }

  .datepicker-header {
    .datepicker-cell {
      font-weight: 400 !important;
    }

    .pagination {
      // flex-wrap: nowrap !important;
    }

    .field-body {
      display: flex !important;

      select {
        text-transform: capitalize;
      }
    }
  }

  .datepicker-row {
    .datepicker-cell {
      color: hsl(0deg, 0%, 71%);
    }

    .is-selectable {
      color: #ccc !important;
    }

    .is-today {
      border: none !important;
    }

    .has-event {
      border: 1px solid #202A44;
      border-radius: 0px !important;
      color: hsl(0deg, 0%, 71%);

      &.is-selectable {
        color: hsl(0deg, 0%, 29%) !important;
      }

      &.is-selected {
        color: #fff !important;
      }

      &.is-unselectable {
        border: 1px solid #202A44;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          background: #202A44;
          width: 140%;
          height: 1px;
          left: -9px;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  .datepicker .datepicker-header {
    border-bottom: 0px;
  }
}
