.legal-page {
  padding: 72px 40px 136px;

  &__sidebar {
    position: sticky;
    top: $navbar-total-height;
    overflow-y: auto;
    max-height: calc(100vh - #{$navbar-total-height} - 80px);
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
    }

    nav {
      width: 100%;
    }
  }

  &__main-content {
    padding-top: 192px;
  }

  &--content {
    &:not(:last-child) {
      border-bottom: 1px solid $ui-grey-alt-2;
    }

    margin-bottom: 64px;

    &__body {

      h4,
      .h4 {
        margin-bottom: 12px;
        line-height: 140%;

        &:not(:first-child) {
          margin-top: 48px;
        }
      }

      p,
      .p {
        line-height: 160%;
        margin-bottom: 26px;

        &:last-child {
          margin-bottom: 24px;
        }
      }

      ol {
        padding-left: 1rem;
      }
    }
  }
}
