.product-page {
  padding: 0 40px 136px;

  @include mobile {
    padding: 0 0.75rem 136px;
  }

  .collection {
    padding: 66px 0 167px;

    &__title {
      margin-bottom: 162px;
    }
  }
  .button-add-cart {
    display: flex;
    height: 60px;
    background: #202A44;
    color: #fff;
    padding: 10px;
    align-items: center;
    font-size: 1rem;

    @media(max-width: 900px) {
      * {
        line-height: 1;
      }
    }
  }

  .product-page-container {
    padding: 0 40px 0;
    max-width: 1440px;
    margin: 0 auto;

    @include mobile {
      padding: 0;
    }
  }
}

.filter-bottom {
  margin-top: 2em;
  margin-bottom: 2em;

  .button-reset {
    display: flex;
    max-width: 100%;
    height: 60px;
    background: transparent;
    color: #202A44;
    padding: 10px;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    justify-content: center;
    &:hover {
      border-color: #323232;
    }

    @include mobile {
      height: 40px;
    }
  }

  &-dual {
    display: flex;
    justify-content: space-between;

    .button-reset {
      width: 49%;
    }
  }

  &-modalbottom {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 1rem;
    bottom: -2rem;
    background: #fff;
    border-top: 1px solid #E2E7EC;
  }
}

.product-input-add-to-cart {
  @include touch {
    flex-wrap: wrap;
  }
}
