.products-page {
  padding: 72px 40px 136px;
  &__filters {
    position: sticky;
    top: $navbar-total-height;
    overflow-y: auto;

    // max-height: calc(100vh - #{$navbar-total-height} - 80px);
    max-height: calc(100vh - #{$navbar-total-height} - 0px);

    // -ms-overflow-style: none;  /* Internet Explorer 10+ */
    // scrollbar-width: none;  /* Firefox */
    // &::-webkit-scrollbar {
    //   display: none;  /* Safari and Chrome */
    // }

    // So that scrollbar ins not on text
    margin-right: -20px;
    padding-right: 20px;

    padding-bottom: 10px;
  }
  @media(max-width: 700px) {
    padding-top: 0px;
  }
  .sort-box {
    @include touch{
      width: 100% !important;
    }
  }
  .is-mobile {
    @include touch {
      flex-wrap: wrap;
      gap: 10px 0 !important;  
    }
    
  }

  .heading-top-mobile{
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .is-full-width-mobile{
    @media(max-width: 700px) {
      width: 100%;
    }
  }
  .pager {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    a {
      display: flex;
      border-radius: 1px solid #323232;
      // width: 100px;
      padding: 10px;
      height: 30px;
      color: #fff;
      background: #202A44;
      justify-content: center;
      align-items: center;
    }
    .current-page {
      color: #323232;
      background: #ccc;
    }
  }
}
