.radi-pats {
  .radi-pats-container {

    // @by Guntis
    // Es nezinu kā ir labak.. šobrīd es uzlikšu kā ir pārējā lapā
    padding: 72px 40px 136px;

    max-width: 1440px;
    margin: 0 auto;

    @media(max-width: 700px) {
      padding-top: 0px;
    }


    .radi-pats-box {
      position: sticky;
      top: 100px;
      // padding-bottom: 10em;
    }

    .radi-pats-list {
      margin-top: 2em;

      .radi-item {
        font-size: 1.5rem;
        line-height: 33px;
        border-left: 1px solid #ccc;
        padding-left: 1em;
        padding-top: 1em;
        cursor: pointer;
      }

      :first-child {
        padding-top: 0px;
      }

      nav {
        width: 100%;

        // a, span {
        //   display: block;
        // }
      }
    }

    .radi-title {
      font-size: 3rem;
      line-height: 63px;
      // position: sticky;
      // top: 100px;
    }

    .main-image-box {
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 60vh;

        @media(max-width: 700px) {
          object-position: right;
        }
      }

      .main-text {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        color: #fff;
        display: inline-block;
        max-width: 350px;
        font-size: 1.125rem;
        line-height: 50px;
        z-index: 10;

        @media(max-width: 700px) {
          width: 90%;
        }
      }
    }

    .content-box {

      padding-top: 4em;

      @media(max-width: 700px) {
        padding-top: unset;
      }

      padding-bottom: 4em;

      @media(max-width: 700px) {
        padding-bottom: 2em;
      }

      &-text-box {
        z-index: 10;
        .link-box {
          display: flex;
          margin-top: 2rem;
          gap:1rem;
        }
      }

      &-title {
        font-size: 3rem;
        line-height: 63px;
      }

      &-text {
        font-size: 1rem;
        font-family: $main-font;
        line-height: 22px;
        margin-top: 2em;
      }

      &-link {
        font-size: 2rem;
        line-height: 28px;
        margin-top: 2em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
      }

      &-image-box {
        z-index: 1;

        .image {
          // box-shadow: -60px 60px #F8F8F9;
          min-height: 400px;
          object-fit: cover;
          width: 100%;
        }
        video {
          min-height: 360px;
          object-fit: cover;
        }
      }

      &.is-reverse {
        flex-direction: row-reverse;

        .content-box-shadow {
          box-shadow: 60px 60px #F8F8F9;
        }
      }


      &-shadow {
        // box-shadow: 90px 90px #F8F8F9;
        box-shadow: -60px 60px #F8F8F9;
      }
    }
  }
}
