.search-results {
	// max-width: 1440px;
	margin: 0 auto;
	margin-bottom: 5em;

  @media(max-width: 700px) {
		// padding: 72px 40px 136px
	}

	.search-title {
		font-size: $font-size-h1;
		// margin-top: 2em;
		// margin-bottom: 0.5em;
	}
}
