<template>
  <div>
    <h1 style="margin-bottom: 65px" v-html="$t('basket.shoping_card')"></h1>
    <basket-subtotal />
    <a v-if="basketCount" class="is-flex is-align-items-center has-text-primary" style="margin-top: 30px" @click="$store.dispatch('basket/EMPTY_LIST')">
      <Trash size="20" class="mr-2" />
      {{ $t('basket.empty_button') }}
    </a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Trash from '../../icons/Trash'
import BasketSubtotal from './BasketSubtotal'

export default {
  components: { BasketSubtotal, Trash },
  computed: {
    ...mapGetters({
      basketCount: 'basket/count'
    })
  }
}
</script>
