<template>
  <div>
    <div class="has-text-medium has-text-small mb-1">
      {{ $t('basket.subtotal') }}
    </div>
    <div class="is-flex is-flex-wrap-wrap is-align-items-center pb-1">
      <h3 class="pb--3">
        {{ $utils.parseCurrency(subtotal) }}
      </h3>
      <div class="is-flex-grow-1" />

      <!-- class="button-with-underline pb-3 button has-text-normal is-dark" -->
      <nuxt-link
        class="py-2 px-4 button has-text-normal is-dark"
        style="height:auto;"
        :class="{
          'button-with-underline--disabled': basketCount === 0
        }"
        :to="basketCount === 0 ? '' : localePath('/checkout')"
      >
        <h3>
          {{ $t('basket.checkout') }}
        </h3>
      </nuxt-link>
    </div>
    <hr class="is-grey-alt">
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      subtotal: 'basket/subtotal',
      basketCount: 'basket/count'
    })
  }
}
</script>
