<template>
  <div class="columns" v-if="product">
    <div class="column is-3">
      <nuxt-link :to="transletedProductLink">
        <b-image :src="$imagekit(product.main_image, 500)" ratio="20by17" />
      </nuxt-link>
    </div>

    <div class="column">
      <div class="has-text-normal mb-2">
        {{ $utils.optional(product, 'type.title') }}
      </div>

      <div class="is-flex has-text-dark is-align-items-flex-start is-justify-content-space-between mb-5 is-flex-wrap-on-mobile">

        <h3 style="max-width: 440px; width:100%">
          <nuxt-link :to="transletedProductLink">
            {{ product.name }}
          </nuxt-link>
        </h3>

        <number-input :value="basketItem.count" @input="$store.dispatch('basket/CHANGE_COUNT', { variation: variation, count: $event, basketItem: basketItem })" />

        <h3>
          {{ $utils.parseCurrency(variation.price, basketItem.count) }}
        </h3>

        <a @click="$store.dispatch('basket/REMOVE_PRODUCT', {variation: variation, basketItem: basketItem})">
          <Trash class="mt-2" size="20" />
        </a>

      </div>

      <div class="columns">
        <div class="column is-7">
          <div class="columns is-multiline">

            <!-- <div class="column is-6">
              <div class="has-text-medium has-text-small mb-1">
                {{ $t('product.material') }}
              </div>
              <div class="has-text-primary has-text-normal has-line-height-140">
                <ColorCircle style="margin-right: 8px" :background="product.color" />{{ product.colorName }}
              </div>
            </div> -->

            <div class="column is-6" v-if="_showVariationsSize">
              <div class="has-text-medium has-text-small mb-1">
                <span      v-if="product.type.slug == 'gredzeni'"> {{ $t('product.size.ring') }} </span>
                <span v-else-if="product.type.slug == 'aproce' " > {{ $t('product.size.bracelet') }} </span>
                <span v-else                                     > {{ $t('product.variation') }} </span>
              </div>
              <div class="has-text-primary has-text-normal has-line-height-140">
                {{ variation.size }}
              </div>
            </div>

            <div class="column is-6">
              <div class="has-text-medium has-text-small mb-1">
                {{ $t('product.identification') }}
              </div>
              <div class="has-text-primary has-text-normal has-line-height-140">
                {{ variation.code }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NumberInput from '../../base/NumberInput'
import Trash from '../../icons/Trash'
import ColorCircle from '../../base/ColorCircle'
export default {
  components: { ColorCircle, Trash, NumberInput },
  props: {
    basketItem: {
      type: Object,
      default: null,
    },
    basketItemIndex: {
      type: Number,
      default: null,
    }
  },

  computed: {
    product() {
      return this.basketItem.product;
    },
    variation() {
      return this.basketItem.variation;
    },

    _showVariationsSize() {
      if (this.variation.size == '') {
        return false
      }

      if (this.product.has_size_dropdown && this.product.variations.length > 1) {
        return true;
      }

      return false;
    },

    transletedProductLink() {
      let pathObj = {
        name: 'products-slug-variation_id',
        params: {
          slug: this.product.slug,
          variation_id: this.variation.id,
        }
      }
      console.log(pathObj);
      return this.localePath(pathObj);
    }
  }
}
</script>
