<template>
  <div>
    <BaseNav />
    <section class="main-content">
      <Nuxt />
    </section>
    <BaseFooter />

    <!-- <CookieControl :locale="$i18n.locale">
      <template v-slot:bar>
        <p v-text="$cookies.text.barDescription"></p>
        <n-link :to="localePath('/legal#privacy-policy')" type="is-text" class="mt-4 button" >{{ $t('footer.cookies') }}</n-link>
      </template>
    </CookieControl> -->

    <b-loading is-full-page v-model="basketIsLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      showFilter: true,
    }
  },

  created () {
    const me = this;

    me.heartbeat();

    // setInterval(() => {
    //   me.heartbeat();
    // }, 5 * 1000);
  },

  methods: {
    async heartbeat() {
      this.$store.dispatch('basket/loadCart');

      try {
        const heartbeat = await this.$axios.$get('/api/v1/heartbeat');
      } catch (error) {}
    }
  },

  computed: {
    ...mapGetters({
      basketIsLoading: 'basket/isLoading'
    }),
  },
}
</script>

<style lang="scss">
.cookieControl{
  p{
    color: white;
  }
  .cookieControl__ModalContent ul {
    padding-bottom: 10px;
  }
  .cookieControl__ModalButtons {
    margin-top: 70px;
  }
  // a{
  //   text-decoration: none;
  //   span{
  //     color: white
  //   }
  // }
  // a:hover{
  //   text-decoration: none;
  // }
}
</style>
