<template>
  <div class="maintenance">
      <Nuxt />
  </div>
</template>
<script>


export default {
  name: 'maintenance',
};
</script>

<style lang="scss">
  .maintenance {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
  }
</style>
