<template>
  <div>
    <Nav />
    <section class="main-content">
      <Nuxt />
    </section>

    <!-- <CookieControl :locale="$i18n.locale">
      <template v-slot:bar>
        <p v-text="$cookies.text.barDescription"></p>
        <button type="is-text" tag="nuxt-link" class="mt-4" :to="localePath('/legal#privacy-policy')">{{ $t('footer.cookies') }}</button>
      </template>
    </CookieControl> -->

    <b-loading is-full-page v-model="basketIsLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Nav from '../components/base/Nav'
import Footer from '../components/base/Footer'
export default {
  components: { Footer, Nav },

  fetch () {
    this.$axios.get()
  },

  data() {
    return {
      showFilter: true,
    }
  },

  created () {
    const me = this;

    me.heartbeat();

    // setInterval(() => {
    //   me.heartbeat();
    // }, 5 * 1000);
  },

  methods: {
    async heartbeat() {
      this.$store.dispatch('basket/loadCart');

      const heartbeat = await this.$axios.$get('/api/v1/heartbeat');
    }
  },

  computed: {
    ...mapGetters({
      basketIsLoading: 'basket/isLoading'
    }),
  },
}
</script>

<style lang="scss">
.cookieControl{
  p{
    color: white;
  }
  // a{
  //   text-decoration: none;
  //   span{
  //     color: white
  //   }
  // }
  // a:hover{
  //   text-decoration: none;
  // }
}
</style>
