<template>
  <div class="post-block has-navbar-padding" v-if="post">
    <div class="blog-background" v-if="post.cover_image">
      <b-image
        :src="post.cover_image ? $imagekit(post.cover_image.path, 1400) : ''"
        custom-class="post-background"
        :class="post.cover_image ? '' : 'no-bg' "
        responsive
      />
    </div>
    <div v-else class="blog-top-spacer">&nbsp;</div>
    <div class="post-box">
      <img v-if="post.image" :src="$imagekit(post.image.path, 800)" class="post-image" />

      <div class="columns">
        <div class="column is-6">
          <p class="post-date">{{ post.date_published }}</p>
        </div>
        <!-- <div class="column is-6">
          <template v-if="post.read_time != null">
            <p class="post-time">
              {{ post.read_time }} {{ $t("blog.read_time") }}
            </p>
          </template>
        </div> -->
      </div>
      <h1 class="post-title">
        {{ post.title }}
      </h1>
      <div class="post-body-box">
        <div class="post-body" v-html="post.body"></div>
        <div class="post-images">
          <template v-if="post.show_galery == 1">
            <VueSlickCarousel ref="product-gallery" v-bind="options">
              <b-image v-for="(image, i) in post.images" :key="i" :src="$imagekit(image)" ratio="440by391" />
            </VueSlickCarousel>
            <a
              class="is-absolute"
              style="top: 50%; transform: translateY(-50%); left: 40px"
              @click="$refs['product-gallery'].prev()"
            >
              <ArrowLeft size="40" color="white" />
            </a>

            <a
              class="is-absolute"
              style="top: 50%; transform: translateY(-50%); right: 40px"
              @click="$refs['product-gallery'].next()"
            >
              <ArrowRight size="40" color="white" />
            </a>
          </template>
          <template v-else>
            <template v-for="i in post.images">
              <img v-if="i.path" :src="$imagekit(i.path, 800)" :key="i" />
            </template>
          </template>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="is-flex is---justify-content-end p-6 trending-mobile-link">
          <!-- <nuxt-link class="h2 is-underlined" :to="localePath('/products')" v-html="$t('news.go_back')" /> -->
          <nuxt-link class="h2 is-underlined" :to="localePath('/blog')" v-html="$t('news.all_news')" />
        </div>
      </div>
    </div>

    <div class="columns is-multiline is-centered mb-6 pb-6">
      <div class="column is-7">
        <h2>
          {{ $t('news.related') }}
        </h2>
      </div>
      <div class="column is-6">
        <div class="columns" style="margin-top: 4px">
          <template v-for="b in related">
            <BlogPost v-if="b" :key="b.id" :post="b" class="column is-6 is-narrow" />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BlogPost from "~/components/partial/BlogPost";
import ArrowLeft from '~/components/icons/ArrowLeft'
import ArrowRight from '~/components/icons/ArrowRight'

export default {
  components: { BlogPost, ArrowRight, ArrowLeft },

  async asyncData({ $axios, params, error }) {
    const [post, related] = await Promise.all([
      $axios.$get("/api/v1/news/post/" + params.id),
      $axios.$get(`/api/v1/news/posts/related-to/${params.id}`),
    ]);

    if(post.error || post.data == null) {
      return error(404);
    }

    return {
      post: post.data,
      related: related.data,
    };
  },

  data() {
    return {
      post: null,
      backgroundImage: require("~/assets/img/blog/background.png"),
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
      }
    };
  },
};
</script>

<style lang="scss" scoped >
.blog-top-spacer {
  height: 110px;
}
</style>
