<template>
  <section class="blog-page">
    <div class="has-navbar-padding">
      <div class="blog-page-container">
        <div class="columns">
          <div class="column is-3">
            <h4>{{ $t("blog.categories_title") }}</h4>
            <ul>
              <li v-for="c in categories" :key="c.id">
                <!-- <input type="checkbox" :id="c.id" v-model="selectedCategories" :value="c.id" @change="get_categories"> -->
                <!-- <label :for="c.id">{{ c.title }}</label> -->
              </li>
            </ul>
          </div>
          <div class="column is-7">
            <h1 class="blog-title">{{ $t("blog.title") }}</h1>
            <div class="posts-box">
              <div class="columns">
                <!-- <div class="post column" :class="index == 0 || index == 1 ? 'is-6' : 'is-4'" v-for="(n, index) in news" :key="n.id">
                  <nuxt-link :to="localePath('/blog/' + n.id)">
                    <span>{{ n.date_published }}</span>
                    <span class="time-block">{{ n.read_time }} {{ $t('blog.read_time') }}</span>
                    <img :src="n.image.path">
                    <h4 class="title">{{ n.title }}</h4>
                  </nuxt-link>
                </div> -->

                <template v-for="(b, index) in news">
                  <BlogPost :key="b.id" :post="b" class="column post is-narrow" :class="index > 1 ? 'is-4' : 'is-6'"/>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BlogPost from '~/components/partial/BlogPost'

export default {
  components: { BlogPost },

  async asyncData({ $axios, params }) {
    const news = await $axios.$get("/api/v1/news/posts/all");
    const categories = await $axios.$get("/api/v1/news/posts/categories");
    return {
      news: news.data,
      categories: categories.data,
    };
  },

  data() {
    return {
      news: null,
      categories: null,
      selectedCategories: [],
    };
  },

  created() {
    // ////console.log(this.categories)
  },

  methods: {
    get_categories() {
      const cat = [];
      for (var i = this.selectedCategories.length - 1; i >= 0; i--) {
        cat.push(this.selectedCategories[i]);
      }
      this.$axios
        .post("/api/v1/news/post/categories", {
          categories: cat,
        })
        .then(function (response) {
          ////console.log(response);
        })
        .catch(function (error) {
          ////console.log(error);
        });
    },
  },
};
</script>
