<template>
  <div class="has-navbar-padding">
    <section class="gift-card-page">
      <div class="columns is-desktop">

        <div class="column is-7-desktop">
          <div class="gift-card-images">
            <VueSlickCarousel ref="product-gallery" v-if="images.length" v-bind="options">
              <b-image
                v-for="(image, i) in images"
                :key="i"
                :src="$imagekit(image)"
                ratio="440by391"
              />
            </VueSlickCarousel>
            <a
              class="is-absolute"
              style="top: 50%; transform: translateY(-50%); left: 40px"
              @click="$refs['product-gallery'].prev()"
            >
              <ArrowLeft size="40" color="white" />
            </a>
            <a
              class="is-absolute"
              style="top: 50%; transform: translateY(-50%); right: 40px"
              @click="$refs['product-gallery'].next()"
            >
              <ArrowRight size="40" color="white" />
            </a>
          </div>
        </div>

        <div class="gift-data-col column is-5-desktop">
          <p class="gift-card-first-title mb-4">{{ $t("gift_card.other") }}</p>

          <h2 class="gift-card-title">
            {{ giftCardType.title }}
          </h2>

          <ValidationObserver v-slot="{ invalid, errors }" ref="form">
            <div class="form-box" @submit.prevent="handleSubmit(onSubmit)">

              <h4 class="gift-card-info">
                {{ $t("gift_card.info") }}
              </h4>

              <div class="gift-card-cols columns">

                <template>
                  <div class="column is-3-widescreen">
                    <ValidationProvider
                      :name="$t('gift_card.value')"
                      rules="required|gift-card-value"
                      v-slot="{ errors }"
                      v-if="!morePersons"
                    >
                      <br-input
                        v-model="priceInteger"
                        :label="$t('gift_card.value')"
                        class="br-input--is-focused"
                        :disabled="giftCardType.layout_type != 'default'"
                      />
                      <div v-if="errors[0]" class="error mt-4">
                        {{ errors[0] }}
                      </div>
                    </ValidationProvider>
                  </div>

                  <div class="gift-btn-col column is-9-widescreen" style="display:flex;">
                    <div
                      v-for="(item, index) in valueArray" :key="index"
                      class="button gift-btn"
                      :class="{'is-active': (!morePersons && priceInteger == item.value) }"
                      @click="priceInteger = item.value; morePersons = false"
                    >
                      <span v-if="item.count"> {{item.title}} </span>
                      <span v-else > {{ $utils.parseCurrency(item.value * 100) }} </span>
                    </div>

                    <div
                      v-if="giftCardType.layout_type == 'countable'"
                      class="button gift-btn"
                      :class="{'is-active': morePersons }"
                      @click="morePersons = true"
                    >
                      <span> {{ $t("gift_card.more")}} </span>
                    </div>
                  </div>

                </template>

                <!-- <template v-if="giftCardType.layout_type == 'countable' && false">
                  <div class="column">
                    <div class="is-flex is-align-items-center pb-1">

                      <h3 class="pt-3">
                        {{ $utils.parseCurrency(priceInteger * 100) }}
                      </h3>

                      <div class="is-flex-grow-1" />

                      <ValidationProvider
                        :name="$t('gift_card.count')"
                        rules="required"
                        v-slot="{ errors }"
                      >
                        <number-input v-model="form.count" :max="maxCount" class="" @input="count_change"/>
                      </ValidationProvider>

                    </div>

                    <hr class="is-grey-alt">
                  </div>
                </template> -->

              </div>

              <div class="columns" v-if="!morePersons">

                <div class="column is-6">
                  <ValidationProvider
                    :name="$t('gift_card.name')"
                    rules="required|max:14"
                    v-slot="{ errors }"
                  >
                    <br-input
                      v-model="form.name"
                      :label="$t('gift_card.name')"
                      :maxlength="14"
                    />
                    <div v-if="errors[0]" class="error mt-4">
                      {{ errors[0] }}
                    </div>
                  </ValidationProvider>
                </div>
                <div class="column is-6">
                  <ValidationProvider
                    :name="$t('gift_card.email')"
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <br-input
                      v-model="form.email"
                      :label="$t('gift_card.email')"
                    />
                    <div v-if="errors[0]" class="error mt-4">
                      {{ errors[0] }}
                    </div>
                  </ValidationProvider>
                </div>
              </div>

              <div class="columns" v-if="!morePersons">
                <div class="column is-full">
                  <ValidationProvider
                    :name="$t('gift_card.receiver')"
                    rules="max:14"
                    v-slot="{ errors }"
                  >
                    <br-input
                      v-model="form.receiver"
                      :maxlength="14"
                      :label="$t('gift_card.receiver')"
                    />
                    <div v-if="errors[0]" class="error mt-4">
                      {{ errors[0] }}
                    </div>
                  </ValidationProvider>
                </div>
              </div>

              <div class="columns" v-if="!morePersons">
                <div class="column is-full">
                  <ValidationProvider
                    :name="$t('gift_card.message')"
                    rules="max:130"
                    v-slot="{ errors }"
                  >
                    <br-textarea
                      v-model="form.message"
                      :maxlength="130"
                      :placeholder="$t('gift_card.message')"
                    />
                    <div v-if="errors[0]" class="error mt-4">
                      {{ errors[0] }}
                    </div>
                  </ValidationProvider>
                </div>
              </div>

              <div class="columns" v-if="!morePersons">
                <div class="column is-full">
                  <ValidationProvider
                    :name="' '"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <p class="mb-3">
                      {{ $t('gift_card.need_hardcover') }}
                    </p>
                    <b-field>
                      <b-radio-button v-model="form.need_hardcover"
                          :native-value="true"
                          type="is-primary is-outlined"
                      >
                          <span>{{ $t('gift_card.need_hardcover_yes') }}</span>
                      </b-radio-button>
                      <b-radio-button v-model="form.need_hardcover"
                          :native-value="false"
                          type="is-primary is-outlined"
                      >
                        <span>{{ $t('gift_card.need_hardcover_no') }}</span>
                      </b-radio-button>
                    </b-field>
                    <div v-if="errors[0]" class="error mt-4">
                      {{ errors[0] }}
                    </div>
                  </ValidationProvider>
                </div>
              </div>

              <div class="columns" v-if="!morePersons">
                <div class="column is-full submit-box">

                  <div v-if="morePersons" class="button submit-btn" @click="onSubmit">
                    <p>{{ $t("gift_card.contact_us") }}</p>
                  </div>

                  <div v-else class="button submit-btn" @click="onSubmit">
                    <p>{{ $t("gift_card.add_to_cart") }}</p><p class="ml-3">{{$utils.parseCurrency(priceInteger * 100)}}</p>
                  </div>

                </div>
              </div>

              <div class="columns" v-if="morePersons && giftCardType.layout_type == 'countable'">
                <div class="column is-full has-line-height-160" v-html="giftCardType.more_than_available_text_for_countabe_type"></div>
              </div>

            </div>
          </ValidationObserver>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ArrowLeft from "../../components/icons/ArrowLeft";
import ArrowRight from "../../components/icons/ArrowRight";
import BrInput from "../../components/base/BrInput";
import BrTextarea from "../../components/base/BrTextarea";
import NumberInput from "../../components/base/NumberInput";
import { ValidationProvider, ValidationObserver } from "vee-validate";
export default {
  components: {
    ArrowRight,
    ArrowLeft,
    BrInput,
    BrTextarea,
    ValidationProvider,
    ValidationObserver,
    NumberInput,
  },

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
    const [
      giftCardType,
    ] = await Promise.all([
      $axios.$get(`/api/v1/giftcards/type/${params.type}`),
    ]);

    if (giftCardType.error) {
      error(404, "No Such Page");
    }

    let firstPrice = 25;
    let maxCount   = 1;

    if (giftCardType.data.layout_type == "countable") {
      firstPrice = giftCardType.data.prices_for_countable_type[0];
      maxCount = giftCardType.data.prices_for_countable_type.length;
    }

    return {
      giftCardType: giftCardType.data,
      type: giftCardType.data.slug,
      images: giftCardType.data.images,

      firstPrice,
      maxCount,
    };
  },

  data() {
    return {
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
        adaptiveHeight: true,
      },

      // images: [
      //   { image: require("~/assets/img/gift_card/gift_card.png") },
      //   { image: require("~/assets/img/gift_card/gift_card.png") },
      // ],

      form: {
        value: 0,
        name: "",
        email: "",
        receiver: "",
        message: "",
        count: 1,
        need_hardcover: null,
      },

      nextPrice: 48,

      morePersons: false,
      activeArrayValue: 0,
    };
  },

  mounted() {
  },

  computed: {
    priceInteger: {
      set(value, oldValue) {
        this.form.value = this.parseMoney(value);
      },

      get() {
        if ( this.form.value == null ) {
          this.form.value = this.parseMoney(this.firstPrice)
        }

        return this.form.value
      },
    },

    valueArray() {
      if ( this.giftCardType.layout_type == "countable" ) {
        const prices = [];

        this.giftCardType.prices_for_countable_type.forEach((element, index) => {
          prices.push({
            title: element.title ?? index+1,
            count: index+1,
            value: this.parseMoney(element),
          });
        });

        return prices;
      } else {
        return [
          {value: 100},
          {value: 50},
          {value: 25},
        ];
      }
    }
  },

  methods: {
    mock() {
      this.form = {
        type_id: 1,
        value: 100,
        name: "Guntis",
        email: "adx@adx.lv",
        receiver: "Guntis 2",
        message: "Nezinu",
      };
    },

    empty() {
      this.$refs.form.reset();

      this.form = {
        value: this.firstPrice,
        name: "",
        email: "",
        receiver: "",
        message: "",
        count: 1,
      };
    },

    add_value(new_value) {
      this.form.value = this.parseMoney(new_value);
    },

    onSubmit: function () {
      // //console.log(this.$refs.form)
      this.$refs.form.validate().then((success) => {
        if (success) {
          let card = this.form;
          card.morePersons = this.morePersons;
          card.type_id = this.giftCardType.id;

          this.$store.dispatch('basket/ADD_GIFT_CARD', card )
            .then((r) => {
              this.empty();

              this.toast(
                this.$t('global.card_added_to_cart'),
                "is-success"
              );

            })
            .catch((err) => {
              this.toast(
                err.message,
                "is-danger"
              );
            })

        } else {
          this.toast(
            this.$t('error.default_form_error'),
            "is-danger"
          );
        }
      });
    },

    parseMoney: function (value = '') {
      if (value == null || value == '') {
        value = 0;
      }

      if (value.price) {
        return parseInt(value.price.replace('.', ','));
      }

      try {
        return parseInt(value.replace('.', ','));
      } catch (error) {}

      return value;
    },

    count_change() {
      this.priceInteger = this.form.count;
    },

    /**
     * type: is-white, is-black, is-light, is-dark, is-primary, is-info, is-success, is-warning, is-danger
     */
    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    }
  },
};
</script>
