<template>
  <div class="product-category">
    <ProductCategory :type="type" :material="material" isSeoTextOnBottom ></ProductCategory>
  </div>
</template>
<script>
  import ProductCategory from "~/components/pages/product/ProductCategory";
  export default {
    name: "ProductsPage",
    components: { ProductCategory },
    data() {
      return {
        type: this.$route.params.type,
        material: this.$route.params.material
      };
    },
  }
</script>
