<template>
  <section class="about-us-page page-section">
    <div class="has-navbar-padding">
      <h1 class="about-us-title" v-html="$t('aboutus.title')" :style="{ top: text_top, color: text_color }"></h1>
    </div>
    <div class="main-image-box">
      <img :src="$imagekit(aboutUsImage, 1400)">
      <div class="columns">
        <div class="column is-full about-main-text">
          <div data-aos="fade-up" data-aos-offset="200">
            {{ $t('about.main_text1') }}
            {{ $t('about.main_text2') }}
          </div>
        </div>
      </div>
    </div>
    <div class="owners-box">
      <div class="columns">
        <div class="column is-7">
          <div class="about-image-box">
            <img :src="$imagekit(ownerBackground, 1400)" class="image-backgound">
            <img :src="$imagekit(ownerImg, 1400)" class="owner-image">
          </div>
        </div>
        <div class="column is-4">
          <div class="owner-info-box">
            <h4>{{ $t('about.founders_title') }}</h4>
            <p>{{ $t('about.founders_description') }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="employee-bg-box">
      <div class="employee-bg"></div>
    </div>
    <div class="about-employees-box">
      <h2 class="about-employee-title">{{ $t('about.our_team') }}</h2>
      <img :src="$imagekit(teamImage, 1400)" class="team-image">
      <div class="columns about-employee-text">
        <div class="column is-6">
          <h4 v-html="$t('about_us.employee_title')"></h4>
        </div>
        <div class="column is-6" v-html="$t('about_us.employee_desc')"></div>
      </div>
      <!-- <AboutEmployees :employees="employees"></AboutEmployees> -->
    </div>
    <div class="about-jobs-box">
      <div class="about-jobs-desc">
        <h2 class="about-jobs-title">{{$t('about.jobs_title')}}</h2>
        <p class="about-jobs-text">{{ $t('about.jobs_description') }}</p>
      </div>
      <AboutJobs :jobs="jobs"></AboutJobs>
    </div>
    <div class="about-projects-box">
      <div class="about-project-desc columns">
        <div class="column is-6">
          <h2 class="about-project-title">{{$t('about.projects_title')}}</h2>
        </div>
        <div class="column is-6">
          <p class="about-project-text">{{ $t('about.projects_description') }}</p>
        </div>
      </div>
      <AboutProjects :projects="projects"></AboutProjects>
    </div>

    <div class="about-video-box">
      <div class="columns">
        <div class="column is-full about-us-video-title-box">
          <div class="columns">
            <div class="column is-4">
              <h4 class="about-us-video-title" v-html="$t('about_us.video_title')"></h4>
            </div>
          </div>
          <div class="column" style="z-index: 1">
            <!-- <img :src="$imagekit(videoBg, 1400)" class="video-bg"> -->
            <div style="max-width: 1015px; max-height:60vh">
              <client-only>
                <vue-plyr>
                  <div v-bind="plyr" />
                </vue-plyr>
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import AboutJobs from '~/components/pages/about/about_jobs'
  import AboutEmployees from '~/components/pages/about/about_employees'
  import AboutProjects from '~/components/pages/about/about_projects'
  export default {
    name: 'AboutPage',
    components: {
      AboutJobs,
      AboutEmployees,
      AboutProjects
    },
    async asyncData ({ $axios, params }) {
      const [
        employees,
        jobs,
        projects,
      ] = await Promise.all([
        $axios.$get('/api/v1/about/employees'),
        $axios.$get('/api/v1/about/jobs'),
        $axios.$get('/api/v1/about/projects'),
      ]);

      return {
        employees: employees.data,
        jobs: jobs.data,
        projects: projects.data
      }
    },
    data () {
      return {
        aboutUsImage: require("~/assets/img/about_us/aboutus.png"),
        ownerBackground: require('~/assets/img/about_us/background.png'),
        ownerImg: require('~/assets/img/about_us/owners.jpeg'),
        videoBg: require('~/assets/img/about_us/video-bg.png'),
        teamImage: require('~/assets/img/about_us/team.jpeg'),
        employees: null,
        jobs: null,
        projects: null,
        text_parallax: 300,
        color: 'black',
      }
    },
    computed: {
      text_top() {
        return this.text_parallax
      },
      text_color() {
        return this.color
      },

      plyr() {
        if (this.$i18n.locale == 'lv') {
          return {
            'data-plyr-provider': 'youtube',
            'data-plyr-embed-id': 'EbHkB-rnaTo'
          }
        }

        return {
          'data-plyr-provider': 'youtube',
          'data-plyr-embed-id': 'vFLT64fgewA'
        }
      }
    },
    beforeMount () {
      window.addEventListener('scroll', this.handleScroll);
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.handleScroll);
    },

    methods: {
      handleScroll () {
        if (window.scrollY < 400) {
          this.text_parallax = 300 + 'px'
        }
        if (window.scrollY > 400) {
          if (window.scrollY > 865) {
            this.text_parallax = '1150px';
        }else {
          this.text_parallax = 100 + window.scrollY * 1.3 + 'px'
        }
        }
        if (window.scrollY > 350) {
          this.color = 'white'
        }
        if (window.scrollY < 350) {
          this.color = 'black'
        }
      }
    },
  }
</script>
