<template>
  <div class="has-navbar-padding">
    <section class="basket-page">
      <div class="columns is-variable is-8">
        <div class="column is-3">
          <LazyBasketSidebar />
        </div>
        <div class="column is-9">
          <div>
            <LazyBasketProducts />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  async fetch () {
    await this.$store.dispatch('basket/loadCart');
  },

  methods: {},

  mounted() {
    const $store = this.$store;

    setTimeout(() => {
      $store.dispatch('basket/loadCart');
    }, 200);
  },
}
</script>
