<template>
  <section class="radi-pats">
    <div class="has-navbar-padding">
      <div class="radi-pats-container">
        <div class="columns is-desktop">
          <div class="column is-4">
            <div v-if="sections.length > 0" class="radi-pats-box">
              <h1 class="radi-title">{{ $t("b2b.main_title") }}</h1>
              <b-tabs v-model="activeTab" vertical class="radi-pats-list">
                <b-tab-item v-for="(section, index) in sections" :key="`title${index}`">
                  <template #header>
                    <a @click="goto(`content${index}`)" v-html="section.title.replace('<br>', '')"></a>
                  </template>
                </b-tab-item>
              </b-tabs>
            </div>
          </div>
          <div class="column is-8-desktop">
            <div class="main-image-box">
              <img :src="mainImage" />
              <div class="main-text">{{ $t("b2b.main_text") }}</div>
            </div>

            <div v-if="sections.length > 0">
              <template v-for="(section, index) in sections" >
                  <intersect :threshold="[0.5]" @enter="activeTab = index">
                    <ContentBox
                      :key="`content${index}`"
                      :id="`content${index}`"
                      :title="section.title"
                      :text="section.body"
                      :slug="section.slug"
                      :image="section.image"
                      :video="section.video"
                      :contact="{
                        name: section.contact_name,
                        text: section.contact_text,
                        image: section.contact_image,
                      }"
                      :is-reverse="(index%2 == 1)"
                    />
                  </intersect>
              </template>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import ContentBox from "~/components/pages/radi/ContentBox";
import Intersect from 'vue-intersect'

export default {
  components: {
    ContentBox,
    Intersect,
  },

  async asyncData({error, redirect, i18n, app, $axios}) {
    const [
      sections,
    ] = await Promise.all([
      $axios.$get("/api/v1/content/business-to-business/all"),
    ]);

    return {
      sections: sections.data,
    };

    return {
      sections: [
        {
          title: app.i18n.t('create.wedding_title'),
          text:  app.i18n.t('create.wedding_text'),
          image: require('~/assets/img/radi/laulibas.jpg'),
          contact: {
            name: 'Anna Zane',
            text: 'info@balturotas.lv <br> (+371) 67-220-270',
            image: require('~/assets/img/radi/person.png'),
          }
        },
        {
          title: app.i18n.t('create.corporate_title'),
          text:  app.i18n.t('create.corporate_text'),
          image: require('~/assets/img/radi/korporativie.jpg'),
          contact: {
            name: 'Anna Zane',
            text: 'info@balturotas.lv <br> (+371) 67-220-270',
            image: require('~/assets/img/radi/person.png'),
          }
        },
        {
          title: app.i18n.t('create.nameja_ring_title'),
          text:  app.i18n.t('create.nameja_ring_text'),
          image: require('~/assets/img/radi/namejaring.png'),
          contact: {
            name: 'Anna Zane',
            text: 'info@balturotas.lv <br> (+371) 67-220-270',
            image: require('~/assets/img/radi/person.png'),
          }
        },
        {
          title: app.i18n.t('create.masterclass_title'),
          text:  app.i18n.t('create.masterclass_text'),
          image: require('~/assets/img/radi/meistarklase.jpg'),
          contact: {
            name: 'Anna Zane',
            text: 'info@balturotas.lv <br> (+371) 67-220-270',
            image: require('~/assets/img/radi/person.png'),
          }
        },
      ]
    }
  },

  data() {
    return {
      mainImage: require("~/assets/img/radi/main_image.png"),
      activeTab: -1,
    };
  },

  methods: {
    goto(id) {
      // var element = this.$refs[id];
      // var top = element.$el.offsetTop - 180;
      // window.scrollTo({
      //     top: top,
      //     left: 0,
      //     behavior: 'smooth'
      // });
      this.$utils.scrollTo(id, -180);
    },
  },
};
</script>
