<template>
  <div class="has-navbar-padding">
    <section class="checkout-page">
      <div class="columns">
        <div class="column is-offset-1 is-5">
          <CheckoutForm
            ref="CheckoutForm"
            :paymentMethods="paymentMethods"
            :deliveryMethods="deliveryMethods"
            :countries="countries"
            @submit="submit"
            @refresh="onRefresh"
          />
        </div>

        <div class="column is-offset-1 is-5">
          <CheckoutSummary @refresh="onRefresh" />
        </div>
      </div>

      <div class="columns is-hidden-desktop">
        <div class="column ">
          <div class="is-flex is-align-items-center px-4 pb-6">

            <nuxt-link :to="localePath('/basket')">
              {{ $t('checkout.return') }}
            </nuxt-link>
            <div class="is-flex-grow-1" />

            <!-- <a class="button-with-underline pb-3" @click="onSubmit"> -->
            <a
              @click="callCheckoutFormSubmit"
              class="py-2 px-4 button has-text-normal is-dark pb-3"
              style="height:auto;"
            >
              <h3>
                {{ $t('checkout.proceed') }}
              </h3>
            </a>

          </div>
        </div>
      </div>
    </section>

    <b-loading is-full-page v-model="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

// import CheckoutForm from '../components/pages/checkout/CheckoutForm'
// import CheckoutSummary from '../components/pages/checkout/CheckoutSummary'
import StockChangesErrorModal from '~/components/pages/checkout/modals/StockChangesErrorModal.vue'

import _each from "lodash/forEach";

export default {

  head: {
      link: [
        {
          rel: 'stylesheet',
          href: 'https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css',
        },
      ],
  },

  async asyncData({
    $axios,
    redirect,
    error,
    localePath,
  }) {
    const [
      paymentMethods,
      // deliveryMethods,
      countries,
    ] = await Promise.all([
      $axios.$get("/api/v1/payments/methods"),
      // $axios.$get("/api/v1/deliveries/methods"),
      $axios.$get("/api/v1/deliveries/countries"),
    ]);

    // In server side cart is ALWAYS empty, because no session cookie is set!
    // let itemCount = cart.data.items.length + cart.data.gift_cards.length;
    // if (itemCount < 1) {
    //   // redirect(localePath({name: 'basket'}));
    // }

    return {
      paymentMethods: paymentMethods.data,
      // deliveryMethods: deliveryMethods.data,
      deliveryMethods: [],
      countries: countries.data,
    };
  },

  data() {
    return {
      isLoading: false,
      // paymentMethods: [],
      // deliveryMethods: [],

      changedCartItems: 'ble!',
    }
  },

  async fetch() {
    this.paymentMethods  = null;
    this.deliveryMethods = null;

    const [
      paymentMethods,
      deliveryMethods,
      countries,
    ] = await Promise.all([
      this.$axios.$get("/api/v1/payments/methods"),
      this.$axios.$get("/api/v1/deliveries/methods"),
      this.$axios.$get("/api/v1/deliveries/countries"),
    ]);

    this.paymentMethods  = paymentMethods.data;
    this.deliveryMethods = deliveryMethods.data;
    // this.countries       = countries.data;
  },
  fetchOnServer: false,

  methods: {

    submit: function(formObject) {
      var thisComp = this;
      const formData = new FormData();

      this.isLoading = true;

      _each(formObject, (value, key) => {
        ////console.log(value, key);
        formData.append(key, value);
      });

      thisComp._placeOrderCheck(formObject)
        .then((response) => {

          if (response.error) {
            console.error(response.message);

            switch (response.message) {
              case 'stock_changes':
                return thisComp._placeOrderCheckErrorStockChanges(response.data);

              default:
                break;
            }


            return null;
          }

          return thisComp._placeOrder(formObject);
        })
        .catch((error) => {
          thisComp.toast('Something went wrong', 'is-danger');
          thisComp.isLoading = false;
        })
    },

    /**
     * type: is-white, is-black, is-light, is-dark, is-primary, is-info, is-success, is-warning, is-danger
     */
    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    },

    onRefresh() {
      console.log("CHECKOUT::onRefresh");
      this.$fetch();
    },

    _placeOrder(formObject) {
      var thisComp = this;
      this.isLoading = true;

      this.$axios.$post('/api/v1/orders/place_order', formObject, {})
        .then(function (response) {
          let order = response.data;
          ////console.log(order);

          if (order.payment_link) {
            window.location.replace(order.payment_link);
          } else {
            thisComp.toast('Something went wrong', 'is-danger');
            thisComp.isLoading = false;
          }
        })
        .catch(function (error) {
          ////console.log(error);

          thisComp.toast('Something went wrong', 'is-danger');
          thisComp.isLoading = false;

        })
        .finally(() => {
          // thisComp.isLoading = false;
        });
    },

    _placeOrderCheck(formObject) {
      var thisComp = this;
      this.isLoading = true;

      return this.$axios.$post('/api/v1/orders/order-precheck', formObject, {});
    },

    _placeOrderCheckErrorStockChanges(changedCartItems){

      this.isLoading = false;
      this.$buefy.modal.open({
          parent: this,
          component: StockChangesErrorModal,
          // hasModalCard: true,
          customClass: 'custom-class custom-class-2',
          trapFocus: true,
          // fullScreen: true,
          props: {
            changedCartItems: changedCartItems ?? null,
          },
      })
    },

    callCheckoutFormSubmit(event) {
      if (this.$refs['CheckoutForm']) {
        try {
          const form = this.$refs['CheckoutForm'];
          form.onSubmit()
        } catch (error) {}
      }
    }
  },

  computed: {
    ...mapGetters({
      basktList: 'basket/count',
    })
  },

  watch: {
    basktList(list) {
      if (list.length < 1) {
        this.$router.push(this.localePath({
          name: 'basket'
        }))
      }
    }
  }
}
</script>
