<template>
  <div class="has-navbar-padding">
    <section class="contact-us-page page-section">
      <div class="columns is-desktop">
        <div class="column is-3-desktop">
          <div class="contact-us-page__sidebar">
            <h1 style="margin-bottom: 64px" v-html="$t('contact_us.title')"></h1>

            <b-tabs v-model="activeTab" vertical>
              <b-tab-item>
                <template #header>
                  <a @click="$utils.scrollTo('contact-shops', -94)">
                    {{ $t('contact_us.shops') }}
                  </a>
                </template>
              </b-tab-item>
              <b-tab-item label="Kontakti">
                <template #header>
                  <a @click="$utils.scrollTo('specialContact', -94)">
                    {{ $t('contact_us.contacts') }}
                  </a>
                </template>
              </b-tab-item>
              <b-tab-item label="Kontaktforma">
                <template #header>
                  <a @click="$utils.scrollTo('contact-form', -94)">
                    {{ $t('contact_us.contact_form') }}
                  </a>
                </template>
              </b-tab-item>
            </b-tabs>

          </div>
        </div>
        <div class="column is-9-desktop">
          <intersect :threshold="[1 / shops.length]" @enter="activeTab = 0">
            <contact-us-shops id="contact-shops" style="margin-bottom: 91px" :shops="shops" />
          </intersect>

          <specialContact id="specialContact" :contacts="contacts"></specialContact>

          <intersect :threshold="[1]" @enter="activeTab = 1">
            <contact-us-form id="contact-form" />
          </intersect>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Intersect from 'vue-intersect'
import ContactUsShops from '../components/pages/contact-us/ContactUsShops'
import ContactUsForm from '../components/pages/contact-us/ContactUsForm'
import specialContact from '../components/pages/contact-us/SpecialContacts'
export default {
  components: { ContactUsForm, ContactUsShops, Intersect, specialContact },

  data () {
    return {
      activeTab: 0,
      shops: [],
      contacts: []
    }
  },

  async asyncData ({ $axios, params }) {
    const shops = await $axios.$get('/api/v1/shops/all')
    const contacts = await $axios.$get('/api/v1/contacts/all')
    return {
      shops: shops.data,
      contacts: contacts.data
    }
  },
}
</script>
