 <template>
  <div class="has-navbar-padding">
    <section class="faq-page">
      <div class="columns is-desktop">
        <div class="column is-4-desktop">
          <div class="faq-page__sidebar">
            <h1 v-html="$t('faq.title')"></h1>
          </div>
        </div>
        <div class="column is-5-desktop">
          <section>
            <expansion-panel v-for="(question, i) in questions" :key="i" class="faq-page--content" :title="question.title">
              <template #title>
                <span class="h4">
                  {{ question.title }}
                </span>
              </template>
              <template #icon="{ open }">
                <ChevronUp v-if="open" size="20" />
                <ChevronDown v-else size="20" />
              </template>
              <div class="faq-page--content__body" v-html="question.body" />
            </expansion-panel>
          </section>
          <div class="is-flex is-align-items-center pb-1">
            <h3 class="pb-3">
              {{ $t('faq.not_found') }}
            </h3>
            <div class="is-flex-grow-1" />
            <nuxt-link class="button-with-underline pb-3" :to="localePath('/contact-us#contact-form')">
              <span class="h3">
                {{ $t('faq.contact_us') }}
              </span>
            </nuxt-link>
          </div>
          <hr class="is-grey-alt">
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import _each from 'lodash/each';

import ExpansionPanel from '../components/base/ExpansionPanel'
import ChevronUp from '../components/icons/ChevronUp'
import ChevronDown from '../components/icons/ChevronDown'
export default {
  components: { ChevronDown, ChevronUp, ExpansionPanel },
  data () {
    return {
      questions: []
    }
  },
  async asyncData ({ $axios, params }) {
    const questions = await $axios.$get('/api/v1/faq/all')
    return {
      questions: questions.data,
    }
  },

  head() {
    const content = [];

    _each(this.questions, function(question) {
      content.push({
        "@type": "Question",
        "name": question.title,
        "acceptedAnswer": {
          "@type": "Answer",
          // "text": encodeURIComponent(question.body)
          "text": question.body,
        }
      })
    });

    return {
      title: 'Baltu Rotas',
      meta: [
          // { hid: 'description', name: 'description', content: '' }
      ],
      script: [
        {
          json: {
            '@context': 'http://schema.org',
            "@type": "FAQPage",
            "mainEntity": content,
          },
          type: 'application/ld+json'
        }
      ]
    }
  },
}
</script>
