<template>
  <section class="home-page">
    <PagesHomeBackground :images="heroImage"/>

    <delay-hydration>
      <div class="home-box">
        <LazyPagesHomeTrending :collection="collection" />
        <LazyPagesHomeFavorites />
        <LazyPagesHomeCustomDesign />
        <LazyPagesHomeGift />
        <LazyPagesHomeLatestPosts />
        <LazyPagesHomeHowMade />
      </div>
    </delay-hydration>
  </section>
</template>

<script>
import _get from 'lodash/get';

// import Background from "../components/pages/home/Background";
// import Trending from "../components/pages/home/Trending";
// import Favorites from "../components/pages/home/Favorites";
// import CustomDesign from "../components/pages/home/CustomDesign";
// import Gift from "../components/pages/home/Gift";
// import LatestPosts from "../components/pages/home/LatestPosts";
// import HowMade from "../components/pages/home/HowMade";

export default {
  name: "HomePage",

  data() {
    return {
      heroImage: null,
      collection: null,
    }
  },

  fetch() {
    Promise.all([
      this.$axios.$get("/api/v1/content/page/home/hero-image"),
      this.$axios.$get("/api/v1/products/collections/promo"),
    ]).then((responseArray) => {
      this.heroImage  = _get(responseArray[0], 'data', null);
      this.collection = _get(responseArray[1], 'data', null);
    })
  },
  fetchOnServer: false,
  fetchDelay: 1000,

  mounted() {},

  methods: {},

};
</script>
