<template>
  <section class="kalendars">

    <style type="text/css" v-for="(eventType) in eventTypeList" :key="`style-${eventType.id}`">
     {{ `.event-type-${eventType.type_id}`}} { background: {{ eventType.color }} }
    </style>

    <div class="has-navbar-padding">
      <div class="kalendars-container">
        <div class="columns content-box">
          <div class="column is-6 content-box-text-box sticky-column" v-if="displayCalendar == 1">
            <h1 class="kalendars-title">{{$t('calendar.title')}}</h1>
            <div class="info-box">
              <div class="info-text" v-for="(eventType) in eventTypeList" :key="`event-type-${eventType.id}`">
                <div class="dot" :class="[`event-type-${eventType.type_id}`]"></div>
                <p> {{ eventType.title }} </p>
              </div>
              <!-- <div class="info-text">
                <div class="dot is-warning"></div>
                <p>{{$t('calendar.infobox.other')}}</p>
              </div> -->
              <div class="info-text">
                <div class="strikethrough"></div>
                <p>{{$t('calendar.infobox.sold-out')}}</p>
              </div>
            </div>
            <div class="cllendar-box">
              <b-datepicker inline v-model="date"
                :events="events"
                :indicators="indicators"
                :unselectable-dates="unselectableDates"
                :size="calendarSize"
                :input="dateSelected(date)"
                :first-day-of-week="1"
                :years-range="[-1, 1]"
                :locale="$i18n.locale"
              >
              </b-datepicker>
            </div>
          </div>
          <div class="column is-6 content-box-text-box">
            <div v-if="this.displayCalendar == 0">
              <p @click="goBack" class="back-btn">{{$t('pager.back')}}</p>
            </div>

            <h2 class="kalendars-title kalendars-text-title" v-if="currentEvents.length == 0" v-html="$t('calendar.call-to-action-title')"></h2>

            <template v-else>
              <!-- <div v-if="this.displayCalendar == 0">
                <p @click="goBack" class="back-btn">Atpakaļ</p>
              </div> -->
              <!-- updates -->
              <div v-for="event in currentEvents">
                <h4 class="event-title">
                  <div class="dot" :class="event.class"></div>
                  {{ event.title }}
                </h4>
                <div class="time-box">
                  <span class="date">
                    <h3>{{ showDate(event.date) }}</h3>
                  </span>
                  <span class="place">
                    <p>{{ event.place }}</p>
                  </span>
                </div>
                <div class="time-btn-box">
                  <button class="button" @click="selectTime(time, event)" :class="isTimeSelected(time.time)" v-for="time in event.events">
                    {{ time.time }}
                  </button>

                  <div v-if="selected_time_data == null || selected_time_data.event_id != event.id" class="mt-4 w-100">{{ $t('calendar.choosetime') }}</div>
                </div>
                <template v-if="selected_time_data != null && selected_time_data.event_id == event.id">
                  <div class="available-spots">
                    <p>{{ $t('calendar.eventinfo.spots') }}</p>
                    <div>
                      <h3>{{ formatNumberOnlyPositive(selected_time_data.person_available) }}/{{ formatNumberOnlyPositive(selected_time_data.person_count) }}</h3>
                    </div>
                  </div>
                  <div class="buy-option-box">
                    <div v-for="item in related_products">
                      <template
                        v-if="isTimeAvailable(selected_time_data, item)">
                        <div class="buy-option btn" @click="selectPersons(item.related_product_variation, item, selected_time_data)"
                          :class="form.selected_persons == item.related_product_variation.id ? 'is-primary' : ''">
                          <p>{{ item.title }}</p>
                          <p>{{ $utils.parseCurrency(item.related_product_variation.price) }}</p>
                        </div>
                      </template>
                      <template v-else>
                        <div class="buy-option btn strike">
                          <p>{{ item.title }}</p>
                          <p>{{ $utils.parseCurrency(item.related_product_variation.price) }}</p>
                        </div>
                      </template>
                    </div>
                  </div>
                  <div class="info-text-box">
                    <div class="masterclass-language info-text-block has-text-medium">
                      <p>{{ $t('calendar.eventinfo.language') }}</p>
                      <p class="bold-text">{{ selected_time_data.eventData.language }}</p>
                    </div>
                    <div class="info-text-block has-text-medium">
                      <p>{{ $t('calendar.eventinfo.master') }}</p>
                      <p class="bold-text">{{ selected_time_data.eventData.master }}</p>
                    </div>
                    <div class="info-text-desc has-text-medium">
                      <p v-html="selected_time_data.eventData.description"></p>
                      <br>
                      <a v-if="selected_time_data.file" :href="selected_time_data.file">
                        {{ selected_time_data.file_name }}
                      </a>
                    </div>
                    <div class="bottom-text has-text-medium">
                      <p v-html="selected_time_data.eventData.bottom_text"></p>
                    </div>
                  </div>
                  <div class="buy-btn-box">
                    <button class="buy-btn button is-primary" @click="checkout">{{$t('product.add_to_cart')}} {{ $utils.parseCurrency(totalSum()) }}</button>
                  </div>
                </template>
              </div>

            </template>
          </div>
        </div>
      </div>
    </div>


  </section>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import _flatten from "lodash/flatten";
import _each from "lodash/each";
import _groupBy from "lodash/groupBy";
import _map from "lodash/map";

export default {

  fetch() {
    this.$store.commit('basket/START_LOADING');

    return this.getEvents().then((response) => {
      this.pushEvents(response);
      this.pushUnselectable(response);
      this.pushEventTypes(response);
      // this.events = response.events;
      // this.unselectableDates = response.unselectableDates;
    });
  },
  fetchOnServer:false,
  fetchDelay: 100,

  data() {
    return {
      date: null,
      currentEvents: [],
      displayCalendar: 1,
      isPhone: 0,

      form: {
        selected_time: [],
        selected_persons: null,
        selected_variation: null,
        selected_item: null
      },

      data: {
        count: 1,
        variation_data: {},
      },

      selected_time_data: null,
      calendarSize: 'is-medium',
      related_products: {},
      events: [],
      unselectableDates: [],

      eventTypeList: [],
    }
  },

  mounted() {
    this.watchResize();
    window.addEventListener('resize', this.watchResize)
  },

  methods: {
    /**
     * @todo Need to finish this.. Function to check disabled dates
    */
    unselectableDatesCallback() {

    },

    getEvents() {
      const events = this.$axios.$get('/api/v1/events/all')
      return events
    },

    pushEvents(response) {
      const events = Object.entries(response.data.events).map((arr) => {

        if (arr[1].length < 2) {
          // Return Array with single Object inside
          return [ this._createBuefyEventObject(arr[0], arr[1][0]['type'], arr[1]) ]
        } else {
          return _map(_groupBy(arr[1], ( event ) => event.type), (eventList) => {
            return this._createBuefyEventObject(eventList[0]['date'], eventList[0]['type'], eventList);
          })
        }
      });

      this.events = _flatten(events);

      this.$store.commit('basket/STOP_LOADING');
    },

    pushUnselectable(events) {
      let disabled = [];
      for (var i = events.data.disabled.length - 1; i >= 0; i--) {
        const date = this.$dayjs(events.data.disabled[i], 'DD.MM.YYYY').toDate()

        // disabled.push(new Date(events.data.disabled[i].split(".").reverse().join(".")))
        disabled.push(date);
      }
      this.unselectableDates = disabled

      this.$store.commit('basket/STOP_LOADING');
    },

    pushEventTypes(response) {
      this.eventTypeList = response?.data?.eventTypes;
      // console.log("RESPONSE", response);
    },

    dateSelected(date) {
      // this.form.selected_variation = null;

      this.date = date;
    },

    isTimeAvailable(selected_time_data, item) {
      try {
        const person_available = parseInt(selected_time_data.person_available);
        const for_person_count = parseInt(item.for_person_count);
        const person_count     = parseInt(selected_time_data.person_count);

        return person_available >= for_person_count;
      } catch (error) {
        console.error(error);
      }

      return false;
    },

    formatNumberOnlyPositive(number) {
      if (isNaN(number)) {
        return number;
      }

      if (number < 0) {
        return 0;
      }

      return number;
    },

    filterDates() {
      this.clearData();
      if (this.date != null) {
        this.currentEvents   = [];
        let allEventsByDate  = [];
        let filteredEvents   = [];

        const date2          = new Date(this.date)

        for (var i = this.events.length - 1; i >= 0; i--) {
          let date1 = new Date(this.events[i].date)

          if (date1.getTime() === date2.getTime()) {
            filteredEvents = filteredEvents.concat(this.events[i].data)
          }
        }

        const groupedEvents = Object.values( _groupBy(filteredEvents, ( event ) => event.type) )
          .map((eventGroup)=> {
            return {
              id: eventGroup[0].id,
              title: eventGroup[0].eventData.title,
              place: eventGroup[0].eventData.place,
              date: eventGroup[0].date,
              color: '#000',
              class: eventGroup[0].class,
              events: eventGroup
            };
          });

        // this.currentEvents.push(groupedEvents)

        this.currentEvents = groupedEvents

        if (this.isPhone == 1) {
          this.displayCalendar = 0
        } else {
          this.displayCalendar = 1
        }
      }
    },

    goBack() {
      this.displayCalendar = 1
      this.currentEvents = []
    },

    showDate(fulldate) {
      return fulldate
      const datetime = new Date(fulldate);
      const year = datetime.getFullYear();
      const month = datetime.toLocaleString("lv", { month: "2-digit" });
      const day = datetime.toLocaleString("lv", { day: "2-digit" });

      return `${day}.${month}.${year}`;
    },

    isTimeSelected(time) {
      if (this.form.selected_time.includes(time)) {
        return 'is-primary'
      } else {
        return
      }
    },

    selectTime(time,event) {
      this.form.selected_variation = null;

      this.form.selected_time = []
      this.selected_time_data = null
      this.form.selected_time.push(time.time)
      this.selected_time_data = time
      this.related_products = this.selected_time_data.eventData.items
      this.selected_time_data.event_id = event.id

      console.log("EVENT", this.selected_time_data, time.id);

      this.selectPersons(null)
    },

    selectPersons(variation, item, selected_time_data) {

      if (variation == null) {
        this.form.selected_persons = null;
      }
      if (variation != null) {
        this.form.selected_persons = variation.id;
        this.form.selected_variation = variation;
        this.form.selected_item = item;

      }
    },

    clearData() {
      this.currentEvents = []
      this.form.selected_time = []
      this.form.selected_persons = null
      this.selected_time_data = null
    },

    totalSum() {
      let total = 0;
      if (this.form.selected_variation != null) {
        total = this.form.selected_variation.price.amount
      }
      return total

    },

    checkout() {
      if (this.form.selected_persons == null || this.form.selected_variation == null) {
        this.toast(
            this.$t('calendar.noselectedpersons'),
            "is-danger"
          );
        return
      }
      this.addToCart(this.form.selected_variation.product, this.form.selected_variation, this.form.selected_item, this.selected_time_data);
    },

    watchResize() {
      if (process.client) {
        let width = window.innerWidth
        if (width < 700) {
          this.isPhone = 1;
          this.calendarSize = 'is-small';
        } else {
          this.isPhone = 0;
          this.calendarSize = 'is-medium';
        }
      }
    },

    resetEvents() {
      this.form.selected_persons = null;
      this.form.selected_variation = null;
      this.form.selected_item = null;
      if (!this.$fetchState.pending) {
        var data = this;
        setTimeout(() => {
          data.$fetch();
        }, 100);
      }
    },

    /**
     * @todo Probably needs some refactoring. Variable names are weard. Also the class name should come form API not hardcoded
     *
     * @param {*} product
     * @param {*} variation
     * @param {*} count
     */
    addToCart(product, variation, item, selected_time_data) {
      const count          = 1;
      const variation_data = this.data.variation_data;

      variation_data['custom_variation_class'] = '\\Bboxdigi\\Events\\Models\\EventReservation';
      variation_data['event_type_item_id']     = item.id;
      variation_data['jumis_event_id']         = selected_time_data.id;
      variation_data['event_date']         = selected_time_data.start_date;
      variation_data['event_time']         = selected_time_data.start_time;

      this.$store.dispatch('basket/ADD_PRODUCT', { product, variation, count, variation_data })
        .then((r) => {
          this.toast(
            this.$t('global.added_to_cart'),
            "is-success"
          );
          this.resetEvents();

        })
        .catch((err) => {
          this.toast(
            err.message,
            "is-danger"
          );
        })
    },

    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        // position: 'is-bottom',
        type: type
      })
    },

    _createBuefyEventObject(date, type, data) {
      return {
        date: this.$dayjs(date, 'DD.MM.YYYY').toDate(),
        type: `event-type-${type}`,
        data: data,
      }
    }
  },

  computed: {
    indicators() {
      return this.bars = 'dots'
    },

    ...mapGetters({
      basketIsLoading: 'basket/isLoading'
    }),
  },

  watch: {
    date: function (value) {
      this.filterDates();
    },
  },
}
</script>
