<template>
  <section class="radi-pats">
    <div class="has-navbar-padding">
      <div class="radi-pats-container">
        <div class="columns">
          <div class="column is-12">
            <!-- <h1 class="radi-title">{{ $t('nav.wedding_rings') }}</h1> -->
            <div class="main-image-box">
              <img :src="mainImage" />
              <div class="main-text">{{ $t("create.main_text") }}</div>
            </div>

            <template v-for="(section, index) in sections" >
                <intersect :threshold="[0.5]" @enter="activeTab = index">
                  <ContentBox
                    :key="`content${index}`"
                    :id="`content${index}`"
                    :title="section.title"
                    :text="bodyOrExtendedBody(section)"
                    :image="section.image"
                    :contact="{
                      name: section.contact_name,
                      text: section.contact_text,
                      image: section.contact_image,
                    }"

                    :is-reverse="(index%2 == 1)"
                  />
                </intersect>
            </template>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import ContentBox from "~/components/pages/radi/ContentBox";
import Intersect from 'vue-intersect'

export default {
  components: {
    ContentBox,
    Intersect,
  },

  async asyncData({error, redirect, i18n, app, $axios}) {
    const [
      sections,
    ] = await Promise.all([
      $axios.$get("/api/v1/content/create-your-own/get-wedding-rings"),
    ]);

    return {
      sections: sections.data,
    };
  },

  data() {
    return {
      mainImage: require("~/assets/img/radi/main_image.png"),
      activeTab: -1,
    };
  },

  methods: {
    goto(id) {
      // var element = this.$refs[id];
      // var top = element.$el.offsetTop - 180;
      // window.scrollTo({
      //     top: top,
      //     left: 0,
      //     behavior: 'smooth'
      // });
      this.$utils.scrollTo(id, -180);
    },

    bodyOrExtendedBody(section) {
      if (section && section.extended_body) {
        return section.extended_body;
      }

      if (section && section.body) {
        return section.body;
      }

      return null;
    }
  },
};
</script>
<style lang="scss" scoped>
  .radi-title {
    margin-bottom: 0.5em;
  }
</style>
