<template>
  <div class="has-navbar-padding">
    <section class="legal-page">
      <div class="columns is-desktop">
        <div class="column is-4-desktop">
          <div class="legal-page__sidebar">
            <h1 style="margin-bottom: 64px" v-html="$t('privacy_policy.title')">
              <!-- Privacy Policy<br>
              & Terms -->
            </h1>
            <b-tabs v-model="activeTab" vertical>
              <b-tab-item v-for="(part, i) in parts" :key="i">
                <template #header>
                  <a @click="$utils.scrollTo(part.slug, -106)">
                    {{ part.name }}
                  </a>
                </template>
              </b-tab-item>
            </b-tabs>
          </div>
        </div>
        <div class="column is-5-desktop">
          <section class="legal-page__main-content">
            <intersect v-for="(part, i) in parts" :key="i" :threshold="[1]" @enter="activeTab = i">
              <section :id="part.slug" class="legal-page--content">
                <h3 class="mb-5 has-line-height-140">
                  {{ part.name }}
                </h3>
                <div class="legal-page--content__body" v-html="part.body" />
              </section>
            </intersect>
          </section>
          <div class="is-flex is-align-items-center pb-1">
            <h3 class="pb-3" v-html="$t('privacy_policy.got_questions')">
              <!-- Got any questions? -->
            </h3>
            <div class="is-flex-grow-1" />
            <nuxt-link class="button-with-underline pb-3" :to="localePath('/contact-us#contact-form')">
              <h3 v-html="$t('privacy_policy.contact_us')">
                <!-- Contact Us → -->
              </h3>
            </nuxt-link>
          </div>
          <hr class="is-grey-alt">
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Intersect from 'vue-intersect'
export default {
  components: { Intersect },

  async asyncData ({ $axios, params }) {

    const [
      parts,
    ] = await Promise.all([
      $axios.$get('/api/v1/content/privacy-section/all'),
    ]);

    return {
      parts: parts.data,
    };
  },

  data () {
    return {
      activeTab: 0,
      // parts: [
      //   {
      //     name: 'Policy of Something',
      //     body: '<h4>This is topic title here</h4><p>Nibh id integer in at proin tellus fermentum tincidunt consequat. Velit, consectetur nibh viverra lacus iaculis sed elementum elit. Enim volutpat nibh tortor, venenatis eros. Aliquam amet ut commodo scelerisque orci. Vestibulum commodo mauris viverra urna eget suscipit ut molestie. Commodo lacus vel cursus facilisis.</p><p>Massa lobortis nullam quisque eget vulputate in. Turpis elementum nec posuere non sed. Sem lectus cras mauris bibendum sit nulla suspendisse amet tincidunt. Urna morbi integer adipiscing felis nulla ultrices. Convallis gravida nunc, urna, lacus scelerisque turpis bibendum mi aliquam. Porttitor purus praesent egestas fames accumsan, tincidunt venenatis. Ut suspendisse aliquet ut mauris. Elit diam odio vitae donec. Tellus sit id nulla dolor pretium quis tempus. Mauris quisque odio erat pretium ullamcorper nunc. Cursus nulla nunc et morbi neque vulputate faucibus feugiat vulputate.</p><h4>Diam, orci sagittis, felis, id sagittis vitae lobortis molestie id.</h4><p>Nunc enim ornare sit mattis egestas. Eget morbi risus commodo non sed vitae. Pulvinar sagittis, id feugiat vivamus arcu, sed dolor, egestas scelerisque. Non ornare eu vulputate mi nibh odio aliquet diam viverra. Dolor integer pellentesque quam phasellus pulvinar pellentesque mi. Mauris fermentum sed ipsum ultricies dui. In nunc, lacinia diam in aliquet ipsum, risus. Pellentesque diam aliquet tortor arcu pharetra mattis aliquet consectetur fringilla.</p><h4>At cras nisi amet enim consectetur tristique elit.</h4><p>Quam neque, id neque facilisis arcu nisi facilisis egestas vitae. Sed gravida nulla nisl, tincidunt a, dignissim eget lectus. Justo, blandit euismod elementum molestie mollis. Natoque odio adipiscing ac et etiam accumsan aliquet et. Nunc, montes, placerat tortor faucibus nibh enim. Fames donec eget pellentesque feugiat volutpat morbi.</p><p>Nunc risus scelerisque turpis nunc interdum arcu tortor. Aliquam mi tincidunt nunc, enim id. Quam aliquam aliquet urna id venenatis sed feugiat tellus, et. Massa adipiscing egestas imperdiet sit. Enim nibh integer varius ut justo, enim. Egestas sit neque faucibus nunc. Porttitor tellus blandit massa sed nibh. Nunc sed sociis amet, dolor sed tellus neque ac tortor. Duis diam nunc pretium vel gravida nibh. Accumsan, non, ultricies venenatis nam dignissim elementum.</p>'
      //   },
      //   {
      //     name: 'Second Category',
      //     body: '<h4>Diam, orci sagittis, felis, id sagittis vitae lobortis molestie id.</h4><p>Nunc enim ornare sit mattis egestas. Eget morbi risus commodo non sed vitae. Pulvinar sagittis, id feugiat vivamus arcu, sed dolor, egestas scelerisque. Non ornare eu vulputate mi nibh odio aliquet diam viverra. Dolor integer pellentesque quam phasellus pulvinar pellentesque mi. Mauris fermentum sed ipsum ultricies dui. In nunc, lacinia diam in aliquet ipsum, risus. Pellentesque diam aliquet tortor arcu pharetra mattis aliquet consectetur fringilla.</p><p>Nunc enim ornare sit mattis egestas. Eget morbi risus commodo non sed vitae. Pulvinar sagittis, id feugiat vivamus arcu, sed dolor, egestas scelerisque. Non ornare eu vulputate mi nibh odio aliquet diam viverra. Dolor integer pellentesque quam phasellus pulvinar pellentesque mi. Mauris fermentum sed ipsum ultricies dui. In nunc, lacinia diam in aliquet ipsum, risus. Pellentesque diam aliquet tortor arcu pharetra mattis aliquet consectetur fringilla.</p>'
      //   },
      //   {
      //     name: 'Terms of Something',
      //     body: '<h4>This is topic title here</h4><p>Nibh id integer in at proin tellus fermentum tincidunt consequat. Velit, consectetur nibh viverra lacus iaculis sed elementum elit. Enim volutpat nibh tortor, venenatis eros. Aliquam amet ut commodo scelerisque orci. Vestibulum commodo mauris viverra urna eget suscipit ut molestie. Commodo lacus vel cursus facilisis.</p><p>Massa lobortis nullam quisque eget vulputate in. Turpis elementum nec posuere non sed. Sem lectus cras mauris bibendum sit nulla suspendisse amet tincidunt. Urna morbi integer adipiscing felis nulla ultrices. Convallis gravida nunc, urna, lacus scelerisque turpis bibendum mi aliquam. Porttitor purus praesent egestas fames accumsan, tincidunt venenatis. Ut suspendisse aliquet ut mauris. Elit diam odio vitae donec. Tellus sit id nulla dolor pretium quis tempus. Mauris quisque odio erat pretium ullamcorper nunc. Cursus nulla nunc et morbi neque vulputate faucibus feugiat vulputate.</p><h4>Diam, orci sagittis, felis, id sagittis vitae lobortis molestie id.</h4><p>Nunc enim ornare sit mattis egestas. Eget morbi risus commodo non sed vitae. Pulvinar sagittis, id feugiat vivamus arcu, sed dolor, egestas scelerisque. Non ornare eu vulputate mi nibh odio aliquet diam viverra. Dolor integer pellentesque quam phasellus pulvinar pellentesque mi. Mauris fermentum sed ipsum ultricies dui. In nunc, lacinia diam in aliquet ipsum, risus. Pellentesque diam aliquet tortor arcu pharetra mattis aliquet consectetur fringilla.</p>'
      //   }
      // ]
    }
  },
}
</script>
