<template>
  <section>
    <div class="maintenance">
      <div class="error-text">
        <img src="/logo-horiz.svg" class="">
        <h1 class="mt-6">{{ $t('__.maintenance.title') }}</h1>
        <div class="error-message">
          <p>{{ $t('__.maintenance.body') }}</p>
        </div>
      </div>
      <div class="error-link">
        <nuxtLink :to="localePath('/')">{{$t('__.maintenance.button')}} -></nuxtLink>
      </div>
    </div>
  </section>
</template>
<script>
import Home from "~/components/icons/Home";

export default {
  layout: 'maintenance',
  name: 'maintenance',

  components: {Home},

  data () {
    return {
      logo: require("~/assets/img/main/logo.svg"),
    }
  },

};
</script>
<style lang="scss" scoped>
  section {
    width: 100%;
    height: 100%;
  }
  .maintenance {
    background-color: #101727;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

    .error-text {
      max-width: 600px;

      img {
        width: 50%;
        height: auto;
        display: block;
        margin: -15vh auto 15vh auto;
        // transform: translateX(-11%);
      }

      .error-message {
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
        text-align: center;
        p {
          font-family: "Manrope";
          font-weight: 500;
          color: #9ea1a8;
          font-size: 1rem;
          line-height: 160%;
        }
      }
    }
    .error-link {
      position: absolute;
      bottom: 18vh;
      right: 22vw;
      max-width: 200px;
      white-space: nowrap;

      a {
        font-size: 2rem;
        line-height: 160%;
        color: #fff;
        text-decoration: underline;
        font-family: "Manrope";
        font-weight: 500;
      }
    }
  }
</style>
