<template>
  <section
    style="padding: 40px"
  >
  <div class="columns is-multiline">
    <div class="column is-9 is-offset-3" style="margin-bottom: 16px;">
      <h1 v-html="`payment Success page!`" />
    </div>
    <div class="column is-3">
        <nuxt-link :to="localePath('/')" class="is-underlined">
          <h2 v-html="`go home`" />
        </nuxt-link>
      </div>
  </div>
  </section>
</template>

<style lang="scss" scoped>
  .columns {
    height: 60vh;
    padding-top: 100px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
</style>
