<template>
  <div class="is-relative">
    <template v-if="images.length > 1">
      <VueSlickCarousel ref="gallery" v-bind="options" v-if="images">
        <b-image v-for="(image, i) in images" :key="i" :src="$imagekit(image, 800)" ratio="440by391" />
      </VueSlickCarousel>
      <a
        class="is-absolute"
        style="top: 50%; transform: translateY(-50%); left: 40px"
        @click="$refs['gallery'].prev()"
      >
        <ArrowLeft size="40" color="white" />
      </a>
      <a
        class="is-absolute"
        style="top: 50%; transform: translateY(-50%); right: 40px"
        @click="$refs['gallery'].next()"
      >
        <ArrowRight size="40" color="white" />
      </a>
    </template>

    <template v-if="images.length == 1">
      <b-image v-for="(image, i) in images" :key="i" :src="$imagekit(image, 800)" ratio="440by391" />
    </template>

    
  </div>
</template>

<script>
import ArrowLeft from '~/components/icons/ArrowLeft'
import ArrowRight from '~/components/icons/ArrowRight'

export default {
  components: { ArrowRight, ArrowLeft },
  props: {
    images: {
      type: Array,
      default: null,
    }
  },
  data () {
    return {
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
        adaptiveHeight: true
      }
    }
  }
}
</script>
