<template>
  <section>
    <contact-us-shop
      class="contact-us-shop"
      v-for="(shop, i) in shops"
      :key="i"
      :shop="shop"
      :reversed="i % 2 !== 0"
      :id="shop.slug"
    />
  </section>
</template>
<script>
import ContactUsShop from './ContactUsShop'
export default {
  components: { ContactUsShop },
  props: {
    shops: {
      type: Array,
      default: () => ([])
    }
  }
}
</script>

<style lang="scss" scoped>
  .contact-us-shop {
    padding-top: 106px;

    &:first-child {
      margin-top: -106px;
    }
  }

</style>
