<template>
  <ValidationObserver v-slot="{ invalid, errors }" ref="form">
  <section class="columns is-desktop">
    <div class="column is-7-desktop">
      <h3 class="mb-4">
        {{ $t('contact_us.leave_a_message') }}
      </h3>
      <div class="columns is-multiline">
        <div class="column is-full">
          <br-input v-model="form.name" :label="$t('contact_us.name')" />
        </div>
        <div class="column is-6">
          <ValidationProvider :name="$t('contact_us.email')" rules="required|email" v-slot="{ errors }" ref="emailValidator">
            <br-input v-model="form.email" :label="$t('contact_us.email')" />
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-6">
          <br-input v-model="form.phone" :label="$t('contact_us.phone')" />
        </div>
        <div class="column is-full">
          <ValidationProvider :name="$t('contact_us.message')" rules="required" v-slot="{ errors }" ref="messageValidator">
            <textarea v-model="form.message" class="br-textarea" :placeholder="$t('contact_us.message')" style="width: 100%; max-width: 100%; height: 200px" />
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-6">
          <b-field class="file is-primary" :class="{'has-name': !! image}">
              <b-upload v-model="image" class="file-label">
                  <span class="file-cta">
                      <b-icon class="file-icon" icon="upload"></b-icon>
                      <span class="file-label">{{ $t('contact_us.upload_text') }}</span>
                  </span>
                  <span class="file-name" v-if="image">
                      {{ image.name }}
                  </span>
              </b-upload>
          </b-field>
        </div>
      </div>
      <div class="is-flex is-align-items-center pb-1">
        <div class="is-flex-grow-1" />
        <a class="button-with-underline pb-3" @click="onSubmit">
          <h3>
            {{ $t('contact_form.send') }}
          </h3>
        </a>
      </div>
      <hr class="is-grey-alt">
    </div>
  </section>
  </ValidationObserver>
</template>

<script>
import BrInput from '~/components/base/BrInput'
import { ValidationProvider, ValidationObserver } from "vee-validate";
export default {
  components: {
    BrInput,
    ValidationProvider,
    ValidationObserver,
  },
  data () {
    return {
      form: {
        first_name: '',
        email: '',
        phone: '',
        message: ''
      },
      image: null
    }
  },

  methods: {
    ressetForm() {
      this.form.name        = '';
      this.form.email       = '';
      this.form.phone       = '';
      this.form.message     = '';
      this.image     = null;

      this.$refs.form.reset();
    },

    onSubmit: function() {
      this.$refs.form.validate()
        .then(success => {
          if (success) {
            // this.toast('All good', 'is-success');
            //Emit form submit Event
            this.submit();
          } else {
            // console.log(this.$refs.form.errors);
            // let first = _keys(this.$refs.form.errors)[0];
            // let msg   = `Something went wrong: <br>${first} - ${this.$refs.form.errors[first]}`;
            //Stop all and Show error toast!
            this.toast(this.$t('error.default_form_error'), 'is-danger');
          }
        })
    },

    submit() {
      let formData = new FormData()
      for (const [key, value] of Object.entries(this.form)) {
        formData.append(`${key}`, value);
      }
      formData.append('image', this.image)
            this.ressetForm();

      this.$axios.$post('/api/v1/contacts/new-message', formData, {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        })
        .then((response) => {
          if (!response.error) {
            this.toast(this.$t('contact_us.post.success'));
            this.ressetForm();
          } else {
            this.toast(this.$t('contact_us.post.error'), 'is-danger');
          }
        })
    },

    /**
     * type: is-white, is-black, is-light, is-dark, is-primary, is-info, is-success, is-warning, is-danger
     */
    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 15000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    },
  },
}
</script>


<style lang="scss" scoped>
.error {
  color: red;
}

.star{
  color:red;
}
</style>
