<template>
  <div>
    <h3 style="margin-top: 28px; margin-bottom: 64px" class="shop-title">
      {{ shop.name }}
    </h3>
    <div class="has-text-medium has-text-small mb-1">
      {{ $t('shop.location') }}
    </div>
    <div style="margin-bottom: 6px" v-html="shop.location"></div>
    <div style="margin-bottom: 64px" v-if="shop.google_maps_link" class="contact-map-link">
      <template v-if="shop.is_online == false">
        <a target="_blank" class="has-text-large has-line-height-160 is-underlined" :href="shop.google_maps_link">
          {{ $t('shop.show_on_map') }}
        </a>
      </template>
    </div>
    <div class="has-text-medium has-text-small mb-1">
      {{ $t('shop.contacts') }}
    </div>
    <div class="has-line-height-160" v-html="shop.contacts" />
  </div>
</template>

<script>
export default {
  props: {
    shop: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>
