<template>
  <div class="columns is-variable is-5">
    <contact-us-shop-details v-if="reversed" class="column is-4" :shop="shop" />
    <div class="column is-8">

      <template v-if="shop.images">
        <!-- <b-image class="mb-4" :src="shop.image.path" /> -->
        <ContactUsShopGalery :images="shop.images" class="mb-4"/>
      </template>

      <notice v-if="shop.isClosed" class="mb-4" :show-button="false">
        <div class="has-line-height-140" style="margin-bottom: 6px; padding-top: 6px">
          {{ $t('shop.message') }}
        </div>
        <div class="has-text-small has-line-height-140 pb-3" v-html="$t('shop.contact_link')"></div>
      </notice>

      <notice v-if="shop.closed_temporary == 1" class="mb-4" :show-button="false">
        <div class="has-line-height-140" style="margin-bottom: 6px; padding-top: 6px" v-html="shop.temporary_text"></div>
        <div class="has-text-small has-line-height-140 pb-3" v-html="$t('shop.contact_link')"></div>
      </notice>

      <!-- <nuxt-link class="has-text-large is-underlined" :to="localePath('/products')">
        {{ $t('shops.online_link') }}
      </nuxt-link> -->

    </div>
    <contact-us-shop-details v-if="!reversed" class="column is-4" :shop="shop" />
  </div>
</template>

<script>
import Notice from '../../base/Notice'
import ContactUsShopDetails from './ContactUsShopDetails'
import ContactUsShopGalery  from './ContactUsShopGalery'



export default {
  components: { ContactUsShopDetails, Notice, ContactUsShopGalery },
  props: {
    reversed: {
      type: Boolean,
      default: false
    },
    shop: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
        adaptiveHeight: true
      }
    }
  }
}
</script>
