<template>
	<div>
		<div class="columns">
			<div class="column is-6">
				<h2 class="special-contact-title">{{ $t('aboutus.special_contacts') }}</h2>
			</div>
			<div class="column is-6">
				<div class="columns special-contacts-box">
					<div class="column is-6" v-for="c in contacts" :key="c.id">
						<img :src="c.image.path">
						<h4>{{ c.name }}  {{ c.lastname }}</h4>
						<p>{{ c.job_title }}</p>
						<p>
							<a :href="'tel:' + c.phone ">{{ c.phone }}</a>
						</p>
						<p>
							<a :href="'mailto:' + c.email ">{{ c.email }}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
		    contacts: {
		      type: Array,
		      default: () => ({})
		    }
		},
	  	data () {
	    	return {
	    		owner1: require("~/assets/img/about_us/owner1.png"),
	    		owner2: require("~/assets/img/about_us/owner2.png")
	    	}
	  	},
	}
</script>
