<template>
  <div class="columns content-box" :class="{ 'is-reverse': isReverse }">
    <div class="column is-6 content-box-text-box">
      <h2 class="content-box-title" v-html="title"></h2>
      <div class="content-box-text" v-html="text"></div>

      <div v-if="slug == 'nameja-br-meistarklase'" class="link-box">

        <nuxt-link :to="localePath({name: 'kalendars'})" class="button is-primary">
          {{ $t('create.reserve_time') }}
        </nuxt-link>

        <nuxt-link :to="localePath({name: 'gift-card-type'})" class="button is-primary">
          {{ $t('create.gift_cards') }}
        </nuxt-link>
      </div>

      <div v-if="to" class="content-box-link">
        <nuxt-link :to="to" class="is-underlined" v-html="$t('create.order_now')"></nuxt-link>
      </div>

      <div v-if="slug != 'nameja-br-meistarklase' && contact" class="column is-6 mt-6 px-0" :class="{ 'is-offset-6': isReverse }">
        <Contact
          :name="contact.name"
          :text="contact.text"
          :image="contact.image"
        />
      </div>
    </div>

    <div class="column is-6 content-box-image-box">
      <div class="is-relative content-gallery content-box-shadow" v-if="isSlider">
        <client-only>
          <template >
            <VueSlickCarousel ref="content-gallery" v-bind="options">
              <img v-for="(img, i) in image" :key="i" :src="$imagekit(img, 600)" class="image" />
            </VueSlickCarousel>
          </template>

        </client-only>

        <a
          class="is-absolute"
          style="top: 50%; transform: translateY(-50%); left: 40px"
          @click="$refs['content-gallery'].prev()"
        >
          <ArrowLeft size="40" color="white" />
        </a>

        <a
          class="is-absolute"
          style="top: 50%; transform: translateY(-50%); right: 40px"
          @click="$refs['content-gallery'].next()"
        >
          <ArrowRight size="40" color="white" />
        </a>
      </div>
      <template v-else>
        <template v-if="video && video.length > 0">
          <video width="100%" autoplay muted loop playsinline :poster="$imagekit(firstImage, 600)">
            <source :src="video[0].path" type="video/mp4">
          </video>
        </template>
        <img v-else :src="$imagekit(firstImage, 600)" class="image content-box-shadow" />
      </template>


    </div>
  </div>
</template>
<script>

import Contact from './Contact';
import _isArray from 'lodash/isArray';
import ArrowLeft from '~/components/icons/ArrowLeft'
import ArrowRight from '~/components/icons/ArrowRight'


export default {
  components: { Contact, ArrowRight, ArrowLeft },

  props: {
    title: String,
    text: String,
    image: [String, Object, Array],
    contact: Object,
    to: String,
    video: Array,
    slug: String,

    isReverse: {
      type: Boolean,
      default: false,
    },
  },

  data () {
    return {
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
        adaptiveHeight: true,
        draggable: true,
        swipe: true
      }
    }
  },

  computed: {
    isSlider() {
      return _isArray(this.image) && this.image.length > 1;
    },

    firstImage() {
      if (_isArray(this.image)) {
        return this.image[0]
      }

      return this.image
    }
  }
};
</script>
