<template>
  <div class="contact-wrap">
    <div class="contact-label has-text-medium has-text-small mb-1">
      <span>{{ $t('contact_us.contacts') }}</span>
    </div>
    <div class="contact-image" v-if="image">
      <b-image :src="$imagekit(image, 600)" ratio="210by258px" />
    </div>
    <div class="contact-info has-line-height-160">
      {{name}}
    </div>
    <div class="contact-info has-line-height-160" v-html="text"></div>
  </div>
</template>

<script>
export default {
  props: {
    name: String,
    text: String,
    image: {
      type: [String,Object],
      default: null,
    }
  }
}
</script>

<style lang="scss" scoped>
.contact {

  &-image ::v-deep {
    .b-image-wrapper > img {
      object-position: top center;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: column;
  }
}
</style>
