<template>
  <section style="padding-top: 80px">
    <div class="error-404">
      <div class="error-text">
        <img src="~/assets/img/error/404.png">
        <div class="error-message">
          <p>{{ $t('error.404_message') }}</p>
        </div>
      </div>
      <div class="error-link">
        <nuxtLink :to="localePath('/')">Atgriezties sākumlapā -></nuxtLink>
      </div>
    </div>  
  </section>
</template>
<script>
export default {
  name: 'error-404',
  props: {
    error: {
      type: Object,
      default: () => {},
    },
  },
};
</script>
<style lang="scss" scoped>
  .error-404 {
    background-color: #101727;
    color: #fff;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .error-text {
      max-width: 450px;
      img {
        width: 85%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .error-message {
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
        text-align: center;
        p {
          font-family: "Manrope";
          font-weight: 500;
          color: #9ea1a8;
          font-size: 1rem;
          line-height: 160%;
        }
      }
    }
    .error-link {
      position: absolute;
      bottom: 18vh;
      right: 22vw;
      max-width: 200px;
      a {
        font-size: 2rem;
        line-height: 160%;
        color: #fff;
        text-decoration: underline;
        font-family: "Manrope";
        font-weight: 500;
      }
    }
  }
</style>