<template>
  <div class="columns is-variable is-3 mb-1 is-mobile" v-if="basketItem">
    <div class="column is-4 is-relative">
      <b-image ratio="20by17" :src="$imagekit(product.main_image, 500)" />
      <span class="is-absolute is-clean has-text-primary has-text-small has-line-height-100 p-1" style="top: 12px; right: 12px">
        {{ basketItem.count }}
      </span>
    </div>
    <div class="column is-8">
      <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
        <div>
          ID: {{ variation.sku }}
        </div>
        <div v-if="!noDelete">
          <a @click="removeItem">
            <Close size="20" />
          </a>
        </div>
      </div>
      <div class="has-text-large mb-1">
        {{ product.name }}
      </div>
      <div class="has-text-large mb-5">
        {{ $utils.parseCurrency(variation.price, basketItem.count) }}
      </div>
      <!-- <div class="mb-1 has-line-height-140">
        {{ product.color[0].name }}
      </div> -->
      <div class="mb-1" v-if="_showVariationsSize">
        <span      v-if="product.type.slug == 'gredzeni'"> {{ $t('product.size.ring') }} </span>
        <span v-else-if="product.type.slug == 'aproce' " > {{ $t('product.size.bracelet') }} </span>
        <span v-else                                     > {{ $t('product.variation') }} </span>

        <span> {{ variation.size }} </span>
      </div>
      <div class="has-line-height-140">
        <span v-for="(tag, index) in product.tags" :key="index">
        {{ tag.title }}
        </span>
      </div>
      <div class="has-line-height-140">
        <ProductDetailsStock :stockIsLoading="false" :isInStock="variation.is_in_stock" />
      </div>
    </div>
  </div>
</template>

<script>
import Close from '../../icons/Close'
import ProductDetailsStock from '~/components/pages/product/partials/ProductDetailsStock.vue'

export default {
  components: { Close, ProductDetailsStock },
  props: {
    basketItem: {
      type: Object,
      default: null,
    },
    noDelete: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    product() {
      return this.basketItem.product;
    },
    variation() {
      return this.basketItem.variation;
    },

    _showVariationsSize() {
      if (this.variation.size == '') {
        return false
      }

      if (this.product.has_size_dropdown && this.product.variations.length > 1) {
        return true;
      }

      return false;
    },
  },

  methods: {
    removeItem() {
      const me = this;

      this.$store.dispatch('basket/REMOVE_PRODUCT', {
        variation: this.variation,
        basketItem: this.basketItem
      }).finally((result) => {
        this.$nuxt.$emit('itemRemovedFromCart');
      })
    }
  },
}
</script>
