<template>
  <div class="checkout-page__summary is-clean">
    <h1 style="margin-bottom: 64px" v-html="$t('checkout.summary')"></h1>

    <div class="sticky">
      <h3 class="mb-4">
        {{ $t('checkout.items') }}
      </h3>
      <div v-for="(basketItem, i) in basktList" :key="i">
        <CheckoutProduct
          :basketItem="basketItem"
          @itemRemoved="itemRemoved"
        />
        <hr class="is-grey-alt-2 mb-4">
      </div>
      <div v-for="(giftcard, i) in basketGiftCards" :key="giftcard.id">
        <CheckoutGiftCard
          :giftcard="giftcard"
          @itemRemoved="itemRemoved"
        />
        <hr class="is-grey-alt-2 mb-4">
      </div>


      <div class="columns" style="margin-top: 16px">
        <!-- <div class="column is-7 is-offset-5"> -->
        <div class="column">
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div>
              {{ $t('basket.subtotal') }}
            </div>
            <div>
              {{ $utils.parseCurrency(subtotal) }}
            </div>
          </div>
          <hr class="is-grey-alt-2 mb-5">

          <div class="item-group mb-5">
            <br-input v-model="promocode" class="mb-2" :label="$t('checkout.promo_code')" :disabled="isDiscountBoxDisabled">
              <template #append-inner>
                <b-button type="is-dark" class="has-text-normal" style="margin-top: -17px" @click="addDiscountCode" :disabled="isDiscountBoxDisabled">
                  {{ $t('checkout.submit') }}
                </b-button>
              </template>
            </br-input>

            <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
                <small>{{ $t('checkout.discount_input_undertext') }}</small>
            </div>
          </div>

          <div class="item-group" v-if="true">
            <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
              <div>
                {{ $t('checkout.delivery_cost') }}
              </div>
              <div>
                {{ !!deliverySumm ? $utils.parseCurrency(deliverySumm) : $utils.parseCurrency(0) }}
              </div>
            </div>
          </div>

          <div class="item-group discounts" v-if="totalDiscount">
            <hr class="is-grey-alt-2 mb-5">
            <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
              <div class="discounts-name">
                {{ $t('checkout.savings') }}
              </div>
            </div>
            <div
              class="is-flex is-justify-content-space-between is-align-items-center mb-2 discounts-item"
              v-for="(discount, index) in discountList" :key="index"
            >
              <div class="remove-discount">
                <a @click="$store.dispatch('basket/REMOVE_DISCOUNT', discount.discount)">
                  <Close size="20" />
                </a>
              </div>
              <div class="discounts-name">
                <small>{{ discount.discount.title }}</small>
              </div>
              <div class="has-text-success price">
                {{ $utils.parseCurrency(discount.savings) }}
              </div>
            </div>
          </div>
          <hr class="is-grey-alt-2 mt-2 mb-2" v-if="totalDiscount">
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-6" v-if="totalDiscount">
            <small>{{ $t('checkout.discount_undertext') }}</small>
          </div>
          <hr class="is-grey-alt-2 mt-2 mb-6" v-else>

          <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div class="h3">
              {{ $t('checkout.total') }}
            </div>
            <div class="h3">
              {{ !!total ? $utils.parseCurrency(total) : $utils.parseCurrency(0) }}
            </div>
          </div>
          <hr class="is-grey-alt-2">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import BrInput from '../../base/BrInput'
import Close from '~/components/icons/Close'
import CheckoutProduct from './CheckoutProduct'
import CheckoutGiftCard from './CheckoutGiftCard'
export default {
  components: { BrInput, CheckoutProduct, CheckoutGiftCard, Close },
  data () {
    return {
      promocode: ''
    }
  },

  computed: {
    ...mapState({
      delivery: state => state.basket.delivery
    }),
    ...mapGetters({
      basktList: 'basket/list',
      basketGiftCards: 'basket/giftCardList',
      totalDiscount: 'basket/discount',
      discountList: 'basket/discountList',
      subtotal: 'basket/subtotal',
      total: 'basket/total',
      basketCount: 'basket/count',

      deliverySumm: 'basket/deliverySumm',
      paymentSumm: 'basket/paymentSumm',
      isDiscountBoxDisabled: 'basket/isDiscountBoxDisabled',
    })
  },

  methods: {
    addDiscountCode() {
      const promo = this.promocode;
      this.$store.dispatch('basket/ADD_DISCOUNT_CODE', promo);

      this.promocode = null;
    },

    itemRemoved() {
      console.log('checkpout summary', 'itemRemoved');
      this.$emit('refresh');
    },
  },

  created() {
    this.$nuxt.$on('itemRemovedFromCart', () => {
      console.log('itemRemovedFromCart')
      this.itemRemoved();
    })
  }
}
</script>

<style lang="scss" scoped>
.sticky {
  position: sticky;
  top:110px
}
.price {
  white-space: nowrap;
}

.discounts {
  .remove-discount {
    top: 0;
    bottom: 0;
    right: 100%;
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;

    transition: opacity 200ms;
  }

  &-item {
    position: relative;

    &:hover {
      .remove-discount {
        opacity: 1;
      }
    }
  }

  &-name {
    padding-right: 10px;
  }
}
</style>
