<template>
  <div class="columns is-variable is-3 mb-1 is-mobile" v-if="giftcard">
    <div class="column is-4 is-relative">
      <b-image ratio="20by17" :src="$imagekit(image)" />
    </div>
    <div class="column is-8">
      <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
        <div>
          {{ $t('gift_card.label') }}
        </div>
        <div>
          <a @click="removeItem">
            <Close size="20" />
          </a>
        </div>
      </div>
      <div class="has-text-large mb-1">
        {{ $utils.optional(type, 'title') }}
      </div>
      <div class="has-text-large mb-5">
        {{ $utils.parseCurrency(giftcard.value) }}
      </div>
      <!-- <div class="mb-1 has-line-height-140">
        {{ product.color[0].name }}
      </div> -->
      <!-- <div class="mb-1">
        {{ $t('product.size') }}: {{ variation.size }}
      </div>
      <div class="has-line-height-140">
        <span v-for="(tag, index) in product.tags" :key="index">
        {{ tag.title }}
        </span>
      </div> -->
    </div>
  </div>
</template>

<script>
import Close from '../../icons/Close'
export default {
  components: { Close },
  props: {
    giftcard: {
      type: Object,
      default: null,
    },
  },
  computed: {
    type() {
      if (this.giftcard) {
        return this.giftcard.gift_card_type;
      }

      return null
    },
    image() {
      if (this.type && this.type.images.length > 0) {
        return this.type.images[0]
      }
      return null;
    },
  },
  methods: {

    removeItem() {

      this.$store
        .dispatch('basket/REMOVE_GIFT_CARD', this.giftcard)
        .finally((result) => {
          this.$nuxt.$emit('itemRemovedFromCart');
        })
    }
  },
}
</script>
