<template>
  <ValidationObserver v-slot="{ invalid, errors }" ref="form">
    <div class="checkout-page__form" @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="reset">
      <h1 style="margin-bottom: 64px" v-html="$t('checkout.form')"></h1>

      <div v-if="isDev" class="is-flex is-align-items-center pb-1">
        <a class="button is-dark" @click="mock">TEST: Autofill form to test!</a>
      </div>

      <h4 class="mb-4"><span class="star"> *</span> - {{ $t('checkout.star') }}</h4>

      <h3 class="mb-4">
        {{ $t('checkout.contact') }}<span class="star"> *</span>
      </h3>

      <!-- Top Main info -->
      <div class="columns is-multiline mb-4">
        <div class="column is-12">
          <ValidationProvider :name="$t('checkout.email')" rules="required|email" v-slot="{ errors }" ref="emailValidator">
            <br-input v-model="checkout.email" :label="$t('checkout.email')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>

        <div class="column is-6">
          <ValidationProvider :name="$t('checkout.first_name')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.name" :label="$t('checkout.first_name')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>

        <div class="column is-6">
          <ValidationProvider :name="$t('checkout.last_name')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.lastname" :label="$t('checkout.last_name')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>

        <div class="column is-6">
          <ValidationProvider :name="$t('checkout.phone_prefix')" rules="required" v-slot="{ errors }" ref="phonePrefixValidator">
            <BrAutocomplete
              v-model="checkout.phone_prefix"
              class="br-autocomplete-outlined"
              :placeholder="$t('checkout.phone_prefix')"
              :data="phoneCodes"
              display-field="name"
              value-field="value"
              open-on-focus
              clearable
            />

            <!-- <b-select v-model="checkout.phone_prefix" class="br-select-outlined phone-option-select" :placeholder="$t('checkout.phone_prefix')">
              <template v-for="(code, index) in phoneCodes">
                <option :value="'+' + code['value']" :key="`checkout.phone_prefix${index}`" class="phone-option">
                  {{code['name']}}
                </option>
              </template>
            </b-select> -->
            <!-- <br-input v-model="checkout.phone_prefix" :label="$t('checkout.phone_prefix')" /> -->
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-6">
          <ValidationProvider :name="$t('checkout.phone_number')" rules="required|phone" v-slot="{ errors }" ref="phoneValidator">
            <br-input v-model="checkout.phone" :label="$t('checkout.phone_number')" />
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-full pt-6">
          <h3 class="mb-4">
            {{ $t('checkout.shiping_method') }}<span class="star"> *</span>
          </h3>

          <notice class="mb-4" v-if="$te('checkout.ship_info')">
            {{ $t('checkout.ship_info') }}
          </notice>
        </div>
        <div class="column is-full">
          <!-- <b-select v-model="checkout.country_code" class="br-select-outlined" :placeholder="$t('checkout.country')">
            <template v-for="(country, index) in countries">
              <option :value="country.code" :key="`checkout.country_code${index}`">
                {{country.name}}
              </option>
            </template>
          </b-select> -->
          <ValidationProvider :name="$t('checkout.country_code')" rules="required" v-slot="{ errors }" ref="countryCodeValidator" tag="div">
            <BrAutocomplete
              v-model="checkout.country_code"
              class="br-autocomplete-outlined"
              :placeholder="$t('checkout.country')"
              :data="countries"
              display-field="name"
              value-field="code"
              open-on-focus
              clearable
            />
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
      </div>

      <div class="is-flex" style="margin-bottom: 64px" v-if="false">
        <div class="has-line-height-140" v-html="$t('checkout.user_checkout_discount_info')"></div>
      </div>

      <!-- Delivery Type -->
      <div class="columns pt-4">
        <div class="column is-full mb-6">
          <ValidationProvider :name="$t('checkout.shiping_method')" rules="required" v-slot="{ errors }" tag="div">
            <ShippingList
              v-model="checkout.delivery"
              @onSetMetadata="setDeliveryMetadata"
              @input="setDelivery"
              :methods="deliveryMethods"
            />
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
      </div>

      <!-- Is Business or Presonal -->
      <div class="columns is-multiline mb-2">
        <div class="column is-6">
          <BrRadio v-model="checkout.is_business" :native-value="false">
            {{$t('checkout.is_personal')}}
          </BrRadio>
        </div>
        <div class="column is-6">
          <BrRadio v-model="checkout.is_business" :native-value="true">
            {{$t('checkout.is_business')}}
          </BrRadio>
        </div>
      </div>

      <h3 class="mb-4" v-if="_deliveryNeedsAddress() || checkout.is_business">
        {{ $t('checkout.delivery_address') }} <!-- <span class="star"> *</span> -->
      </h3>

      <!-- Address info -->
      <div class="columns is-multiline mb-4">
        <div class="column is-12" v-if="checkout.is_business">
          <ValidationProvider :name="$t('checkout.business_name')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.business_name" :label="$t('checkout.business_name')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-12" v-if="checkout.is_business">
          <ValidationProvider :name="$t('checkout.reg_nr')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.reg_nr" :label="$t('checkout.reg_nr')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>

        <div class="column is-12" v-if="_deliveryNeedsAddress()">
          <ValidationProvider :name="$t('checkout.address')" rules="required" v-slot="{ errors }" ref="addressValidator">
            <br-input v-model="checkout.address" :label="$t('checkout.address')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>

        <div class="column is-8" v-if="_deliveryNeedsAddress()">
          <ValidationProvider :name="$t('checkout.city')" rules="required" v-slot="{ errors }" ref="cityValidator">
            <br-input v-model="checkout.city" :label="$t('checkout.city')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-4" v-if="_deliveryNeedsAddress()">
          <ValidationProvider :name="$t('checkout.zip_code')" rules="required" v-slot="{ errors }" ref="zip_codeValidator">
            <br-input v-model="checkout.zip_code" :label="$t('checkout.zip_code')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>

        <!-- <div class="column is-6">
          <b-select v-model="checkout.state" class="br-select-outlined" :placeholder="$t('checkout.state')" disabled="true" />
        </div> -->

        <!-- <div class="column is-4">
          <br-input v-model="checkout.code" :label="$t('checkout.country_code')" />
        </div> -->

        <div class="column is-12" v-if="checkout.delivery && checkout.delivery.has_dynamic_price">
          <div class="is-flex is-justify-content-space-between is-align-items-center">
            <button class="button is-dark" @click="recalculateDelivery()">
              {{$t('checkout.calcualte_delivery_button')}}
            </button>

            <div class="is-text-align-right">

              <span v-if="deliverySumm == 0">
                {{ $t('checkout.unkown_delivery_cost') }}
              </span>
              <span v-else>
                {{ $t('checkout.delivery_cost') }}:
                <strong>{{$utils.parseCurrency(deliverySumm)}}</strong>
              </span>
            </div>
          </div>
        </div>

      </div>

      <!-- Is Billing address different -->
      <div class="columns">
        <div class="column is-full">
          <div class="is-flex is-justify-content-flex-start">
            <b-checkbox v-model="checkout.is_different_billing_adress" class="mr-0">
              {{ $t('checkout.is_different_adress') }}
            </b-checkbox>
          </div>
        </div>
      </div>

      <!-- Billing address -->
      <div class="columns is-multiline" v-if="checkout.is_different_billing_adress">
        <div class="column is-full mt-2">
          <h3 class="">
            {{ $t('checkout.billing') }} <span class="star"> *</span>
          </h3>
        </div>
        <div class="column is-full">
          <ValidationProvider :name="$t('checkout.address')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.billing_address" :label="$t('checkout.address')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-8">
          <ValidationProvider :name="$t('checkout.city')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.billing_city" :label="$t('checkout.city')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-4">
          <ValidationProvider :name="$t('checkout.zip_code')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.billing_zip_code" :label="$t('checkout.zip_code')" :error="errors[0]"/>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
        <div class="column is-full">
          <!-- <b-select v-model="checkout.billing_country_code" class="br-select-outlined" :placeholder="$t('checkout.country')">
            <template v-for="(country, index) in countries">
              <option :value="country.code" :key="`checkout.billing_country_code${index}`">
                {{country.name}}
              </option>
            </template>
          </b-select> -->

          <ValidationProvider :name="$t('checkout.billing_country_code')" rules="required" v-slot="{ errors }" ref="billingCountryCodeValidator">
            <BrAutocomplete
              v-model="checkout.billing_country_code"
              class="br-autocomplete-outlined"
              :placeholder="$t('checkout.country')"
              :data="countries"
              display-field="name"
              value-field="code"
              open-on-focus
              clearable
            />
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
      </div>

      <!-- Payment Type -->
      <div class="columns">
        <div class="column is-full my-6">
          <ValidationProvider :name="$t('checkout.payment_method')" rules="required" v-slot="{ errors }" tag="div">
            <PaymentList
              v-model="checkout.payment"
              @onSetMetadata="setPaymentMetadata"
              @input="setPayment"
              :methods="paymentMethods"
            ></PaymentList>
            <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
          </ValidationProvider>
        </div>
      </div>

      <h3 class="mb-2">
        {{ $t('checkout.notes') }}
      </h3>

      <div class="mb-4">
        {{ $t('checkout.additional') }}
      </div>

      <div class="mb-6">
        <textarea v-model="checkout.comment" class="br-textarea" :placeholder="$t('checkout.please_let')" style="width: 100%; max-width: 100%; height: 200px" />
      </div>

      <div class="columns">
        <div class="column is-full mt-6">
          <div class="mb-2">
            <ValidationProvider :name="$t('checkout.agree_to_rules')" rules="agree_to_rules" v-slot="{ errors }">
              <b-checkbox v-model="checkout.agree_to_rules" class="mr-0" >
                <span>
                  {{ $t('checkout.agree_to_rules') }}
                </span>
                <a target="_blank" :href="localePath('/legal')" class="button-with-underline">
                  {{ $t('checkout.agree_to_rules_linkname') }}
                </a>
              </b-checkbox>
              <div v-if="errors[0]" class="error mt-4">{{ $t(errors[0]) }}</div>
            </ValidationProvider>
          </div>
        </div>
      </div>

      <div class="is-flex mb-3" v-if="true">
        <ValidationProvider :name="$t('checkout.sub_title')" rules="" v-slot="{ errors }" ref="subscribeValidator">
          <b-checkbox v-model="checkout.subscribe" class="mr-0 is-float-right" >
            {{ $t('checkout.sub_title') }}
          </b-checkbox>
          <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
        </ValidationProvider>
      </div>

      <div class="is-flex is-align-items-center pt-6 pb-1 is-hidden-touch">

        <nuxt-link :to="localePath('/basket')">
          {{ $t('checkout.return') }}
        </nuxt-link>
        <div class="is-flex-grow-1" />

        <!-- <a class="button-with-underline pb-3" @click="onSubmit"> -->
        <a @click="onSubmit"
          class="py-2 px-4 button has-text-normal is-dark pb-3"
          style="height:auto;"
        >
          <h3>
            {{ $t('checkout.proceed') }}
          </h3>
        </a>

      </div>

      <hr class="is-grey-alt">
    </div>
  </ValidationObserver>
</template>
<script>
import _reduce from 'lodash/reduce'
import _values from 'lodash/values'
import _keys from 'lodash/keys'

import BrInput from '~/components/base/BrInput'
import SelectableBox from '~/components/base/SelectableBox'
import Notice from '~/components/base/Notice'
import BrRadio from '~/components/base/BrRadio'
import BrAutocomplete from '~/components/base/BrAutocomplete'

import ShippingList from './partials/ShippingList'
import PaymentList from './partials/PaymentList'

import { ValidationProvider, ValidationObserver } from "vee-validate";
import { mapGetters, mapState } from 'vuex'

export default {

  components: {
    ValidationProvider,
    ValidationObserver,
    BrRadio,
    BrInput,
    BrAutocomplete,
    Notice,
    ShippingList,
    PaymentList,
    SelectableBox,
  },

  props: {
    paymentMethods: Array,
    deliveryMethods: Array,
    countries: Array,
  },

  data () {
    return {
      checkout: {
        email: null,
        subscribe: false,

        is_business: false,

        business_name: null,
        reg_nr: null,
        name: null,
        lastname: null,
        address: null,
        city: null,
        zip_code: null,
        country_code: null,
        phone: null,
        phone_prefix: null,

        is_different_billing_adress: false,
        billing_address: null,
        billing_city: null,
        billing_zip_code: null,
        billing_country_code: null,

        delivery: null,
        delivery_meta: null,

        payment: null,
        payment_meta: null,

        comment: null,

        agree_to_rules: false,
      },

      selectedCountry: null,

      phoneCodes: this.phoneCodesList(),

      isDev: process.env.NODE_ENV !== 'production'
    }
  },

  computed: {
    ...mapGetters({
      deliveryPriceError: 'basket/deliveryPriceError',
      deliverySumm: 'basket/deliverySumm',
    })
  },

  methods: {
    _get_user() {
      return {
        email         : this.checkout.email,
        subscribe     : this.checkout.subscribe,
        business_name : this.checkout.business_name,
        reg_nr        : this.checkout.reg_nr,
        name          : this.checkout.name,
        lastname      : this.checkout.lastname,
        address       : this.checkout.address,
        city          : this.checkout.city,
        zip_code      : this.checkout.zip_code,
        country_code  : this.checkout.country_code,
        phone         : this.checkout.phone,
      };
    },

    _deliveryNeedsAddress() {
      if (this.checkout.delivery == null) {
        return true;
      }

      const is_mandatory = this.$utils.optional(this.checkout.delivery, 'is_adress_mandatory', null);
      if (is_mandatory == '1' || is_mandatory == true) {
        return true;
      }

      return false;
    },

    _deliveryHasDynamicPricing() {
      if (this.checkout.delivery == null) {
        return false;
      }

      const has_dynamic_price = this.$utils.optional(this.checkout.delivery, 'has_dynamic_price', null);
      if (has_dynamic_price == '1' || has_dynamic_price == true) {
        return true;
      }

      return false;
    },

    _deliveryHasValidPrice() {
      if (this.checkout.delivery == null) {
        //if no delivery is selected, then form validation will filter out errors
        return true;
      }

      // console.log("DELIVERY", this.checkout.delivery, this.deliveryPriceError);
      const has_price_errors = this.deliveryPriceError;

      if (has_price_errors == null) {
        return true;
      }

      return false;
    },

    mock() {
      this.checkout.email = 'adx@adx.lv';
      this.checkout.subscribe = true;

      this.checkout.name = "Guntis";
      this.checkout.lastname = "Sulcs";
      this.checkout.address = "Lot 2 / 127 Hardy Road";
      this.checkout.city = "URILA";
      this.checkout.zip_code = "2620";
      this.checkout.country_code = "LV";
      this.checkout.phone = "28667709";

      this.checkout.delivery = null;
      this.checkout.delivery_meta = null;

      this.checkout.payment = null;
      this.checkout.payment_meta = null;

      this.checkout.comment = null;
    },

    setDeliveryMetadata(e) {
      this.checkout.delivery_meta = e;
    },
    setPaymentMetadata(e) {
      this.checkout.payment_meta = e;
    },

    setDelivery(delivery = null) {
      if (delivery == null) {
        delivery = this.checkout.delivery;
      }

      if (delivery == null) {
        return null;
      }

      delivery.checkout = {
        name: this.checkout.name,
        lastname: this.checkout.lastname,
        address: this.checkout.address,
        city: this.checkout.city,
        zip_code: this.checkout.zip_code,
        country_code: this.checkout.country_code,
        phone: this.checkout.phone,
      }

      this.$store.dispatch('basket/SET_DELIVERY', delivery)
    },

    recalculateDelivery() {
      const me = this;
      const delivery = this.checkout.delivery;

      if (delivery == null) {
        this.toast('Lūdzu pārbaudi vai ir norādīta piegāde', 'is-danger');
        return null;
      }


      const formValid = _reduce([
        'addressValidator',
        'cityValidator',
        'zip_codeValidator',
      ], (prev, validator) => {
        try {
          me.$refs[validator].validate();
          return prev && me.$refs[validator].flags.valid
        } catch (error) {}
      }, true);

      if (!formValid) {
        this.toast('Lūdzu pārbaudi vai ir norādīta piegādes informācija', 'is-danger');
        return null;
      }

      delivery.checkout = {
        name: this.checkout.name,
        lastname: this.checkout.lastname,
        address: this.checkout.address,
        city: this.checkout.city,
        zip_code: this.checkout.zip_code,
        country_code: this.checkout.country_code,
        phone: this.checkout.phone,
      }

      if (!this.checkout.address) {
        this.toast('Lūdzu pārbaudi vai ir norādīta piegāde', 'is-danger');
        return null;
      }

      this.$store
        .dispatch('basket/RECALCULATE_DELIVERY', delivery)
        .catch((error) => {
          // const has_price_errors = this.$utils.optional(this.checkout.delivery, 'price_errors', null);
          this.toast(error.message, 'is-danger');
          console.log(error);
        })
    },

    phoneCodesList() {
      const countryCodes = require('country-codes-list')
      // const myCountryCodesObject = countryCodes.customList('countryCallingCode', '{countryCode}: +{countryCallingCode}', '{countryCode}')
      const myCountryCodesObject = countryCodes.customArray({name: '{countryNameEn} +{countryCallingCode}', value: '+{countryCallingCode}'}, { sortBy: 'value' });

      return myCountryCodesObject;
    },

    setPayment(payment) {
      if (payment) {
        payment.checkout = {
          name: this.checkout.name,
          lastname: this.checkout.lastname,
          address: this.checkout.address,
          city: this.checkout.city,
          zip_code: this.checkout.zip_code,
          country_code: this.checkout.country_code,
          phone: this.checkout.phone,
        };
      }

      this.$store.dispatch('basket/SET_PAYMENT', payment)
    },

    onSubmit: function() {

      if (!this._deliveryHasValidPrice()) {
        this.toast('Lūdzu pārbaudi vai ir norādīta piegādes adrese un aprēķināta piegādes summa', 'is-danger');

        return null;
      }

      this.$refs.form.validate()
        .then(success => {
          if (success) {
            // this.toast('All good', 'is-success');
            //Emit form submit Event
            this.$emit('submit', this.checkout);
          } else {
            // console.log(this.$refs.form.errors);
            // let first = _keys(this.$refs.form.errors)[0];
            // let msg   = `Something went wrong: <br>${first} - ${this.$refs.form.errors[first]}`;
            //Stop all and Show error toast!
            this.toast(this.$t('error.default_form_error'), 'is-danger');
          }
        })
    },

    checkForJumisDiscount() {
      const user = this._get_user();

      this.$store.dispatch('basket/ADD_USER_DISCOUNT', user);
    },

    updateDelivery() {
      const user = this._get_user();

      this.$store.dispatch('basket/UPDATE_COUNTRY', user)
        .then((cart) => {
          this.checkout.delivery = null;
          this.checkout.delivery_meta = null;
        })
        .finally((stuff) => {
          console.log("updateDelivery::FINALY");
          this.$emit('refresh');
        })
    },

    checkForSubscribeDiscount() {
      const user = this._get_user();
      // this.$store.dispatch('basket/ADD_SUBSCRIBED_DISCOUNT', user);
    },

    reset() {
      ////console.log('Yup, wee reset!');
    },

    /**
     * type: is-white, is-black, is-light, is-dark, is-primary, is-info, is-success, is-warning, is-danger
     */
    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    }
  },

  created() {
    this.$nuxt.$on('itemRemovedFromCart', () => {
      this.checkout.delivery = null;
      this.checkout.delivery_meta = null;
    })
  },

  watch: {
    'checkout.email': function(newValue, oldValue) {
      const me = this;
      setTimeout(() => {
        if (me.$refs['emailValidator'].flags.valid) {
          me.checkForJumisDiscount();
        }
      }, 50);
    },

    'checkout.phone': function(newValue, oldValue) {
      const me = this;
      setTimeout(() => {
        if (me.$refs['phoneValidator'].flags.valid) {
          me.checkForJumisDiscount();
        }
      }, 50);
    },

    // 'checkout.subscribe': function(newValue, oldValue) {
    //   const me = this;
    //   setTimeout(() => {
    //     if (me.$refs['subscribeValidator'] && me.$refs['subscribeValidator'].flags.valid) {
    //       me.checkForSubscribeDiscount();
    //     }
    //   }, 50);
    // },

    'checkout.country_code': function(newValue, oldValue) {
      const me = this;
      setTimeout(() => {
        me.updateDelivery();
      }, 50);
    },
  }
}
</script>

<style lang="scss" scoped>
.error {
  color: red;
}

.star{
  color:red;
}
</style>
