<template>
  <div class="product-category">
    <ProductCategory :type="type" :collection="collection"></ProductCategory>
  </div>
</template>
<script>
  import ProductCategory from "~/components/pages/product/ProductCategory";
  export default {
    name: "ProductsPage",
    components: { ProductCategory },

    data() {
      return {
        type: this.$route.params.type,
        // collection: this.$route.params.slug,
      };
    },

    async asyncData ({ $axios, params }) {
      const collection = await $axios.$get('/api/v1/products/collection/'+ params.slug)

      return {
        collection: collection.data,
      }
    },


  }
</script>
