<template>
  <div class="search-results has-navbar-padding">
    <div class="products-page" v-if="searchData">
      <h2 class="search-title" v-if="searchData && searchData.variations.data.length > 0">Produkti</h2>
      <div class="columns is-multiline is-mobile is-variable is-2 products-columns" style="gap: 48px 0">
        <template v-if="searchData && searchData.variations.data.length > 0">
          <product v-for="(variation, i) in searchData.variations.data" :key="variation.id"
            class="column is-6-touch is-4-desktop is-3-fullhd" :product="variation.product" :variation="variation"
            show-color />
          <div class="column is-12">
            <b-paginati on v-model="currentPage" :total="paginator.total" :current.sync="paginator.current"
              :per-page="paginator.perPage" order="is-centered" size="is-small" icon-prev="chevron-left"
              icon-next="chevron-right" :aria-next-label="$t('pager.next')" :aria-previous-label="$t('pager.back')"
              :aria-page-label="$t('pager.page-label')" :aria-current-label="$t('pager.current-label')"
              @change="openPage">
            </b-paginati>
          </div>
        </template>
      </div>
      <h2 class="search-title" v-if="searchData.other.length > 0">Citi</h2>
      <template v-if="searchData.other.length > 0">
        <div class="columns" v-for="other in searchData.other">
          <div class="column is-2">
            <img :src="other.image[0].path">
          </div>
          <div class="column is-10">
            <div v-html="other.title"></div>
            <div v-html="other.body"></div>
          </div>
        </div>
      </template>
    </div>

    <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>
<script>
import Product from '../../components/partial/Product'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    Product,
    InfiniteLoading,
  },

  data() {
    return {
      search: this.$route.params.search,
      currentPage: 1,
      isLoading: true,

      paginator: {
        current: 1,
        total: 0,
        perPage: 8,
      },

      searchData: null,
    }
  },

  // async asyncData({ $axios, params, redirect }) {
  //   const [
  //     search,

  //   ] = await Promise.all([
  //     $axios.$get(`/api/v1/products/search/${params.search}`),
  //   ]);

  //   return {
  //     searchData: search.data,
  //   }
  // },

  fetch() {
    this.openPage(1);
  },

  methods: {

    openPage($page) {
      this.isLoading = true;

      this.getProducts($page)
        .then((response) => {
          this.pushProducts(response);
          this.isLoading = false
        })
        .catch((err) => {
          this.isLoading = false
          console.log(err);
        });
    },

    getProducts(page) {
      let result = this.$axios.$get(`/api/v1/products/search/${this.$route.params.search}?page=${page}`);
      return result;
    },

    pushProducts(response) {
      console.log("pushProducts", response, response.data);

      if (response.data && response.data.variations) {
        const result = response.data;

        this.searchData = result;

        this.paginator.total = parseInt(result.products.total);
        this.paginator.perPage = parseInt(result.products.per_page);
        this.paginator.current = parseInt(result.products.current_page);

        this.currentPage = parseInt(result.products.current_page);
        this.lastPage = parseInt(result.last_page);
        return result;
      }

      return null;
    },
  },

  mounted() {

    if (this.searchData && this.searchData.variations.data.length > 1) {
      this.paginator.current = this.searchData.variations.current_page
      this.paginator.total   = this.searchData.variations.total
      this.paginator.perPage = this.searchData.variations.per_page
    }
  },

}
</script>
